/* Grid config */
$grid-columns: 24;
$grid-gutter-width: 20px;
$container-large-desktop: (1180px + $grid-gutter-width);

/* Typography */
$primaryFont: '';
$secondaryFont: '';

$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;

/* Colors */
$black: #000000;
$white: #ffffff;

/* Styles */
$primaryColor: $white;
$secondaryColor: $black;
$bodyTextColor: $black;
$borderColor: $black;
