<footer class="footer">
  <div class="footer-content-flags">
    <p>Compra segura</p>
    <ul class="footer-content__list--gateways">
      <li>
        <span class="footer__gateways--amex"></span>
      </li>
      <li>
        <span class="footer__gateways--mastercard"></span>
      </li>
      <li>
        <span class="footer__gateways--visa"></span>
      </li>
      <li>
        <span class="footer__gateways--hypercard"></span>
      </li>
      <li>
        <span class="footer__gateways--elo"></span>
      </li>
      <li>
        <span class="footer__gateways--diners"></span>
      </li>
      <li>
        <span class="footer__gateways--shoebiz-card"></span>
      </li>
    </ul>
    <ul class="footer-content__list--secure">
      <li>
        <span class="footer__secure--lets-encrypt"></span>
      </li>
      <li>
        <a href="http://secure.vtex.com/?an=lojashoebiz" target="_blank" class="footer__secure--pci">PCI</a>
      </li>
    </ul>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom__text">
      Shoebiz . Todos os direitos reservados. Conheça nossa Política de Privacidade SHOEBIZ COMÉRCIO DE CALÇADOS LTDA . - CNPJ: 07.639.530/0021-77 - Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP
    </div>

    <ul class="footer-copy__list">
      <li>
        <a href="http://penseavanti.com.br/" target="_blank" class="footer__copy--avanti"></a>
      </li>
      <li>
        <a href="https://www.vtex.com/" target="_blank" class="footer__copy--vtex"></a>
      </li>
    </ul>
  </div>
</footer>