<header>
  <div class="wrapper">
    <div class="header-contents">
      <a href="/">
        <img src="/arquivos/shoebiz-logo.png" alt="ShoeBiz">
      </a>
      <div class="header-compra-segura"><i></i> <span>Compra <strong>100% segura</strong></span></div>
    </div>
  </div>
</header>
