<header>
  <div class="header-contents">
    <div class="header-contents__logo">
      <a href="/"><img src="/arquivos/logo-#.png" alt="#"/></a>
    </div>
    <div class="header-contents__compra-segura">
      <i></i>
      <span>Compra 100% segura</span>
    </div>
  </div>
</header>
