<footer>
  <div class="footer-top">
    <ul class="footer-payment">
      <li class="footer-payment__title">Pagamento</li>
      <li class="footer-payment__item"></li>
    </ul>
    <ul class="footer-security">
      <li class="footer-security__title">Site Seguro</li>
      <li class="footer-security__item"></li>
      </li>
    </ul>
    <div class="footer-copyright">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__credits">
      <a class="credits-avanti" href="#" target="_blank"><img src="/arquivos/icon-footer-copy-avanti.png"/></a>
      <a class="credits-vtex" href="http://www.vtex.com/" target="_blank"><img src="/arquivos/icon-footer-copy-vtex.png"/></a>
    </div>
  </div>
</footer>
