<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
  <head>
    <vtex:metaTags />
    <meta name="controller" content="List" />

    <!-- START: Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END: Metatags -->

    <!-- START: Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- END: Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- START: Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- END: Header -->

    <!-- START: Main -->
    <!-- END: Main -->

    <!-- START: Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- END: Generico -->

    <!-- START: Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- END: Footer -->

    <!-- START: Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- END: Scripts -->
  </body>
</html>
