.bread-crumb {
  ul {
    @include resetList();
    @include clearfix();
    display: flex;
    align-items: center;
    padding: 18px 0 14px;
  }
  
  li {
    &:before {
      color: $mediumGray;
      content: '|';
      display: inline-block;
      font-size: 12px;
      font-weight: $fontRegular;
      margin: 0 20px;
    }

    &:first-child {
      &:before {
        display: none;
      }

      a {
        font-size: 0;

        &:before {
          content: 'Home';
          display: inline;
          font-size: 12px;
          color: $black;
        }
      }
    }

    &.last,
    &:last-child {
      color: $black;
      font-weight: $fontBold;
      a {
        color: $black;
        font-weight: $fontBold;
      }
    }
  }
  a {
    color: $black;
    font-size: 12px;
    font-weight: $fontRegular;
  }
}