.contact-form {
  &--success {
    .contact-form__success {
      display: block;
    }

    .contact-form__field,
    .disclaimer-form {
      display: none;
    }
  }

  &--loading {
    .contact-form__button {
      font-size: 0;

      &:after {
        @extend .loading-white;

        background-size: cover;
        content: '';
        display: inline-block;
        width: 36px;
        height: 20px;
        vertical-align: middle;
      }
    }
  }
}

.contact-form__success {
  color: $greenBlue;
  border: solid 1px $greenBlue;
  background-color: $white;
  font-size: 16px;
  display: none;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto 0;
}

.contact-form {

}

.contact-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}


.contact-form__field {
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $screen-md-min){
    &.half-row {
      width: calc( ( 100% - 20px ) / 2 )
    }
  }

  &.button-row {
    text-align: center;
  }

  select {
    @include appearance(none);
    border: 0;
    color: $black;
    background-color: $lightGray;
    @include border-radius(25px);
    font-size: 10px;
    font-weight: $fontRegular;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 25px;
    width: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAAXNSR0IArs4c6QAAAGdJREFUGBljYGBgMADi/UAsAMT4wAKg5HyYggNAxn8gPg/EuDQugKoBqXMAYrDCC0Aal8YFUDmQfAIQwwHIBmwaFwDFQYoxNADFwABd43ygKF4NUH0oTiVKAzaNCTBBYmiQUwNwKQQArZwfukpgE80AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 10px;
    
  }
}

.message-title {
  padding-left: 25px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: $fontRegular;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-form__input {
  border: 0;
  color: $black;
  background-color: $lightGray;
  @include border-radius(25px);
  font-size: 10px;
  font-weight: $fontRegular;
  text-transform: uppercase;
  padding: 14px 25px;
  width: 100%;
  letter-spacing: 1px;

  @include placeholder {
    color: $black;
    font-size: 10px;
    font-weight: $fontRegular;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &--textarea {
    resize: vertical;
    width: 100%;
    font-size: 10px;
    font-weight: $fontRegular;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

}

div.contact-form__input--error {
  font-size: 0;
  &:after {
    content: 'Este campo e obrigatorio';
    color: red;
    font-size: 12px;
    font-weight: $fontRegular;
    margin-top: 3px;
    display: block !important;
    padding-left: 25px;
  }
}

label.contact-form__input--error {
  color: red;
  font-size: 12px;
  font-weight: $fontRegular;
  margin-top: 3px;
  display: block !important;
  padding-left: 25px;
}

.disclaimer-form {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 25px;
  font-size: 10px;
  font-weight: $fontRegular;
  text-transform: uppercase;
}


.contact-form__button {
  border: 0;
  color: $white;
  cursor: pointer;
  background-color: $grayBlue;
  font-size: 15px;
  font-weight: $fontBold;
  text-transform: uppercase;
  padding: 8px;
  width: 150px;
  @include border-radius(25px);

  &[disabled] {
    opacity: 0.5;
  }
}