.header__responsive {
  position: relative;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.header__responsive-close {
  position: absolute !important;
  z-index: 2;
  top: 17px;
  right: 15px;
  @include burger(28px, 2px, 10px, #000, 1px);
  @include burger-to-cross;
}

.menu__header {
  text-align: center;
  position: relative;
}
.menu__header-title {
  background-color: $white;
  margin: 0;
  font-size: 14px;
  font-weight: $fontBlack;
  padding: 21px 0 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.menu__account {
  display: flex;
  justify-content: space-between;
}

.menu__account-link {
  width: calc( ( 100% - 1px ) / 2);
  background-color: $black;
  text-align: center;
  color: $white;
  font-size: 12px;
  font-weight: $fontBlack;
  padding: 17px 0 16px ;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.menu__list {
  @include resetList();

  @media (min-width: $screen-md-min) {
    display: flex;
  }
}

.menu__item {
  position: relative;
  height: 50px;
  border-bottom: 1px solid $mediumGray;
  overflow: hidden;

  &:after {
    display: block;
    content: '';
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAGVJREFUGBljYEAFBkDueyAWQBZmQuZAJUEKQIrhAF0RXAKZwQLkgHTxQwX1kej/UPZHEP0BiEECuPABRqAkshtApvYDcSEQXwBiEIDREB6QdABikIkgGg6Icji6og9A7QeBGMUKAIW2E9OUf6EiAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    height: 9px;
    width: 9px;
    position: absolute;
    top: 20px;
    right: 27px;
    z-index: 1;

  }

  &.menu__item--submenu-open {
    height: auto;
    background-color: $lightBlack;

    &:after {
      background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAACCAYAAACKVvbTAAAAAXNSR0IArs4c6QAAAB5JREFUCB1j+P///wUgxgc2MAJlExgYGBSAGBe4AAAn7CetHYKdrwAAAABJRU5ErkJggg==');
      height: 2px;
      top: 25px;
    }

    > .menu__link {
      color: $white;
    }

    .submenu__list {
      background-color: $white;
    }
  }

  @media (min-width: $screen-md-min) {
    overflow: unset;
    border-bottom: 0;
    height: 100%;

    &:after {
     display: none; 
    }
    &:hover {
      > .menu__link {
        background-color: $lightGray;

      }

      .menu__submenu-container {
        display: block;
      }
    }
  }
  
  > .menu__link {
    color: $black;
    // font-weight: $fontSemiBold;
    font-weight: $fontBold;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 14px 20px;

    
    
    @media (min-width: $screen-md-min) {
      height: 85px;
      line-height: 88px;
      padding: 0 14px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .menu__link--promocao {
    color: $red;
  }

  &.menu__item-marcas {
    .menu__submenu-container {
      @media (min-width: $screen-md-min) {
        left: unset;
        right: 0;
        width: 548px;
        .submenu__list {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
        }
      }
    }
  }
}

.menu__submenu-container {
  @media (min-width: $screen-md-min) {
    display: none;
    background-color: $lightGray;
    padding: 30px;
    position: absolute;
    top: 85px;
    left: 0px;
    width: 288px;
  }
}

.submenu__list {
  @include resetList();
}

.submenu__item {
  border-bottom: 1px solid $mediumGray;
  @media (min-width: $screen-md-min) {
    border-bottom: 0;
  }

  &.submenu__item--ver-tudo {
    border-bottom: 0;   
    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  .submenu__link {
    color: $black;
    font-size: 16px;
    font-weight: $fontSemiBold;
    text-decoration: none;
    display: block;
    padding: 15px 40px 12px;
    @media (min-width: $screen-md-min) {
      padding: 3px 0;
      font-size: 14px;
    }
  }
}

