.account-title {
  h2 { 
    @extend .av-col-xs-24;
    text-align: center;
    font-size: 14px;
    color: $black;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.account-profile {
  @extend .av-col-xs-24; 
}

.account {
  .vtex-pageHeader__title {
    font-size: 14px;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .vtex-account_menu-link {
    font-size: 10px;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .account-content {
    a.b--action-primary {
      border-color: $grayBlue;
    }

    .c-action-primary {
      color: $grayBlue;
    }
    .hover-bg-action-secondary:focus, 
    .hover-bg-action-secondary:hover {
      background-color: transparent;
    }
    button {
      font-size: 12px;
      font-weight: $fontBold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include border-radius(25px);
      height: 48px;
      line-height: 48px;
      text-align: center;
      padding: 0 25px;
      &.b--washed-blue {
        background-color: $lightGray;
        border-color: $lightGray;
        color: $black;
      }
      &.b--action-primary {
        background-color: $grayBlue;
        border-color: $grayBlue;
      }
      &.b--danger {
        border-color: $lightGray;
        background-color: $lightGray;
        color: $black;
      }
    }

    .c-link,
    .hover-c-link,
    .c-link--visited, 
    .link {
      color: $black;
    }

    .myo-details-btn {
      color: $black;
    }

    .myo-reorder-btn {
      color: $black;
      svg {
        fill: $black;;
      }
    }

    .vtex-pageHeader__container.pa5.pa7-ns {
      @media (max-width: 768px) {
        padding-bottom: 0;
      }
    }

    .vtex-pageHeader-link__container {
      .c-action-primary  {
        padding: 0;
      }
    }

    .myo-order-card {
      &:first-of-type {
        @media (max-width: 768px) {
          margin-top: 0;
        }
      }
    }
  }
}

.vtex-modal__confirmation {
  button.c-action-primary {
    color: $grayBlue;
    &:hover {
      background-color: transparent;
    }
  }
  button.b--action-primary {
    background-color: $grayBlue;
    border-color: $grayBlue;
  }
}

.vtex-profile-form__profile-summary {
  .light.c-on-disabled {
    word-break: break-word;
  }
}

.myo-order-card .myo-cancel-btn {
  display: none;
}

.account .vtex-account__page-body.vtex-account__order-details {
  .w-100.fl.w-60-ns.pv3-ns.pr0 {
    .list.tl.tr-ns.ma0.pa0-s {
      li.dib-ns:last-child {
        display: none !important;
      }
    }
  }
}