.search-multiple-navigator {
  // display: block !important;
}
.search-sidebar {
  .filter__header,
  .menu-navegue,
  .productClusterSearchableIds,
  h4 + ul,
  .HideMarca,
  ul.Marca,
  .bt-refinar,
  .search-multiple-navigator h4 {
    display: none;
  }

  ul {
    @include resetList();
  }

  .search-single-navigator {
    margin-bottom: 48px;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
    @media (min-width: $screen-md-min) {
      letter-spacing: 2px;
    }

    a {
      display: block;
      color: $black;
      text-decoration: none;
      font-size: 12px;
      padding: 17px 0 13px 0;
      
      @media (min-width: $screen-md-min) {
        font-size: 11px;
        padding: 20px 0 14px 0;
        
      }
    }

    h3 {
      margin: 0px;
      a {
        font-size: 12px;
        padding: 19px 0 12px 0;
        @media (min-width: $screen-md-min) {
          padding: 15px 0 7px 0;
          font-size: 14px;
        }
      }
    }

    h4 {
      margin: 0;
      border-bottom: 1px solid $lightGray;
      &:last-of-type {
        border-bottom: 0;
      }
    }

    h5,
    h5 + ul {
      display: none;
    }

  }

  .search-multiple-navigator {
    display: flex !important;
    flex-wrap: wrap;

    h3 { display: none; }
    fieldset {
      border: 0;
      margin: 0 0 50px 0;
      padding: 0;
      width: 100%;
      order: 4;
      
      > div {
        max-height: 348px;
        padding-right: 15px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 7px;
        }
         
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: $lightGray;
          @include border-radius(4px);
          outline: 0px solid slategrey;
        }
      }

      h5 {
        margin: 0;
        font-size: 12px;
        font-weight: $fontBold;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $black;
        margin: 0 0 7px 0;
        @media (min-width: $screen-md-min) {
          font-size: 14px;
        }
      }

      label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $lightGray;
        padding: 20px 0 14px 0;
        cursor: pointer;

        &:last-of-type {
          border-bottom: 0;
        }

        font-size: 12px;
        font-weight: $fontBold;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media (min-width: $screen-md-min) {
          font-size: 11px;
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 1px solid #DFE3E6;
          width: 20px;
          height: 20px;
          margin-right: 14px;
          @media (min-width: $screen-md-min) {
            width: 15px;
            height: 15px;
            margin-right: 12px;
          }
        }

        &.filter--active {
          input {
            background-color: $black;
          }
        }
      }

      &.refino-marca {
        order: 3;
      }

      &.Cor {
        order: 2;
        label {
          padding: 14px 0 12px 0;
          @media (min-width: $screen-md-min) {
            padding: 20px 0 14px 0;
          }
        }
        .color__image {
          display: inline-block;
          width: 23px;
          height: 23px;
          border: 1px solid #DFE3E6;
          @include border-radius(8px);
          margin-right: 13px;
          @media (min-width: $screen-md-min) {
            margin-right: 10px;
          }

          &.color__image--no-image {
            display: none;
          }
        }
      }

      &.Tamanho {
        order: 1;
        > div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 3px;
        }

        h5 {
          margin-bottom: 23px;
        }

        label {
          display: inline-block;
          vertical-align: middle;
          width: auto;
          padding: 0 5px;
          min-width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          border-bottom: 0;
          margin:0 12px 12px 0;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 1px;
          border: 1px solid $grayBlue;
          @include border-radius(8px);
          position: relative;

          input {
            display: none;
          }

          &.filter--active {
            background-color: $grayBlue;
            color: $white;
            border: 3px double #fff;
            min-width: 44px;
            height: 44px;
          }

          @media (min-width: $screen-md-min) {
            min-width: 34px;
            height: 34px;
            line-height: 34px;
            border: 1px solid $grayBlue;
            margin:0 10px 10px 0;
            &.filter--active {
              height: 38px;
            }
          }
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}
.search-filter {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10000;
  width: 100%;
  left: -100%;
  @include transition(left 300ms);
  &.opened {
    left: 0;
    @include transition(left 300ms);
  }
  @media (min-width: $screen-md-min) {
    display: block;
    position: static;
    z-index: 100;
  }
  
  &.opened {
    background-color: rgba(0, 0, 0, .5);
    .navigation-tabs {
      width: 100%;
      max-width: 414px;
      overflow-y: scroll;
      background-color: $white;
    }

    .filter__header {
      display: block;
      background-color: $lightGray;
      height: 57px;
      line-height: 57px;
      color: $black;
      position: relative;
      text-align: center;
      @media (min-width: $screen-md-min) {
        display: none;
      }
    }

    .menu__header-title {
      font-size: 14px;
      font-weight: $fontBlack;
      text-transform: uppercase;
      text-align: center;
      color: $black;
      background-color: $lightGray;
      padding: 0;
    }
    
    .filter__header-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 20px;
    }

    .filter__header-bars {
      @include burger(26px, 2px, 6px, #000, 1px);
      @include burger-to-cross;
    }

    .search-single-navigator {
      a {
        padding-left: 20px;
      }
    }
    .search-multiple-navigator {
      fieldset {
        padding: 0 20px;
      }
    }

    .search-filter__buttons {
      padding: 0 20px 1px;
      background-color: $white;
    }
  }
}

.search-filter__button {
  display: block;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $fontBlack;
  text-align: center;
  padding: 0;
  height: 48px;
  line-height: 48px;
  @include border-radius(25px);
  margin-bottom: 20px;
  border: 0;
}

.search-filter__button--apply {
  background-color: $grayBlue;
  color: $white;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.search-filter__button--clear {
  background-color: $lightGray;
  color: $black;
  @media (min-width: $screen-md-min) {
    background-color: $grayBlue;
    color: $white;
  }
}
