.minicart {
  @include transition(left 250ms linear, right 250ms linear);

  background-color: $white;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  z-index: 10000;

  @media (min-width: $screen-md-min) {
    position: absolute;
    display: none;
    right: initial;
    bottom: initial;
    left: initial;
  }
}

.minicart--open {
  background-color: $white;
  border: 1px solid $lightGray;

  @media (max-width: $screen-sm-max) {
    left: 0;
    right: 0;
  }

  @media (min-width: $screen-md-min) {
    left: -311px;
    display: block;
    top: 57px;
    right: 0;
    width: 340px;
  }
}

.minicart--loading {
  &:before {
    @extend .loading-white;
    @extend .loading-white--medium;

    background-color: rgba(0, 0, 0, 0.6);
    bottom: 120px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    @media (min-width: $screen-md-min) {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.minicart-header {
  text-align: center;
  position: relative;
}

.minicart-header__title {
  margin: 20px 0;
  font-size: 14px;
  font-weight: $fontBlack;
  text-transform: uppercase;
  letter-spacing: 3px;
  @media (min-width: $screen-md-min) {
    margin: 10px 0;
  }
}

.minicart-header__close {
  @include translateY(-50%);

  position: absolute;
  right: 0;
  top: 50%;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.minicart-header__close-link {
  display: block;
  padding: 20px 16px;
}

.minicart-header__close-bar {
  @include burger(26px, 2px, 6px, #000, 1px);
  @include burger-to-cross;
}

//minicart products
.minicart-products {
  @include resetList();
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 147px;
  left: 0;
  overflow-y: auto;

  &:before {
    @include translateX(-50%);
    content: 'Sacola vazia.';
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 5;
  }

  @media (min-width: $screen-md-min) {
    height: auto;
    min-height: 145px;
    max-height: 270px;
    position: static;

    &:before {
      top: 30%;
    }
  }
}

/*
.minicart-frete-gratis {
  color: #fff;
  background: #000;
  display: inline-block;
  //opacity: 0;
  text-align: right;
  position: relative;
  z-index: 3;
  margin-top: 13px;
  padding: 15px 25px 30px 25px;
  width: 100%;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  @media (max-width: 991px) {
    margin-top: 0px;
    margin-bottom: 8px;
    height: 90px;
    width: 100vw;
    left: calc(-50vw + 50%);
  }

  .txt-frete-gratis {
    color: #000;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 18px;
    float: right;
    text-align: left;

    @media (max-width: 992px) {
      width: 30%;
      float: right;
    }

    @media (max-width: 768px) {
      width: 60%;
      top: 4px;
    }
  }

  .barra-frete-gratis {
    width: 240px;
    height: 8px;
    background: #fff url('/arquivos/barra-verde-BG_frete-gratis.png') no-repeat;
    display: block;
    position: relative;
    border-radius: 10px;
    float: right;
    margin: 5px 15px 0px 0px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    @media (max-width: 992px) {
      float: unset;
      margin: 0 auto;
    }
  }

  .barra-frete-gratis-fim {
    @media (max-width: 992px) {
      margin-top: 10px;
    }
  }

  .foguete_barra {
    position: absolute;
    top: -7px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &:after {
      content: '';
      border-right: 2px solid #fff;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 4px;
    }
  }

  .foguete_barra-fim {
    &:after {
      display: none;
    }
  }

  .balao-frete-gratis {
    height: auto;
    padding: 0 5px;
    position: relative;
    display: block;
    top: 17px;
    text-align: center;
    width: 100%;
    float: right;
    text-transform: uppercase;
    font-size: 10px !important;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .img-status-brinde {
    width: 150px;
    height: 51px;
    float: left;

    @media (max-width: 992px) {
      width: 41%;
      margin-top: 16px;
    }

    @media (max-width: 768px) {
      width: 80%;
      top: -30px;
      position: relative;

      &.img-status-ganhou {
        padding-right: 50px;
      }
    }
  }

  .balao-frete-gratis {
    .ganhar-frete-gratis {
      font-size: 14px;
      display: block;
      color: #61d6b2;
      letter-spacing: 1px;
    }

    .ganhou-frete-gratis {
      color: #61d6b2;
    }

    .parabens-frete {
      font-size: 12px;
    }

    .mais-frete {
      font-size: 14px;
    }
  }
}
*/

.minicart-product__item {
  @include clearfix();
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: $white;
  max-width: calc( 100% - 15px );
  padding: 20px 10px 0 20px;
  position: relative;
  z-index: 10;
  @media (min-width: $screen-md-min) {
    padding: 7px 10px 13px 20px;
  }
}
.minicart-product__delete {
  position: absolute;
  right: -2px;
  top: 15px;
  z-index: 1;
  @media (min-width: $screen-md-min) {
    top: 3px;
  }
}
.minicart-product__delete-link {
  padding: 8px 11px;
  display: block;
}
.minicart-product__delete-bars {
  @include burger(10px, 1px, 6px, $black, 0);
  @include burger-to-cross;
  &:after, &:before{
    width: 10px !important;
  }
}

.minicart-product__image {
  width: 100px;
  img{
    width: 100%;
    height: auto;
  }
}

.minicart-product__info {
  width: calc( 100% - 100px );
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $screen-md-min) {
    padding-left: 10px;
  }

}
.minicart-product__title {
  margin: 0;
  padding: 0 20px 0 0;
  font-size: 15px;
  font-weight: $fontRegular;
  width: 100%;
  height: 64px;
  overflow: hidden;
  color: $black;
  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }

  a {
    display: block;
    color: $black;
    text-decoration: none;
  }
}

.minicart-controls {
  width: 85px;
  background-color: $lightGray;
  @include border-radius(25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $screen-md-min) {
    width: 74px;
  }
  
}
.minicart-control {
  height: 33px;
  width: 33.33%;
  cursor: pointer;
  position: relative;
  @media (min-width: $screen-md-min) {
    height: 29px;
  }
}

.minicart-control--less {
  &:before {
    @include translate(-50%, -50%);
    background-color: #000;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 9px;
    @media (min-width: $screen-md-min) {
      width: 7px;
    }
  }
}

.minicart-control--items {
  cursor: default;
  line-height: 33px;
  text-align: center;
  @media (min-width: $screen-md-min) {
    line-height: 29px;
  }
}

.minicart-control--more {
  &:before,
  &:after {
    @include translate(-50%, -50%);
    background-color: #000;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  &:before {
    height: 1px;
    width: 9px;
    @media (min-width: $screen-md-min) {
      width: 7px;
    }
  }

  &:after {
    height: 9px;
    width: 1px;
    @media (min-width: $screen-md-min) {
      height: 7px;
    }
  }
}

.minicart-product__best-price {
  font-size: 14px;
  font-weight: $fontBold;
  color: $black;
  margin-right: 30px;
  letter-spacing: 1px;
  @media (min-width: $screen-md-min) {
    margin-right: 0px;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

// MINICART FOOTER
.minicart-footer {
  background-color: $lightGray;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  @media (max-width: 992px) {
    height: 147px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $screen-md-min) {
    position: static;
  }
}

.minicart-resume {
  text-align: center;
}

.minicart-continuar-comprando { display: none; }
/*
.minicart-continuar-comprando {
  text-align: center;
  margin-top: 5px;
  @media (max-width: $screen-sm){
    display: none;
  }

  p {
    text-transform: uppercase;
    border: 1px solid #838383;
    color: #999;
    text-decoration: underline;
    display: inline-block;
    font-size: 10px;
    padding: 8px 20px;
    cursor: pointer;
  }
}
*/
.minicart-resume__total {
  font-size: 16px;
  padding: 18px 20px 20px;
  @media (min-width: $screen-md-min) {
    font-size: 14px;
    line-height: 22px;
    padding: 22px 20px 10px;
  }
}

.minicart-resume__total-counter,
.minicart-resume__total-price-target {
  font-weight: $fontBold;
}

.minicart-resume__checkout {
  @media (min-width: $screen-md-min) {
    padding: 0 80px 24px;
  }
}

.minicart-checkout {
  width: 100%;
  font-size: 12px;
  letter-spacing: 2.5px;
  color: $white;
  font-weight: $fontBlack;
  text-transform: uppercase;
  background: $grayBlue;
  text-align: center;
  padding: 24px 18px;
  display: inline-block;
  @media (min-width: $screen-md-min) {
    @include border-radius(50px);
    padding: 17px 5px;
    letter-spacing: 2px;
    font-size: 10px;
  }

  &:hover {
    color: $white;
  }
}

.minicart-resume__free-shipping { display: none; }
/*
.free-shipping-bar {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  background-color: $pink;
  z-index: 0;
  @include transition(all 500ms);
  &.free-shipping-full {
    width: 100%;
    border-radius: 0;
  }
}

.minicart-resume__free-shipping {
  height: 34px;
  line-height: 34px;
  font-size: 10px;
  background: #F2EAEB;
  color: $pink;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  top: 10px;

  .minicart-resume__free-shipping-text {
    position: relative;
    z-index: 1;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    @media (min-width: $screen-sm) {
      font-size: 11px;
      margin-top: 0;
    }
    .icon-minicart-resume__free {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
      top: 8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.006' height='16.3' viewBox='0 0 29.006 16.3'%3E%3Cpath d='M35.444,45.194a.478.478,0,0,0,.478.479h4.111v1.635h-.542a.478.478,0,0,0,0,.956h.542V49.9H36.942a.478.478,0,1,0,0,.956h3.091v4.366a.99.99,0,0,0,.988.988h2.956a2.578,2.578,0,0,0,5.068,0H55.3a1,1,0,0,0,.3-.052.477.477,0,0,0,.207.052h1.4a2.577,2.577,0,0,0,5.066,0h1.4a.478.478,0,0,0,.479-.478V50.378a.479.479,0,0,0-.479-.479H62.5l-1.944-3.372a.476.476,0,0,0-.414-.24H56.288V43.3a.99.99,0,0,0-.988-.988H41.021a.99.99,0,0,0-.988.988v1.413H35.922A.478.478,0,0,0,35.444,45.194ZM61.4,49.9h-5.11V47.243h3.58Zm-3.283,5.832a1.625,1.625,0,1,1,1.625,1.625A1.627,1.627,0,0,1,58.115,55.731Zm-1.827-.509V50.856h6.905v4.4h-.92a2.577,2.577,0,0,0-5.066,0h-.919Zm-11.4.509a1.625,1.625,0,1,1,1.625,1.625A1.627,1.627,0,0,1,44.886,55.731ZM41,45.672h2.277a.479.479,0,0,0,0-.958h-2.28l0-1.413L55.3,43.27l.031,11.952-6.288.029a2.577,2.577,0,0,0-5.066,0H41.021l-.011-4.4h3.284a.478.478,0,0,0,0-.956H41.007l0-1.635h5.839a.478.478,0,1,0,0-.956H41Z' transform='translate(-35.294 -42.164)' fill='%233c3634' stroke='%233c3634' stroke-width='0.3'/%3E%3C/svg%3E");
      width: 29px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .minicart-resume__free-shipping__bar {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: $red;
    z-index: 0;
    @include transition(all 0.5s);

    &.minicar-resume__free-shipping__bar--full {
      @include border-radius(0);
    }
  }
}
*/