body {
  color: $bodyTextColor;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* { box-sizing: border-box; }

a {
  // color: $bodyTextColor;

  // &:hover {
  //   color: $bodyTextColor;
  //   text-decoration: underline;
  // }
}

#ajaxBusy {
  display: none !important;
}

main.main {
  margin-top: 96px;

  @media (min-width: $screen-md-min) {
    margin-top: 85px;
  }
}
