.top-banner__institucional {
  display: none;
  margin-bottom: 55px;

  @media (min-width: $screen-md-min) {
    display: block;
  }

  .box-banner {
    a {
      display: block;
      height: 400px;
      overflow: hidden;
      text-align: center;
    }
  }

  img {
    height: 400px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.institucional-sidebar {
  @extend .av-col-xs-24;
  @extend .av-col-md-5;
}

.institucional-main {
  @extend .av-col-xs-24;
  @extend .av-col-md-18;
  @extend .av-col-md-offset-1;
  padding: 0 20px;
  @media (min-width: $screen-md-min) {
    padding: 0 10px;
  }
  margin-bottom: 40px;
}


.institucional-sidebar {
  padding: 0;
  @media (min-width: $screen-md-min) {
    padding: 0 10px;
  }
}

.sidebar-btn-action {
  @include appearance(none);
  border: 0;
  width: 100%;
  background-color: $black;
  color: $white;
  font-size: 12px;
  font-weight: $fontBlack;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.institucional-sidebar {
  .sidebar__list--title {
    font-weight: $fontBold;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    display: none;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
    @media (min-width: $screen-md-min) {
      display: block;
    }
  }

  .sidebar__list {
    @include resetList();

    li {
      border-bottom: 1px solid $lightGray;
      &:last-child {
        border-bottom: 0;
      }
      a {
        display: block;
        padding: 20px 0 14px;
        font-weight: $fontBold;
        font-size: 11px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        &.selected {
          text-decoration: underline;
        }
      }
    }
  }

  .sidebar__content {
    height: 0;
    overflow: hidden;
    @include transition(all 0.3s ease);

    &--open {
      height: auto;
      padding: 0 10px;
      border-bottom: 1px solid $lightGray;
      margin-bottom: 20px;
    }

    @media (min-width: $screen-md-min) {
      height: auto;
    }
  }
}

.institucional-page-info {
  position: relative;
  .breadcrumb {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: -19px;
      left: 0;
      z-index: 1;
    }
  }
}

.institucional-title {
  font-weight: $fontBlack;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  @media (min-width: $screen-md-min) {
    margin-top: 0px;
  }
}

.content-institucional {
  @include clearfix();

  h1 {
    font-weight: $fontBold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 10px 0 30px;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }

  h3 {
    font-weight: $fontBold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 30px 0 20px;
    @media (min-width: $screen-md-min) {
      
    }
  }


  p {
    font-size: 14px;
    font-weight: $fontRegular;
    line-height: 30px;
    text-align: center;
    margin: 0 0 10px;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }
  a {
    color: $black;
    text-decoration: underline;
  }
  img {
    // width: 100%;
  }
}

.nossas__lojas-list {
  @include resetList();

  li {
    margin-bottom: 20px;
    border-bottom: 1px solid $lightGray;
    padding: 0 0 20px;
    h3 {
      font-size: 14px;
      font-weight: $fontBold;
      margin: 0;
    }
    p {
      font-size: 14px;
      font-weight: $fontRegular;
      line-height: 20px;
      margin: 0;
    }
    a {
      color: $black;
      text-decoration: underline;
    }
  }
}
