.custom-select {
  height: 50px;
  background-color: $black;
  cursor: pointer;
  display: inline-block;
  // padding: 12px 20px 12px 8px;
  padding: 0;
  line-height: 48px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  // &:after {
  //   @include translateX(-50%);

  //   content: '';
  //   margin-top: -2px;
  //   position: absolute;
  //   right: 10px;
  //   top: 50%;
  // }

  select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;  
    padding: 20px;
    @include opacity(0);

    border: none;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  // @media (min-width: $screen-md-min) {
  //   &:before {

  //     background-image: none !important;
  //     content: 'Ordenação:';
  //     font-size: 11px;
  //     font-weight: $fontRegular;
  //     position: absolute;
  //     left: -90px;
  //   }
  // }
}
  .custom-select__selected {
    color: $white;
    font-size: 12px;
    font-weight: $fontBlack;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;

    // @media (min-width: $screen-md-min) {
    //   display: block;

    //   &:before,
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     right: -5px;
    //     top: 50%;
    //   }

    //   &:before {
    //     @include arrow(top, 6px, $pink);
    //     left: inherit;
    //     margin-top: -3px;
    //     border-width: 2px;
    //   }

    //   &:after {
    //     @include arrow(bottom, 6px, $pink);
    //     left: inherit;
    //     margin-top: 3px;
    //     border-width: 2px;
    //   }
    // }
  }
