/* Grid config */
$grid-columns: 24;
$grid-gutter-width: 20px;
$container-large-desktop: (1262px + $grid-gutter-width);

/* Typography */
$primaryFont: 'Nunito Sans', sans-serif;

$fontLight: 400;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

/* Colors */
$red: #FF003D;
$yellow: #F3E032;
$orange: #FF6400;
$darkOrange: #E68139;
$lightBlue: #009CD0;
$grayBlue: #5497B5;
$greenBlue: #189DBA;
$pink: #D13481;
$purple: #AB0779;
$white: #FFFFFF;
$lightGray: #EEF3F6;
$mediumGray: #CBD4D9;
$gray: #A2A2A2;
$darkGray: #616568;
$lightBlack: #363C40;
$black: #000000;

$primaryColor: $black;
$secondaryColor: $black;
$bodyTextColor: $black;
$borderColor: $black;
$brandPrimaryColor: $black;
$brandSecondaryColor: $black;
$highlightColor: $black;
$bodyTextColor: $black;
$borderColor: $black;
$greyText: $black;
$buttonGreenColor: $black;
