.shelf-title {
  @include letter-spacing(40);
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 25px;
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: 22px;
  }
}

.main-shelf {
  > h2 {
    @include letter-spacing(40);

    font-size: 14px;
    font-weight: $fontBlack;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 10px 0 20px;
  }

  > ul {
    @extend .av-row;
    @include resetList();

    .slick-default > div > li,
    > li {
      @extend .av-col-xs-6;
    }
  }

  .slick-arrow {
    width: 45px;
    height: 45px;
    border: 0;
    position: absolute;
    font-size: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .slick-prev {
    left: -22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cpath d='M15 0h15a15 15 0 0115 15v15a15 15 0 01-15 15H15A15 15 0 010 30V15A15 15 0 0115 0z' fill='%23eef3f6'/%3E%3Cpath d='M25.666 29.5l-7.167-7.065 7.167-7.065' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
  }

  .slick-next {
    right: -22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cpath d='M30 45H15A15 15 0 010 30V15A15 15 0 0115 0h15a15 15 0 0115 15v15a15 15 0 01-15 15z' fill='%23eef3f6'/%3E%3Cpath d='M19.334 15.5l7.167 7.065-7.167 7.065' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
  }

  .slick-dots {
    bottom: -20px;
  }
}

@media (min-width: 992px) {
  @-moz-document url-prefix() {
    .shelf-item {
      // height: 512px;
    }
  }
}

.shelf-item {
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 0 8px;
  position: relative;
  transition: all .2s;

  @media (min-width: $screen-md-min) {
    &:hover {
      border-color: $grayBlue;

      .shelf-item__btn-more {
        display: block;
      }
    }
    
    margin: 0 2px;
  }
}

.shelf-item__flags {
  
}

.flag-discount {
  display: none;
}

.flag-promotion {
  display: none;
}

.flag-percentage {
  @include border-radius(7px);
  background: $pink;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  height: 47px;
  width: 47px;
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9px 0;
  strong {
    display: block;
    font-weight: $fontBlack;
  }
  span {
    display: block;
    font-weight: $fontSemiBold;
  }

  &--active {
    display: flex;
  }
}

.shelf-item__img {
  position: relative;
  padding: 0 17px;
}

.shelf-item__img-link {
  display: block;
}

.shelf-item__image {
  overflow: hidden;
  min-height: 108px;

  @media (min-width: $screen-md-min) {
    min-height: 198px;
  }

  img {
    @include translateX(-50%);

    left: 50%;
    position: relative;
    width: 100%;
    height: auto;
  }
}

.shelf-item__extra {
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.shelf-item__btns {
}

.shelf-item__btn-more {
  @include translateX(-50%);
  @include letter-spacing(200);
  background: $grayBlue;
  border: 0;
  border-radius: 25px;
  bottom: 10px;
  color: $white;
  font-size: 10px;
  display: none;
  font-weight: $fontExtraBold;
  left: 50%;
  bottom: -30px;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  padding: 12px 15px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.shelf-item__info {
  margin: 55px auto 5px;
}

.shelf-item__brand {
  p {
    color: $gray;
    font-size: 10px;
    font-weight: $fontBold;
    text-align: center;
    text-transform: uppercase;
    @include letter-spacing(80);
  }
}

.shelf-item__title {
  margin: 0;
  // height: 38px;
  height: 19px;
  overflow: hidden;
  @media (min-width: $screen-md-min) {
    height: 19px;
  }
}

.shelf-item__title-link {
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: $fontRegular;
  margin-bottom: 2px;
  text-align: center;
  @include letter-spacing(20);
}

.product-item__no-stock {
  color: $pink;
  font-size: 10px;
  height: 39px;
  padding-top: 5px;

  a {
    color: $pink;
    font-size: 10px;
    text-decoration: underline;

    @media (min-width: $screen-md-min) {
      font-size: 11px;
    }
  }

  @media (min-width: $screen-md-min) {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }
}

.shelf-item__buy-info {
  text-align: center;
  height: 39px;
}
.shelf-item__list-price {
  color: $black;
  display: inline-block;
  font-size: 11px;
  margin-right: 4px;
  text-decoration: line-through;
  @include letter-spacing(100);
}

.shelf-item__best-price {
  color: $black;
  display: inline-block;
  font-size: 15px;
  font-weight: $fontBold;
  text-transform: uppercase;
  @include letter-spacing(100);
}

.shelf-item__installments {
  display: none !important;
  // font-size: 10px;
  // font-weight: $fontRegular;
  // height: 17px;

  // .shelf-item__installments__value {
  //   font-weight: $fontSemiBold;
  // }

  // @media (min-width: $screen-md-min) {
  //   font-size: 12px;
  // }
}
.shelf-item__installments__value {
  font-weight: $fontSemiBold;
}

.performa-vitrine-comprarbtn {
  background-color: #000;
}
