body.home {
  .home-banner-full__wrap,
  .home-banner-full-desktop__wrap {
    &.pre-loading {
      .loader {
        display: block !important;
      }

      .box-banner {
        &:not(:first-child) {
          position: absolute !important;
        }
      }
    }
  }

  .home-banner-full__wrap {
    margin-bottom: 2px;
  }

  .home-banner-full {
    img {
      @extend .img-full;
    }
  }

  .home-banner-full,
  .home-banner-full-desktop {
    .slick-dots {
      bottom: 20px;
      button {
        background-color: $white;
        
      }
    }
  }

  .home-banner-full-desktop {
    height: 350px;
    .box-banner  a {
      height: 350px;
      width: 100%;
      overflow: hidden;
      text-align: center;
    }
    img{
      height: 350px;
      width: 1920px !important;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .home-benefits-bar {
    margin-bottom: 20px;
  }

  .home-products-1 {
    margin-bottom: 70px;

    .slick-dots {
      bottom: -20px;
      // @media (min-width: $screen-md-min){
      //   bottom: -20px;
      // }
    }

    .slick-prev {
      left: -22px;
    }

    .slick-next {
      right: -22px;
    }
  }

  .home-big-banners {
    margin-bottom: 64px;
    @media (min-width: $screen-md-min){
      margin-bottom: 104px;
    }
    .box-banner {
      @extend .av-col-xs-24;
      @extend .av-col-md-12;
       @media (max-width: $screen-sm-max){
        padding: 0;
      }

      img {
        @extend .img-full;
      }
    }
  }

  .home-banners-categorias {
    height: 116px;
    margin-bottom: 85px;
    @media (min-width: $screen-md-min){
      margin-bottom: 100px;
    }
    .av-col-xs-24 {
      display: flex;
      justify-content: space-between;
    }

    .box-banner {
      text-align: center;

      a {
        text-decoration: none !important;
      }
      img {
        display: block;
        margin: 0 auto 10px;
      }
      span {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: $fontSemiBold;
        color: $black;
      }
    }

    .slick-dots {
      bottom: -26px;
    }
  }

  .home-small-banners {
    margin-bottom: 50px;
    @media (min-width: $screen-md-min){
      margin-bottom: 80px;
    }
    .box-banner {
      @extend .av-col-xs-12;
      @extend .av-col-md-6;
      margin-bottom: 10px;
      @media (min-width: $screen-md-min){
        margin-bottom: 20px;
      }

      img {
        @extend .img-full;
      }
    }
  }

  .home-banners-marcas {
    margin-bottom: 42px;
    @media (min-width: $screen-md-min){
      margin-bottom: 100px;
    }
    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-list {
      @media (min-width: $screen-md-min){
        padding: 0 30px;
      }
    }

    .slick-dots {
      bottom: -8px;
      @media (min-width: $screen-md-min){
        bottom: -26px;
      }
    }
    
    .box-banner {
      padding: 0 20px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .slick-arrow {
    @include border-radius(18px);
    background-color: $lightGray;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: -12px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAFtJREFUKBVjZsAPFgClBYD4Aj5lIEX/gfgDEIMUYwULgKIwRQZYVQAFB7MikONxOpwJKHkAiGEgH8bARQcAJT4AMcjU+bgUwcRB1g5VxReAbheAeQQXDfIgWBEAm4sl8+gasjsAAAAASUVORK5CYII=');
  }

  .slick-next {
    right: -12px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAGFJREFUKBVjYGBgMADi/UAsAMR4wQGg7H8gPg/EeBWDJC8MccUGQPfjBCAPPgBiUGi8B2IFIMYKEoCiIEUgvACIsYIEoOgAKSrA6iCgILKbQGycYAFQBuT4BCAmCBwIqQAA7RQoNcNQhzUAAAAASUVORK5CYII=');
  }
}
