.list {
}

.department,
.category,
.brand {
  .listagem-banner {
    display: none;
    position: relative;
    margin-bottom: 20px;
    height: 250px;
    @media (min-width: $screen-md-min) {
      display: block;
    }

    .box-banner {
      height: 100%;
      overflow: hidden;
      text-align: center;

      img {
        height: 100%;
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .search__result-top {
    h1 {
      font-weight: $fontBlack;
      margin: 0;
      color: $black;
      font-size: 14px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media (max-width: $screen-sm-max) {
        order: 4;
        width: 100%;
      }
    }
  }

  
  .search-result-header { display: none; }

  .breadcrumb {
    @media (max-width: $screen-sm-max) {
      order: 3;
      width: 100%;
      padding: 0 20px;
    }
  }

  .bread-crumb ul {
    @media (min-width: $screen-md-min) {
      padding: 14px 0 14px;
    }
  }
}

.brand {
  .search-filter__buttons {
    display: none;
  }
}

.search {
  .seo-contents,
  .listagem-banner { display: none; }
  .search-result-header {
    text-align: center;
    height: 77px;
    line-height: 20px;
    background-color: $lightGray;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.3px;
    padding-top: 19px;
    strong,
    span {
      font-weight: $fontBlack;
    }

    @media (min-width: $screen-md-min){
      margin-bottom: 29px;
      line-height: 77px;
      padding-top: 0px;
    }
    
    @media (max-width: $screen-sm-max){
      order: 3;
      width: 100%;
      strong { display: block; }
    }
  }

  .search__result-top {
    h1,
    .breadcrumb {
      display: none;
    }
    @media (min-width: $screen-md-min){
      justify-content: flex-end;
    }
  }
  .search-filter__buttons {
    display: none;
  }
}

// EMPTY SEARCH
.empty-search__content {
  text-align: center;
  height: 77px;
  background-color: $lightGray;
  @media (min-width: $screen-md-min){
    line-height: 77px;
  }
  @media (max-width: $screen-sm-max){
    border-top: 2px solid $white;
    padding-top: 19px;
    line-height: 20px;
    height: 79px;
  }
}

.empty-search__error {
  font-size: 16px;
  color: $black;
  letter-spacing: 0.3px;
  strong {
    font-weight: $fontBlack;
    &.empty-search-text {
      @media (max-width: $screen-sm-max){
        display: block;
      }
    }
  }
}

.empty-search-products {
  margin:40px 0 0;
  padding-bottom: 50px;
  h2 {
    font-size: 14px;
    font-weight: $fontBlack;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  .slick-arrow {
    @include border-radius(18px);
    background-color: $lightGray;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.search__result-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
    width: calc( 100% + 20px );
    margin: 0 -10px;
  }
}

.search__result-filter {
  width: calc( ( 100% - 1px) / 2 );
  @media (max-width: $screen-sm-max) {
    order: 1;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.button__open-filter {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  width: 100%;
  background-color: $black;
  color: $white;
  font-size: 12px;
  font-weight: $fontBlack;
  text-align: center;
  height: 50px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0;
}

.search__result-order {
  @media (max-width: $screen-sm-max) {
    width: calc( ( 100% - 1px) / 2 );
    select {
      text-transform: uppercase;
      margin: 0 auto;
      
    }
    order: 2;
  }

  select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // background-color: $black;
    // color: $white;
    // font-size: 12px;
    // font-weight: $fontBlack;
    // text-transform: uppercase;
    // letter-spacing: 2px;
    // text-align: center;
    // height: 50px;
    // line-height: 46px;
    // width: 100%;
    // padding: 0 0 0 30px;
    // border: 0;
    // @include border-radius(0px);
  }

  @media (min-width: $screen-md-min) {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      width: 245px;
      height: 48px;
      padding: 0 20px;
      line-height: 47px;
      background-color: $lightGray;
      font-size: 10px;
      font-weight: $fontBold;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include border-radius(25px);
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAAAXNSR0IArs4c6QAAAIdJREFUKBWVkAENgDAQAycBCUhA0kvAEe8InIADuC78MgiQ0aTs12+bjJRSMjjBP3DMpoDDHY6wBYZJfocZzleCwS8Yy0swzH4uLITbOXBf4QK72y4LWqhZxhq6vwbDqEYVyBgF0ma4VRrjM2ReYBRobgpG3XAG9ISWHxm5ckbBWJSfQ//lPwBi7x8zhjtd3gAAAABJRU5ErkJggg==');
      background-repeat: no-repeat;
      background-position: 91% 53%;
      padding-left: 56px;
    }
  }
}

.resultItemsWrapper li.shelf-item--preload,
.load-btn--hide,
.pager,
.searchResultsTime,
.sub {
  display: none;
}

.search-sidebar {
  @extend .av-col-xs-24;
  @extend .av-col-md-5;
}

.search__result {
  @extend .av-col-xs-24;
  @extend .av-col-md-19;
  margin-bottom: 40px;
}

.list {
  button.load-less {
    display: none !important;
  }
  button.load-more {
    color: $white;
    font-size: 10px;
    font-weight: $fontBlack;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: inherit;
    background-color: $grayBlue;
    @include border-radius(25px);
    width: 297px;
    margin: 20px auto;
    border: 0;
    height: 48px;
    line-height: 48px;
    padding: 0;
    &.load-btn--hide,
    &:disabled {
      display: none !important;
    }
  }

  .main-shelf {
    > ul {
      @extend .av-row;

      list-style: none;
      padding: 0;
      > li {
        @extend .av-col-xs-12;
        @extend .av-col-md-8;
        @extend .av-col-lg-6;
        padding: 0px;
      }
    }
  }
}

/*
**/

.main-shelf--loading {
  position: relative;
  &:before {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%));
    @extend .loading-black;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}

.loading-list {
  width: 100%;
  display: inline-block;
  height: 100px;
  position: relative;
  &:after {
    content: "";
    display: block;
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @extend .loading-black;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}

.search-default__loading {
  @extend .loading-black;

  background-size: 80%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.main-shelf > .main-shelf,
.search-default__no-result {
  display: none;
}
