// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-main-modal-close-x-name: 'modal-close-x';
$sprite-main-modal-close-x-x: 0px;
$sprite-main-modal-close-x-y: 0px;
$sprite-main-modal-close-x-offset-x: 0px;
$sprite-main-modal-close-x-offset-y: 0px;
$sprite-main-modal-close-x-width: 11px;
$sprite-main-modal-close-x-height: 11px;
$sprite-main-modal-close-x-total-width: 11px;
$sprite-main-modal-close-x-total-height: 11px;
$sprite-main-modal-close-x-image: '0-sbz-web-sprite-main-378eefd994.png';
$sprite-main-modal-close-x: (0px, 0px, 0px, 0px, 11px, 11px, 11px, 11px, '0-sbz-web-sprite-main-378eefd994.png', 'modal-close-x', );

$sprite-spritesheet-width: 11px;
$sprite-spritesheet-height: 11px;
$sprite-spritesheet-image: '0-sbz-web-sprite-main-378eefd994.png';
$sprite-spritesheet-sprites: ($sprite-main-modal-close-x, );
$sprite-spritesheet: (11px, 11px, '0-sbz-web-sprite-main-378eefd994.png', $sprite-spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(/arquivos/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

@include sprites($sprite-spritesheet-sprites);
