.product-info {
  margin-bottom: 80px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 42px; 
  }
}

.product-images {
  @extend .av-col-xs-24;
  @extend .av-col-md-12;
  margin-bottom: 18px;
}
.product-infos {
  @extend .av-col-xs-24;
  @extend .av-col-md-10;
  @extend .av-col-md-offset-2;
}

.product {
  * { box-sizing: border-box; }
  ul {
    @include resetList();
  }

  .breadcrumb {
    padding: 18px 0;
    @media (max-width: $screen-sm-max) {
      text-align: center;
      ul {
        justify-content: center;
      }
    }
    @media (min-width: $screen-md-min){
      margin-bottom: 30px;
    } 
  }

  .product-images {
    #show {
      position: relative;
      @include clearfix();
      height: 490px;
      overflow-y: hidden;

      &.displayed {
        height: auto;
        overflow-y: auto;
      }
    }

    #include {
      @extend .av-col-md-21;
      @extend .av-col-xs-24;
      float: right;
      text-align: center;
      overflow: hidden;
      height: 460px;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .thumbs {
      @extend .av-col-md-3;
      @extend .av-col-xs-24;
      margin: 0;
      @include resetList();
      opacity: 0;
      visibility: hidden;
      top: 220px;
      @include transition(all 300ms);
      @include transform(translateY(-50%));

      &.displayed {
        visibility: visible;
        opacity: 1;
        @include transition(all 300ms);
      }

      @media (min-width: $screen-md-min){
        a.ON {
          @include border-radius(8px);
          overflow: hidden;
          border: 1px solid $grayBlue;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      @media (max-width: $screen-sm-max) {
        padding-bottom: 10px;
        top: inherit;
        @include transform(translateY(0));
      }

      .slick-slide {
        margin: 8px 0;
        @media (max-width: $screen-sm-max) {
          margin: 0 8px;
        }
      }
    }

    .slick-arrow {
      background-color: transparent;
      width: 40px;
      height: 40px;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
    }

    .slick-prev {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAAXNSR0IArs4c6QAAAF1JREFUGBljYMAECUCh+ZjCmCIBQKH/UIxXgwFQ0XskxSBNWDUgK1wAVJQAxDAbGoBsOEBXCJNIADJgGkBsMDgAJEGCIBodJAAFYBoUQJICQLwASgMpDJAAFAFhBgAAVBo9s47ahwAAAABJRU5ErkJggg==');
    }

    .slick-next {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAAXNSR0IArs4c6QAAAGhJREFUGBl9j4ENgCAMBDuCozgCo3QEN4JNdAMdxQ30nlBjFP3kQvP/DWBmNsIMA/TkmDmCheGAFZ4L3jLlCWph44wFeZKDPKH5kp6yg4IM3uZXEb/qvqDSZ7H162fjhinMvzMRll7hBLRpGg+G7c/UAAAAAElFTkSuQmCC');
    }

    #image-main {
      visibility: hidden;
      opacity: 0;
      @media (max-width: $screen-sm-max) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: $screen-md-min) {
        height: 100%;
        width: auto;
        max-height: 460px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      &.displayed {
        visibility: visible;
        opacity: 1;
        @include transition(opacity 300ms);
      }
    }

    #botaoZoom {
      display: block;
      text-align: center;
      &:focus,
      &:active {
        outline: none;
      }
    }

    .zoomPad img,
    #botaoZoom img {
      width: 100%;
      height: auto;
    }

    .zoomPad {
      position: relative;
    }

    .zoomWindow {
      background-color: white;
      overflow: hidden;
      left: 0 !important;
      width: 100%;
      height: 100%;
      cursor: crosshair;
      z-index: 98 !important;
    }

    .zoomWrapper {
      width: 100% !important;
      height: 100%;
    }

    .zoomWrapperImage img {
      width: 1000px !important;
      max-width: 1000px !important;
      height: auto;
    }

    .zoomWrapperTitle {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  .economia-de,
  .preco-a-vista {
    display: none !important;
  }

  .product-brand {
    margin-bottom: 12px;
    a {
      font-size: 10px;
      font-weight: $fontBold;
      text-transform: uppercase;
      color: $gray;
      text-decoration: none;
      letter-spacing: 2px;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .product-name {
    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: $fontRegular;
      color: $black;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }    
  }

  .product-reference {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: $fontRegular;
    color: $black;
    text-transform: uppercase;

    .productReference {
      display: inline-block;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .product-sku {
    margin-bottom: 20px;

    .combination_unavaliable {
      display: none !important;
    }
    // padding: 10px 0 30px;
    // margin: 20px 0;
    // border-bottom: 1px solid $lightGray;
    // border-top: 1px solid $lightGray;

    // @media (max-width: $screen-sm-max) {
    //   margin-top: 20px;
    //   border-top: 1px solid $lightGray;
    // }
  }

  .sku-selector-container {

    ul {
      padding: 0;
      margin: 0 0 11px 0;
      @media (max-width: $screen-sm-max) {
        text-align: center;
      }
    }

    .specification {
      font-size: 10px;
      font-weight: $fontBold;
      text-transform: uppercase;
      margin-bottom: 4px;
    }
    .skuList {
      line-height: 10px;
      input {
        display: none;
      }

      label {
        display: inline-block;
        @include border-radius(8px);
        position: relative;
        cursor: pointer;
        text-align: center;
        margin-bottom: 10px;
        &:last-child {
          margin-right: 0;
        }

        &.checked.sku-picked {
          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            @include border-radius(8px);
          }
        }

        /*
        &.checked.sku-picked {
          color: $darkGray;
          background: $pink;
          border: 1px solid $pink;
          line-height: 30px;
        }
        */

        &.item_unavailable.disabled {
          background-color: $lightGray;
          border-color: $lightGray;
          color: $darkGray;
          
          &:after {
            // display: none;
            // content: "";
            // height: 500%;
            // width: 3px;
            // display: block;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // background-color: $orange;
            // @include transform(translate(-50%, -50%) rotate(-45deg));
          }
        }
      }
    }

    .Cor {
      label {
        width: 23px;
        height: 23px;
        background-color: $white;
        border: 1px solid $lightGray;
        font-size: 0;
        margin-right: 10px;

        img {
          display: block;
          width: 100%;
          height: auto;
          @include border-radius(8px);
        }
        
        &:after {
          top: -2px;
          left: -2px;
          width: 25px;
          height: 25px;
          background-color: transparent;
          border: 1px solid $black;
        }
      }
    }

    .Tamanho {
      .specification { margin-bottom: 10px }
      label { 
        min-width: 34px;
        padding: 0 5px;
        height: 34px;
        background-color: $white;
        border: 1px solid $grayBlue;
        font-size: 12px;
        font-weight: $fontSemiBold;
        margin-right: 10px;
        line-height: 34px;
        
        &.checked.sku-picked {
          background-color: $grayBlue;
          color: $white;
          border: 3px double #fff;
          height: 38px;
          min-width: 38px;
        }

        &.item_unavailable.disabled {
          background-color: $lightGray;
          border-color: $lightGray;
          color: $darkGray;
          &.checked.sku-picked {
            background-color: $lightGray;
            color: $darkGray;
            border: 3px double #fff;
            height: 38px;
            min-width: 38px;
          }
        }
      }
    }
  }
  
  .product-buy-info {
    margin-bottom: 20px;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-sm-max){
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 21px 0;
    }
    

    &--notify-me {

      .product-price { display: none; }

      .product-buy {
        display: block;
        width: 100% !important;
      }
    }
  }

  .product-price {
    .productPrice {
      // display: none;
      @media (max-width: $screen-sm-max){
        margin-bottom: 16px;
      }
    }

    .descricao-preco {
      margin: 0;
      line-height: 23px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $screen-sm-max){
        justify-content: center;
      }
    }

    .price-list-price {
      font-size: 0px;
      .skuListPrice {
        font-size: 11px;
        font-weight: $fontRegular;
        text-decoration: line-through;
        margin-right: 10px;
        letter-spacing: 2px;
      }
    }

    .price-best-price {
      font-style: normal;
      font-size: 0;

      .skuBestPrice {
        font-size: 20px;
        font-weight: $fontBold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    .price-installments {
      width: 100%;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      strong {
        font-weight: $fontBold;
      }
    }
  }

  .product-buy {
    width: 100%;
    @media (min-width: $screen-md-min){
      width: 300px;
    }
    .buy-button {
      width: 100%;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      font-size: 12px;
      font-weight: $fontBlack;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      letter-spacing: 2px;
      background-color: $grayBlue;
      @include border-radius(25px);

      &:hover {
        
      }
    }
  }

  .portal-notify-me-ref {

    .notifyme-title {
      margin: 0;
      font-size: 0;
      &:after {
        content: 'Produto indisponível';
        display: inline-block;
        font-size: 22px;
        font-weight: $fontRegular;
        color: $pink;
        letter-spacing: 1px;
      }
    }

    .sku-notifyme-form {
      padding: 0;
      margin: 0;
      border: 0;

      p {
        font-size: 0;
        margin-bottom: 18px;
        &:after {
          content: 'Preencha abaixo seu e-mail que enviaremos quando retornar em nosso estoque.';
          display: inline-block;
          font-size: 14px;
          font-weight: $fontRegular;
          color: $black;
        }
      }

      #notifymeClientName {
        display: none !important;
      }

      #notifymeClientEmail {
        border: 0;
        background-color: $lightGray;
        @include border-radius(25px);
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        @include placeholder {
          color: $black;
          font-size: 10px;
          font-weight: $fontBold;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        padding: 17px 30px;
        color: $black;
        font-size: 10px;
        font-weight: $fontBold;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
        margin-bottom: 17px;
        @media (min-width: $screen-md-min) {
          margin-right: 12px;
          width: 310px;
        }
        
      }

      .notifyme-button-ok {
        width: 187px;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        font-size: 10px;
        font-weight: $fontBlack;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        letter-spacing: 2px;
        background-color: $grayBlue;
        @include border-radius(25px);
        border: 0;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        margin-bottom: 17px;

      }
    }

    .success,
    .error {
      border: none;
      padding: 0 0 0 10px;
      margin: 0;
      font-size: 12px;
    }

    .success {
      color: green;
      padding-left: 0;
    }

    .error {
      color: red;
    }
  }

  .product-shipping {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
    }

    .product-shipping-text {
      font-size: 10px;
      font-weight: $fontBold;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-bottom: 18px;
        text-align: center;
        display: block;
      }
    }

    #calculoFrete {
      display: inline-block;

      @media (max-width: $screen-sm-max) {
        display: block;
        width: 100%;
      }
    }

    #popupCalculoFreteWrapper,
    .contentWrapper .header,
    .contentWrapper .footer,
    .contentWrapper .content fieldset .quantity,
    .cep-busca {
      display: none;
    }

    .content {
      display: inline-block;
      position: relative;
      @media (max-width: $screen-sm-max) {
        width: 100%;
      }

      fieldset {
        width: 300px;
        padding: 5px 25px;
        margin: 0;
        border: 0;
        background-color: $lightGray;
        @include border-radius(25px);

        @media (max-width: $screen-sm-max) {
          display: block;
          width: 100%;
          max-width: 378px;
          margin: 0 auto; 
        }

        label.prefixo {
          display: inline-block;
          width: calc( 100% - 52px );
          input {
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            @include placeholder {
              color: $black;
              font-size: 10px;
              font-weight: $fontBold;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            background-color: transparent;
            padding: 0;
            color: $black;
            font-size: 10px;
            font-weight: $fontBold;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            

            @media (max-width: $screen-sm-max) {
              width: calc(100% - 60px);
            }
          }
        }
      }

      .freight-btn {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        border: 0;
        padding: 12px 5px;
        color: $black;
        font-size: 10px;
        font-weight: $fontBlack;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: transparent;
        text-align: center;
      }

      .freight-values {
        @media (min-width: $screen-md-min) {
          position: absolute;
        }

        table {
          width: calc( 100% - 40px );
          margin: 10px auto;
        }

        @include clearfix();

        thead {
          display: none;
        }

        tr {
          display: block;
        }

        td {
          padding: 5px;
          vertical-align: top;
          text-align: left;
          font-size: 10px;
          text-transform: uppercase;

          &:nth-child(1) {
            font-weight: $fontBlack;
          }
        }
      }
    }
  }

  .product-details {
    @media (min-width: $screen-md-min) {
      margin-bottom: 85px;
    }
  }

  .product-details--description,
  .product-details--specification {
    @extend .av-col-xs-24;
    @extend .av-col-md-11;
  }

  .product-details--description {
    margin-bottom: 60px;
  }

  .product-details--specification {
    @extend .av-col-md-offset-2;
    margin-bottom: 30px;
  }

  .product-details--title {
    font-size: 14px;
    font-weight: $fontBold;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 24px;
    @media (max-width: $screen-sm-max) {
      text-align: center; 
    }
  }

  .productDescription {
    line-height: 30px;
    @media (max-width: $screen-sm-max) {
      text-align: center; 
    }
  }

  .product-details--specification {
    .product-details--title {
      margin-bottom: 16px;
    }
    h4 { 
      display: none !important;
    }
    table {
      // display: inline-block;
      width: 100%;

      tbody {
        display: block;
        width: 100%;
      }

      tr {
        width: 100%;
        display: block;
        &.even {
          background-color: $lightGray;
        }

        // &:nth-child(odd) {
        //   background-color: $white;
        // }
      }

      th {
        display: inline-block;
        width: 40%;
        text-align: left;
        font-size: 11px;
        font-weight: $fontBold;
        text-transform: uppercase;
        padding: 15px 20px;
        @media (min-width: $screen-md-min) {
          width: 25%;
        }
      }

      td {
        display: inline-block;
        width: 60%;
        text-align: left;
        font-size: 14px;
        font-weight: $fontRegular;
        padding: 15px 20px;
        @media (min-width: $screen-md-min) {
          width: 75%;
        }
      }
    }
  }

  .product-related {
    padding-bottom: 60px;
    @media (max-width: $screen-sm-max) {
      padding-bottom: 20px;
    }
    .main-shelf {
      h2 {
        font-weight: $fontBlack;
        font-size: 14px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
      }
      // ul li {
      //   padding: 0 10px;
      // }
      // .slick-dots {
      //   bottom: 20px;
      // }
    }
  }
}

