<div class="benefits-container">
	<p class="benefits-item">
		<img src="/arquivos/benefits-frete-gratis.png" />
		<span>
			<span>Frete Grátis</span>
			<small>Acima de R$ 199</small>
		</span>
	</p>
	<p class="benefits-item">
		<img src="/arquivos/benefits-troca-gratis.png" />
		<span>
			<span>Troca Grátis</span>
			<small>No primeiro pedido</small>
		</span>
	</p>
	<p class="benefits-item">
		<img src="/arquivos/benefits-pague-parcelado.png" />
		<span>
			<span>Pague parcelado</span>
			<small>Em ate 10x sem juros</small>
		</span>
	</p>
	<p class="benefits-item">
		<img src="/arquivos/benefits-desconto-a-vista.png" />
		<span>
			<span>Desconto à vista</span>
			<small>5% de desconto no boleto</small>
		</span>
	</p>
</div>