<h1>FAQ – Perguntas frequentes</h1>


<h3>1. MEUS PEDIDOS  </h3>

<p><strong>Consigo rastrear o minha Compra?</strong></p>

<p>Sim. As informações mais atualizadas sobre sua Compra e a situação de entrega de sua Compra estão disponíveis em Meus pedidos. Além disso, você será notificado do andamento do seu pedido pelo e-mail informado.   </p>


<p><strong>Qual a empresa responsável pela entrega da minha Compra?</strong></p>

<p>A escolha de qual destas empresas será responsável pelo transporte de seu pedido caberá exclusivamente à Shoebiz, não tendo o Cliente nenhuma influência sobre tal decisão. Neste momento, trabalhamos com as transportadoras Correios. É possível que, no futuro, a Shoebiz decida trabalhar com outras transportadoras, além dessa, ou que decida parar de trabalhar com essas transportadoras.   </p>


<p><strong>Posso adicionar outro produto à Compra que eu fiz?   </strong></p>

<p>Não, após finalizada, a Compra não poderá ser alterada. Para adquirir outro produto, você deverá iniciar uma nova Compra.   </p>


<p><strong>Não recebi todos os itens da minha Compra. O que faço?   </strong></p>

<p>Entre em contato com o nossa Central de Relacionamento Shoebiz. por telefone (11) 3033-9533 ou por e-mail relacionamento@shoebiz.com.br</p>

 <p><strong>Como faço para confirmar a disponibilidade de um produto no estoque?   </strong></p>

<p>No Site, se houver carrinho de compras visível no momento da finalização do pedido, significa que há estoque do produto.   </p>


<p><strong>Posso fazer minha Compra no Site e buscar os produtos adquiridos na loja física?   </strong></p>

<p>Não. Ao efetuar uma Compra pelo Site, você receberá o(s) produto(s) adquirido(s) no endereço informado, por meio dos mecanismos de entrega disponibilizados Shoebiz no Site. A respeito, vide a Política de Entrega.   </p>


<p><strong>Qualquer pessoa pode receber o produto que eu comprei?   </strong></p>

<p>Sim, desde que seja maior de idade, esteja munido de um documento de identificação e assine o protocolo de entrega.   </p>


<p><strong>Existe um valor mínimo de pedido?   </strong></p>

<p>Não.   </p>


<p><strong>A Shoebiz faz entrega parcial?   </strong></p>

<p>Não, as entregas serão feitas por Compra feita no Site, incluindo sempre o total de produtos adquiridos na respectiva Compra do Site.   </p>


<p><strong>Posso alterar o endereço da entrega?   </strong></p>

<p>Sim, mas somente antes de concluir a Compra no Site. Depois de finalizada, a Compra não pode mais ser alterada. Em caso de dúvida, entre em contato com nossa a Central de Relacionamento Shoebiz por telefone 3033-9533 ou por e-mail relacionamento@shoebiz.com.br</p>


<p><strong>Como é calculado o frete para meu pedido?  </strong></p>

<p>O valor do frete é calculado automaticamente, a partir dos produtos selecionados e do CEP da entrega do Cliente. A informação do valor do frete já calculado para determinado endereço e determinados produtos aparece para o Cliente no momento de finalização da Compra no Site.   </p>


<p><strong>Eu consigo mandar uma parte da Compra para um endereço e outra parte para outro? </strong></p>

<p>Não. Todos os produtos adquiridos em determinada Compra serão entregues conjuntamente, no mesmo endereço. Para enviar produtos para dois endereços diferentes, será necessário realizar duas Compras diferentes, em momentos distintivos.   </p>


<p><strong>Posso incluir ou excluir produtos do carrinho de compras?   </strong></p>

<p>Sim, mas apenas até a finalização da Compra no Site. Para incluir, basta clicar no mais e, para excluir, na lixeira. Para alterar a quantidade de produtos dentro do carrinho de compras é necessário que você coloque a quantidade (em números) que você deseja adquirir.   </p>


<p><strong>Posso retomar um carrinho de compras?   </strong></p>

<p>Sim, desde que os produtos nele indicados ainda estejam disponíveis em estoque, será possível recuperar o carrinho de compras e finalizar a Compra.   </p>


<h3>2. PAGAMENTO  </h3>


<p><strong>Quais são os meios de pagamentos disponíveis?   </strong></p>

<p>No momento, o Site aceita apenas cartões de crédito emitidos no Brasil de bandeiras Mastercard®, Visa® e American Express® e Boleto Bancário. No futuro, a Shoebiz pretende adotar outros meios de pagamento. Essas mudanças serão divulgadas em nosso Site e refletidas em nossa Política de Pagamentos. </p>
  

<p><strong>Qual o procedimento se houver pagamento em duplicidade?   </strong></p>

<p>Você pode entrar em contato com a nossa Central de Relacionamento Shoebiz por telefone 3033-9533 ou por e-mail relacionamento@shoebiz.com.br. Neste contato, você poderá solicitar o cancelamento do pagamento duplicado. Após análise, a Shoebiz requererá à operadora do cartão que faça o estorno, se devido.   </p>


<p><strong>E se o meu pagamento não for aprovado?   </strong></p>

<p>Você será notificado em até 48 horas e deverá inserir outro meio de pagamento. Caso contrário, a Compra no Site será cancelada.   </p>


<p><strong>Qual é o prazo de aprovação da Compra?   </strong></p>

<p>O prazo é de até 48 horas.   </p>


<p><strong>Posso alterar o cartão depois da finalização da Compra?   </strong></p>

<p>Não será possível este procedimento.   </p>


<p><strong>Quais são as formas de parcelamento?   </strong></p>

<p>Todas as Compras feitas no cartão de crédito podem ser parceladas em até 6 (seis) vezes.   </p>



<p><strong>Como solicito a segunda via do DANFE (Documento Auxiliar da Nota Fiscal Eletrônica)?</strong></p>
 
<p>Basta entrar em contato com a nossa Central de Relacionamento Shoebiz por telefone 3033-9533 ou por e-mail relacionamento@shoebiz.com.br</p>

<p><strong>Como solicitar a segunda via da Nota Fiscal?   </strong></p>

<p>Basta entrar em contato basta entrar em contato com a nossa Central de Relacionamento Shoebiz por telefone 3033-9533 ou por e-mail relacionamento@shoebiz.com.br</p>

<p><strong>Posso utilizar meu cartão emitido no exterior?   </strong></p>

<p>Não, aceitamos apenas cartões de crédito emitidos no Brasil.   </p>


<p><strong>Quais são os prazos para estorno? </strong></p>

<p>A Shoebiz pedirá o estorno à administradora de cartões em um prazo não superior a 72 (setenta e duas) horas. No entanto, você deverá aguardar o estorno na fatura. O estorno poderá acontecer em até duas faturas, de acordo com a política de cancelamento da administradora do cartão de crédito.   </p>

<h3>3. PRODUTOS  </h3>

<p><strong>É possível encomendar um produto que não esteja à venda?   </strong></p>

<p>Não. No momento não realizamos reservas</p>


<p><strong>O Site da Shoebiz pratica ofertas relâmpago?   </strong></p>

<p>Sim, você pode ver o item Promoções dos nossos Termos e Condições de Uso. Além disso, essas promoções serão sempre anunciadas em nosso Site com destaque, indicando o tempo e as condições de validade, e por e-mail para todos os cadastrados para receber essas informações. Fique atento às ofertas disponíveis no Site fora do horário comercial e cadastre seu e-mail para receber estas notificações.   </p>


<h3>4. CANCELAMENTOS, TROCAS E DEVOLUÇÕES  </h3>


<p><strong>Como trocar um produto do E-Commerce?   </strong></p>

<p>Para trocar um produto adquirido no Site, entre em contato com nossa Central de Atendimento Shoebiz por telefone (11) 3033-9533 ou por e-mail relacionamento@shoebiz.com.br. Para mais informações, acesse nossa Política de Trocas e Devoluções.   </p>


<p><strong>Como fazer devolução de um produto por arrependimento ou desistência? </strong></p>


<p>Para fazer a devolução de um produto basta entrar em contato para obter um código de postagem para que você possa entregar o produto em uma agência dos Correios. Caso haja qualquer dúvida, entre em contato com nossa Central de Relacionamento Shoebiz por telefone (11) 3033-9533, ou por e-mail relacionamento@shoebiz.com.br. O procedimento será o mesmo para devolução de produtos com defeito e para devolução por arrependimento ou desistência. Nesses casos, o prazo será de, no máximo, 7 (sete) dias. </p>

<p><strong>Como devolver um produto com defeito? </strong></p>
<p>Para trocar um produto adquirido no Site, entre em contato com nossa Central de Atendimento Shoebiz por telefone (11) 3033-9533 ou por e-mail relacionamento@shoebiz.com.br. Todos os nossos produtos possuem garantia de 90 dias à partir da data de compra e devem estar em sua embalagem original e nota fiscal. Solicitações de troca de produto usado com defeito não aparente ou produto sem uso, mas, com defeito de fabricação serão devidamente analisados pelo Departamento responsável da Shoebiz, podendo ser submetido à análise do fabricante. O prazo máximo deste procedimento é de 30 dias.</p>


<p><strong>Quais as normas para devolução por Correios?   </strong></p>

<p>Inicialmente, você deve entrar em contato com nossa Central de Relacionamento, por telefone (11) 3033-9533, ou por e-mail relacionamento@shoebiz.com.br e informar os motivos da devolução. Dependendo do caso, nossa central fornecerá um código de autorização de postagem, com o qual você poderá enviar o produto à Shoebiz], de qualquer Agência de Correios Própria AC ou Agência Franqueada AGF, sem qualquer custo. </p>

<p><strong>Como faço para cancelar minha compra?   </strong></p>

<p>Se você quiser cancelar sua compra, você pode entrar com nossa Central de Relacionamento, por telefone (11) 3033-9533, ou por e-mail relacionamento@shoebiz.com.br, e solicitar o cancelamento. Nossos atendentes orientarão o Cliente com relação ao processo por completo.   </p>


<p><strong>Ressarcimento de valores de pedidos cancelados?   </strong></p>

<p>O ressarcimento será feito por meio de pedido de estorno do valor cobrado perante a administradora de cartão de crédito. </p>


<p><strong>Em que situações meu pedido pode ser cancelado?   </strong></p>

<p>Normalmente quando não há liberação do crédito por parte da administradora do cartão. Em caso de dúvidas, entrar com nossa Central de Relacionamento, por telefone (11) 3033-9533, ou por e-mail relacionamento@shoebiz.com.br </p>

<h3>5. CADASTRO DE CLIENTE  </h3>


<p><strong>Como criar uma Conta de Acesso?   </strong></p>

<p>Você pode se cadastrar clicando aqui e preenchendo o cadastro de Cliente. A criação de uma Conta de Acesso vai facilitar sua navegação no site, permitindo, por exemplo, que você faça listas de desejos e simplificando o processo de Compra.   </p>
