<form action="/api/dataentities/FC/documents" class="contact-form" method="post" novalidate="novalidate">
  <div class="contact-form__success">
    Contato enviado com sucesso.
  </div>

  <div class="contact-form__row">
    <div class="contact-form__field half-row">
      <input type="text" class="contact-form__input" id="contact-form__input--name" name="nome" placeholder="Nome*" required="required" />
    </div>

    <div class="contact-form__field half-row">
      <input type="text" class="contact-form__input" id="contact-form__input-phone" name="telefone" placeholder="Telefone*" required="required" />
    </div>
  </div>

  <div class="contact-form__row">
    <div class="contact-form__field half-row">
      <input type="email" class="contact-form__input" id="contact-form__input--email" name="email" placeholder="E-mail*" required="required" />
    </div>

    <div class="contact-form__field assunto half-row">
      <select name="assunto" required="required">
        <option value="Assunto" name="assunto">Assunto</option>
        <option value="Reclamação" name="reclamacao">Reclamação</option>
        <option value="Sugestão" name="sugestao">Sugestão</option>
        <option value="Dúvida" name="duvida">Dúvida</option>
      </select>
    </div>
  </div>

  <div class="contact-form__row">
    <div class="contact-form__field">
      <div class="message-title">Mensagem*</div>
      <textarea class="contact-form__input contact-form__input--textarea" id="contact-form__input--message" name="mensagem" rows="8" required="required"></textarea>
    </div>
  </div>
  <div class="contact-form__row">
    <div class="disclaimer-form">
      <span>*Campos de preenchimento obrigatório</span>
    </div>
  </div>
  <div class="contact-form__row">
    <div class="contact-form__field button-row">
      <button class="contact-form__button" type="submit">Enviar</button>
    </div>
  </div>
</form>