<ul class="submenu__list">
  <li class="submenu__item" data-id="2000001">
    <a href="/Adidas" class="submenu__link">Adidas</a>
  </li>
  <li class="submenu__item" data-id="2000058">
    <a href="/Asics" class="submenu__link">Asics</a>
  </li>
  <li class="submenu__item" data-id="2000003">
    <a href="/Azaleia" class="submenu__link">Azaleia</a>
  </li>
  <li class="submenu__item" data-id="2000005">
    <a href="/Beira Rio" class="submenu__link">Beira Rio</a>
  </li>
  <li class="submenu__item" data-id="2000011">
    <a href="/Chenson" class="submenu__link">Chenson</a>
  </li>
  <li class="submenu__item" data-id="2000012">
    <a href="/ComfortFlex" class="submenu__link">ComfortFlex</a>
  </li>
  <li class="submenu__item" data-id="2000013">
    <a href="/Converse" class="submenu__link">Converse</a>
  </li>
  <li class="submenu__item" data-id="2000014">
    <a href="/Dakota" class="submenu__link">Dakota</a>
  </li>
  <li class="submenu__item" data-id="2000015">
    <a href="/Democrata" class="submenu__link">Democrata</a>
  </li>
  <li class="submenu__item" data-id="2000018">
    <a href="/Fila" class="submenu__link">Fila</a>
  </li>
  <li class="submenu__item" data-id="2000020">
    <a href="/Grendene Kids" class="submenu__link">Grendene Kids</a>
  </li>
  <li class="submenu__item" data-id="2000022">
    <a href="/Havaianas" class="submenu__link">Havaianas</a>
  </li>
  <li class="submenu__item" data-id="2000024">
    <a href="/Jota Pe" class="submenu__link">Jota Pe</a>
  </li>
  <li class="submenu__item" data-id="2000027">
    <a href="/Kolosh" class="submenu__link">Kolosh</a>
  </li>
  <li class="submenu__item" data-id="2000064">
    <a href="/Mississipi" class="submenu__link">Mississipi</a>
  </li>
  <li class="submenu__item" data-id="2000035">
    <a href="/Mizuno" class="submenu__link">Mizuno</a>
  </li>
  <li class="submenu__item" data-id="2000077">
    <a href="/Modare" class="submenu__link">Modare</a>
  </li>
  <li class="submenu__item" data-id="2000036">
    <a href="/Moleca" class="submenu__link">Moleca</a>
  </li>
  <li class="submenu__item" data-id="2000037">
    <a href="/Molekinha" class="submenu__link">Molekinha</a>
  </li>
  <li class="submenu__item" data-id="2000041">
    <a href="/Nike" class="submenu__link">Nike</a>
  </li>
  <li class="submenu__item" data-id="2000075">
    <a href="/Oakley" class="submenu__link">Oakley</a>
  </li>
  <li class="submenu__item" data-id="2000042">
    <a href="/Olympikus" class="submenu__link">Olympikus</a>
  </li>
  <li class="submenu__item" data-id="2000044">
    <a href="/Pegada" class="submenu__link">Pegada</a>
  </li>
  <li class="submenu__item" data-id="2000046">
    <a href="/Puma" class="submenu__link">Puma</a>
  </li>
  <li class="submenu__item" data-id="2000052">
    <a href="/Via Marte" class="submenu__link">Via Marte</a>
  </li>
  <li class="submenu__item" data-id="2000063">
    <a href="/Via Uno" class="submenu__link">Via Uno</a>
  </li>
  <li class="submenu__item" data-id="2000055">
    <a href="/Vizzano" class="submenu__link">Vizzano</a>
  </li>
  <li class="submenu__item">
    <a href="/busca" class="submenu__link">Ver todas</a>
  </li>
</ul>