<h1>Nossas lojas</h1>
<p>Encontre a unidade mais perto de você</p>

<ul class="nossas__lojas-list">
	<li>
		<h3>CENTRO, GUARULHOS</h3>
		<p> Rua Dom Pedro II, 148 - Centro<br />
			Guarulhos / SP<br />
			CEP: 07011-003 <br />
	        Tel.: <a href="tel:551133670016">(11) 3367-0016</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, SÃO B. CAMPO</h3>
		<p>Rua Marechal Deodoro, 1300 - Centro <br />
			São Bernardo do Campo / SP <br />
			CEP: 09710-002 <br />
	        Tel.: <a href="tel:551133670020">(11) 3367-0020</a>
        </p>
	</li>
	<li>
		<h3>SHOPPING TABOÃO</h3>
		<p>Rodovia Régis Bittencourt, km 271,5 - Cidade Intercap <br />
			Taboão da Serra / SP <br />
			CEP: 06768-200 <br />
	        Tel.: <a href="tel:551133670029">(11) 3367-0029</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, OSASCO</h3>
		<p>Rua Antônio Agu, 326 - Centro <br />
			Osasco / SP <br />
			CEP: 06093-000 <br />
	        Tel.: <a href="tel:551133670013">(11) 3367-0013</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, MOGI DAS CRUZES</h3>
		<p>Rua Doutor Deodato Wertheimer, 1473 - Centro <br />
			Mogi das Cruzes / SP <br />
			CEP: 08710-430 <br />
	        Tel.: <a href="tel:551133670021">(11) 3367-0021</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, SÃO J. DOS CAMPOS</h3>
		<p>Rua Sete de Setembro, 195 - Centro <br />
			São José dos Campos / SP <br />
			CEP: 12210-260 <br />
	        Tel.: <a href="tel:551239228889">(12) 3922-8889</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, SÃO VICENTE</h3>
		<p>Rua Martim Afonso, 460 - Centro <br />
			São Vicente / SP <br />
			CEP: 11310-011 <br />
	        Tel.: <a href="tel:551334683238">(13) 3468-3238</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, SOROCABA</h3>
		<p>Rua Barão do Rio Branco, 102 - Centro <br />
			Sorocaba / SP <br />
			CEP: 18010-170 <br />
	        Tel.: <a href="tel:551532334758">(15) 3233-4758</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, TAUBATÉ</h3>
		<p>Praça Dom Epaminondas, 73 - Centro <br />
			Taubaté / SP <br />
			CEP: 12020-050 <br />
	        Tel.: <a href="tel:551236353351">(12) 3635-3351</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, JACAREÍ</h3>
		<p>Rua Doutor Lúcio Malta,464, - Centro <br />
			Jacareí / SP <br />
	        Tel.: <a href="tel:551133670026">(11) 3367-0026</a>
        </p>
	</li>
	<li>
		<h3>CENTRO, SUZANO</h3>
		<p>Rua Gen. Francisco Glicério, 544 - Centro <br />
			Suzano / SP <br />
			CEP: 08674-000 <br />
	        Tel.: <a href="tel:551133670010">(11) 3367-0010</a>
        </p>
	</li>
	<li>
		<h3>SÃO MIGUEL PAULISTA</h3>
		<p>Rua Arlindo Colaço, 418 - São Miguel Paulista <br />
			São Paulo / SP <br />
			CEP: 08010-010 <br />
	        Tel.: <a href="tel:551133670015">(11) 3367-0015</a>
        </p>
	</li>
	<li>
		<h3>SANTO AMARO</h3>
		<p>Largo Treze de Maio, 556 - Santo Amaro <br />
			São Paulo / SP <br />
			CEP: 04751-000 <br />
	        Tel.: <a href="tel:551133670014">(11) 3367-0014</a>
        </p>
	</li>
	<li>
		<h3>PENHA</h3>
		<p>Rua Penha de França, 352 - Penha de Franca <br />
			São Paulo / SP <br />
			CEP: 03606-000 <br />
	        Tel.: <a href="tel:551133670017">(11) 3367-0017</a>
        </p>
	</li>
	<li>
		<h3>LAPA</h3>
		<p>Rua Doze de Outubro, 173 - Lapa <br />
			São Paulo / SP <br />
			CEP: 05073-001 <br />
	        Tel.: <a href="tel:551133670040">(11) 3367-0040</a>
        </p>
	</li>
	<li>
		<h3>PINHEIROS</h3>
		<p>Rua Teodoro Sampaio, 2505 - Pinheiros <br />
			São Paulo / SP <br />
			CEP: 05405-250 <br />
	        Tel.: <a href="tel:551133670011">(11) 3367-0011</a>
        </p>
	</li>
	<li>
		<h3>SANTANA</h3>
		<p>Rua Voluntários da Pátria, 2247 - Santana <br />
			São Paulo / SP <br />
			CEP: 02011-500 <br />
	        Tel.: <a href="tel:551133670019">(11) 3367-0019</a>
        </p>
	</li>
	
</ul>
