<h1>Políticas de Pagamentos</h1>


<p>A Política de Pagamentos abaixo constitui parte integrante dos Termos e Condições de Uso.</p>


<h3>1. Identificação</h3>

<p>Este site é de propriedade, mantido, e operado por Shoebiz Comércio de Calçados Ltda, com endereço na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP, inscrita no CNPJ/MF sob o n07.639.530/0021-77, com Inscrição Estadual nº 128.711.630.111.</p> 


<h3>2. Contato – SAC (Central de Atendimento Shoebiz)</h3>

<p>Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Pagamentos, a Shoebiz disponibiliza o SAC para receber todas as comunicações que o Usuário desejar fazer. O SAC opera por meios dos canais de comunicação listados abaixo: (a) Pelo e-mail relacionamento@shoebiz.com.br (b) Pelo telefone (11) 3033-9533, de segunda a sexta, das 09:00 às 17:00  Além disso, a Shobiz disponibiliza neste site uma seção de FAQ (Perguntas mais frequentes), bem como suas demais políticas: Política de Trocas e Devoluções, Política de Entrega de Produtos, Política de Privacidade e Segurança e, finalmente, os Termos e Condições de Uso deste Site. </p>

<h3>3. Indicação das condições de pagamento na oferta de produtos</h3>

<p>A Shoebiz disponibilizará no Site, para cada produto, uma página descritiva, da qual constarão informações relativas às suas características, composição, eventuais riscos que possa oferecer à saúde e à segurança, prazo de validade, origem, disponibilidade em estoque, condições de pagamento e preço total à vista.</p>

<h3>4. Pedido de Compra – Escolha do meio e condições de pagamento</h3>

<p>Para a aquisição dos produtos, o Cliente deverá acessar sua Conta e seguir as indicações do Site. Feita a escolha dos produtos e de suas respectivas quantidades, o Cliente será direcionado à página de pagamento, para cálculo do frete e escolha da forma de pagamento. Este é o último momento para que o Cliente identifique e corrija quaisquer erros cometidos nas etapas anteriores. Após a finalização da Compra, essa não poderá ser alterada (modificação de quantidades, alteração de produtos, troca da forma de pagamento, etc.). A Shoebiz imediatamente enviará um e-mail ao Cliente indicando o número da Compra, os produtos e as quantidades adquiridas, o preço, o valor do frete, a forma de pagamento e o prazo estimado ou o agendamento de entrega. A Shoebiz, visando garantir a segurança dos Clientes, poderá entrar em contato com o Cliente para confirmação da realização de uma Compra, por si ou por terceiros, inclusive para confirmação de dados cadastrais e de pagamento, podendo, ainda, cancelar a Compra, caso haja qualquer inconformidade relacionada a qualquer dado indicado pelo Cliente em todo o processo de realização da compra. O Cliente declara ter lido e estar ciente de todas as disposições dos Termos e Condições de Uso, bem como das Políticas que o compõem. </p>
<p>Alterações do pedido. Como regra geral, a Shoebiz não aceitará alterações da Compra (formas de pagamento, quantidades, local, data ou turno da entrega) após a finalização de seu processo.</p>


<h3>5. Meios de Pagamento   </h3>

<p>O Cliente poderá pagar suas Compras no Site pela utilização de cartões de crédito emitidos no Brasil em seu nome, seja como titular ou como dependente, pelas seguintes bandeiras: Visa®, Mastercard® e American Express®. Para segurança de suas operações e visando evitar fraudes, a Shoebiz se reserva o direito de recusar cartões de crédito de terceiros ou cartões de crédito emitidos no exterior. </p>
<p>Segurança do pagamento. A Shoebiz dispõe de uma política específica que contempla questões relacionadas à aquisição do produto, inclusive sobre a segurança do pagamento de Compras realizadas no Site: Política de Privacidade e Segurança.   </p>


<h3>6. Influências dos Meios de Pagamento na Entrega e na Devolução de Produtos   </h3>


<p>Entrega. Durante o processo de compra, a Shoebiz informará ao Cliente uma estimativa de prazo para a entrega dos Produtos. Essa estimativa leva em conta os produtos adquiridos, as suas quantidades, o estoque disponível e a distância entre nossas centrais de distribuição e o endereço de entrega informado pelo Cliente. O prazo de entrega será contado a partir da data de aprovação do pedido, que pode variar de acordo com a forma de pagamento escolhida. Normalmente, a aprovação ocorre em até três dias úteis para pagamentos por cartão de crédito. </p>
<p>Devolução. Caso se arrependa de uma compra realizada no Site, o Cliente poderá informar à Shoebiz por meio da Central de Relacionamento Shoebiz e requerer a devolução do produto e o cancelamento da compra. O procedimento está integralmente descrito na Política de Trocas e Devoluções. Caso o produto esteja em condições adequadas, a Shoebiz notificará o Cliente informando que aceitou o produto devolvido e providenciará a devolução integral dos valores pagos em conexão com o produto adquirido, incluindo o preço e os custos com o frete. Se o arrependimento ocorrer com relação a apenas um dos produtos constantes de um pedido, a devolução dos custos de frete será proporcional. A devolução de pagamentos feitos por cartão de crédito será realizada por meio de estorno do lançamento, a ser solicitado pela Shoebiz à administradora do cartão utilizado em, no máximo, 72 (setenta e duas) horas após a aceitação e validação das condições do produto devolvido. O prazo de efetivação do estorno é de exclusiva responsabilidade da administradora do cartão.</p>
