<h1>Política de Entrega de Produtos</h1>


<p>A Política de Entrega de Produtos abaixo constitui parte integrante dos Termos e Condições de Uso. </p>


<h3>1. Identificação</h3>

<p>Este site é de propriedade, mantido, e operado por Shoebiz, com endereço na endereço na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP, inscrita no CNPJ/MF sob o n 07.639.530/0021-77, com Inscrição Estadual nº 128.711.630.111.   </p>


<h3>2. Contato – Central de Relacionamento Shoebiz</h3>

<p>Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Entrega de Produtos, a Shoebiz disponibiliza a central de relacionamento para receber todas as comunicações que o Usuário desejar fazer. A Central  opera por meios dos canais de comunicação listados abaixo: <br />
1 - Por e-mail relacionamento@shoebiz.com.br;<br />
2 - Por (11) 3033-9533, de segunda a sexta das 09h00 às 17h00 </p>

<p>Além disso, a Shoebiz disponibiliza neste Site uma seção de FAQ (Perguntas mais frequentes), bem como suas demais políticas: Política de Trocas e Devoluções, Política de Pagamentos, Política de Segurança e Privacidade e, finalmente, os Termos e Condições de Uso deste Site. Todos estes documentos podem ser consultados online pelo Usuário em nosso site.</p>


<h3>3. Locais atendidos </h3>

<p>A Shoebiz opera, diretamente ou por meio de terceiros contratados, serviços de entrega em todo o Estado de São Paulo. No entanto, a Shoebiz não disponibiliza entrega de produtos adquiridos neste Site em outros estados, ou países, ou territórios estrangeiros.  </p>



<h3>4. Prazos de entrega  </h3> 

<p>Durante o processo de Compra, a Shoebiz informará ao Cliente uma estimativa de prazo para a entrega dos Produtos. Essa estimativa leva em conta os produtos adquiridos, as suas quantidades, o estoque disponível e a distância entre nossas centrais de distribuição e o endereço de entrega informado pelo Cliente. O prazo de entrega será contado a partir da data de aprovação do pedido, que pode ocorrer em até 3 (três) dias úteis para pagamentos por cartão de crédito. </p>  


<h3>5. Horário de entrega</h3>

<p>A Shoebiz efetua as entregas de Produtos entre segunda-feira e sexta-feira, das 08:00 às 18:00, podendo haver variações em casos excepcionais. </p>

<h3>6. Valor do frete</h3>

<p>O valor do frete da entrega dos Produtos é calculado automaticamente pelo Site no momento da Compra, a partir do peso, volume e quantidade dos Produtos adquiridos, assim como da distância entre nossos centros de distribuição e o local de entrega informado pelo Cliente. A seu exclusivo critério, a Shoebiz poderá disponibilizar em seu Site categorias especiais de frete, específicas para alguns produtos e para algumas localidades, de forma definitiva ou temporária. Neste caso, é possível que cada categoria ofereça preços e prazos de entrega diferentes, cabendo ao Cliente escolher aquela categoria que atenda a suas expectativas.   </p>



<h3>7. Recusa de recebimento</h3>
<p>O Cliente poderá e deverá verificar os seguintes aspectos no momento do recebimento: (i) se a embalagem estiver aberta, violada ou danificada; (ii) se o Produto estiver avariado pelo transporte, aberto, violado ou usado; (iii) se os Produtos entregues não corresponderem aos Produtos adquiridos pelo Site e/ou à nota fiscal; ou, ainda, (iv) se o conteúdo das embalagens estiver incompleto, sem partes ou acessórios dos produtos adquiridos. Em caso de qualquer divergência, o Cliente deverá recusar-se a receber o Produto em questão e entrar em contato com a Central de Relacionamento, para imediata solução do problema identificado. Caso haja o recebimento indevido do produto, o Cliente poderá requerer sua troca apenas nos casos previstos na Política de Trocas e Devoluções. </p>


<h3>8. Tentativas de entrega  </h3>

<p>A Shoebiz entregará os Produtos adquiridos, no prazo estabelecido e no endereço informado pelo Cliente. Caso não seja possível a Shoebiz realizar a entrega dos Produtos por ausência do Cliente, de pessoa autorizada, por restrições de horário do condomínio ou por limitações físicas que impeçam a entrega ou, ainda, por erro do Cliente em indicar o local correto da entrega no ato da compra dos Produtos, a Shoebiz fará mais duas tentativas subsequentes. Caso as três tentativas de entrega fracassem, os produtos adquiridos serão devolvidos à central de distribuição, o pedido será cancelado e o reembolso ocorrerá nos mesmos termos previstos na Política de Trocas e Devoluções com relação à devolução por arrependimento (item 4.5 da referida Política). </p>


<h3>10. Diversos  </h3> 

<p>Alterações do pedido. A Shoebiz não aceitará alterações do pedido (formas de pagamento, quantidades, local, data ou turno da entrega) após a finalização do processo de Compra no Site. </p>
<p>Atrasos. Algumas situações excepcionais podem causar atrasos na entrega dos Produtos adquiridos, como a indicação de um endereço errado, incompleto ou inexistente ou a ocorrência de fatores naturais (chuvas, enchentes) ou humanos (greves, manifestações, acidentes), conhecidos como eventos de caso fortuito e força maior. Nestes casos, a Shoebiz fará o possível para manter o Cliente informado com relação ao problema que causou o atraso e para efetivar a entrega no menor prazo possível. </p>
<p>Retenções. Caso os Produtos adquiridos sejam retidos por autoridades fiscais em decorrência de pendências do Cliente, a Shoebiz informará a situação imediatamente, ficando, no entanto, isenta do dever de entregar, uma vez que os Produtos só poderão ser liberados pela autoridade competente mediante o comparecimento do Cliente. </p>


<p>Alertas. A Shoebiz poderá enviar e-mails ou mensagens SMS ao Cliente a fim de informar qualquer alteração no processo de entrega de seu pedido, como a saída dos produtos do centro de distribuição, o deslocamento pela cidade, o horário estimado de entrega, eventuais atrasos, entre outros.</p>


