<h1>Política de Troca e Devolucão de Produtos</h1>


<p>A Política de Troca e Devolução de Produtos abaixo constitui parte integrante dos Termos e Condições de Uso. </p>


<h3>1. Identificação   </h3>

<p>Este site é de propriedade, mantido, e operado por Shoebiz Comércio de Calçados Ltda, com endereço na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP inscrita no CNPJ/MF sob o número 07.639.530/0021-77, com Inscrição Estadual nº 128.711.630.111</p>


<h3>2. Contato – Central de Relacionamento Shoebiz    </h3>

<p>Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Troca e Devolução de Produtos, a Shoebiz disponibiliza a Central de Relacionamento para receber todas as comunicações que o Usuário desejar fazer. A Central opera por meios dos canais de comunicação listados abaixo: Por e-mail relacionamento@shoebiz.com.br ou pelo telefone (11) 3033-9533 de segunda a sexta das 09h00 às 17h00. Além disso, a Shoebiz disponibiliza neste Site uma seção de FAQ (Perguntas mais frequentes), bem como suas demais políticas: Política de Entrega de Produtos, Política de Pagamentos, Política de Segurança e Privacidade e, finalmente, os Termos e Condições de Uso deste Site. </p>

<h3>3. Modalidades </h3>

<p>Em atendimento à legislação de proteção e defesa do consumidor, a Shoebiz disponibiliza 2 (duas) modalidades de troca ou devolução de produtos: (i) por arrependimento do consumidor; e (ii) por defeito do produto (vício).   </p>




<h3>3. Devolução por arrependimento do Cliente </h3>

<p>Caso se arrependa de uma compra realizada no Site, o Cliente poderá informar à Shoebiz por meio da Central de Relacionamento e requerer a devolução do produto e o cancelamento da compra. O Cliente terá 7 (sete) dias corridos, contados da data de recebimento do Produto, para informar seu arrependimento. Se este prazo terminar em um sábado, domingo ou feriado, o Cliente poderá exercer o seu direito de arrependimento até o primeiro dia útil subsequente. O exercício do direito de arrependimento será processado da seguinte forma: </p>
<p>4.1. Contato com a Central de Relacionamento. Para exercer seu direito legal de arrependimento, o Cliente deverá contatar a Central de Relacionamento a fim de solicitar o cancelamento da Compra. É importante que o Cliente informe neste contato o número da nota fiscal e o nome completo do Produto, além de confirmar seus dados pessoais. <br />
4.2. Envio do produto à Shoebiz. O Cliente deve envia-lo à Shoebiz por correio. Neste caso, bastará solicitar Central de Relacionamento um código de postagem e comunicá-lo aos Correios no ato do envio. <br />
4.3. Condições do produto. Ao receber o Produto, a Shoebiz verificará se o mesmo está em condições adequadas, ou seja, se: (i) está em sua embalagem original, com todos os manuais, certificados de garantia, partes e acessórios; e (ii) está sem indícios de testes, provas ou uso. <br />
4.4. Negativa do arrependimento. Caso o Produto não esteja em condições adequadas conforme descrito acima, Shoebiz notificará o Cliente para informar que o direito ao arrependimento não poderá ser exercido, devendo o Cliente retirar o Produto em questão ou arcar com os custos de frete para nova entrega do Produto. <br />
4.5. Devolução dos valores pagos. Caso o Produto esteja em condições adequadas, a Shoebiz notificará o Cliente informando que aceitou o Produto devolvido e providenciará a devolução integral dos valores pagos pelo Cliente para a aquisição do Produto, incluindo o preço e os custos com o frete. Se o arrependimento ocorrer com relação a apenas um dos itens adquiridos ou alguns Produtos constantes de um pedido, a devolução dos custos de frete será proporcional. A devolução de pagamentos feitos por cartão de crédito será realizada por meio de estorno do lançamento, a ser solicitado pela Shoebiz à administradora do cartão utilizado em, no máximo, 72 (setenta e duas) horas após a aceitação e validação das condições do produto devolvido. O prazo de efetivação do estorno é de exclusiva responsabilidade da administradora do cartão e será realizada de acordo com as regras e condições dessa empresa.   </p>





<h3>4. Devolução ou Troca por defeito no produto (em até sete dias)   </h3>

<p>Se o Produto adquirido no Site apresentar algum defeito ou avaria, o Cliente poderá solicitar a sua devolução ou troca por meio da Central de Relacionamento. O Cliente terá 7 (sete) dias corridos, contados da data de recebimento do produto, para informar a existência do defeito e requerer a troca ou a devolução. Se este prazo terminar em um sábado, domingo ou feriado, o Cliente poderá reportar a existência do defeito até o primeiro dia útil subsequente. A análise do pedido de troca ou devolução será processada da seguinte forma: </p>
<p>6.1. Contato com Central de Relacionamento a fim de informar a existência do defeito. É importante que o Cliente informe neste contato o número da nota fiscal, o nome completo do Produto e o defeito apresentado, além de confirmar seus dados pessoais. <br />
6.2. Envio do Produto à Shoebiz. O Cliente terá a opção para a devolução do produto à Shoebiz por meio do correio. Neste caso, bastará solicitar a Central de Relacionamento um código de postagem e comunicá-lo aos Correios no ato do envio.  6.3. Condições do produto. Ao receber o Produto, a Shoebiz verificará as suas condições, sendo que: (i) o produto deverá estar em sua embalagem original, com todos os manuais, certificados de garantia, partes e acessórios; (ii) o defeito apresentado deverá corresponder à descrição feita pelo Cliente; e (iii) o produto não deve ter sinais de mau uso pelo Cliente. <br />
6.4. Negativa da troca ou devolução. Se o Produto não preencher as condições para troca ou devolução, a Shoebiz notificará o Consumidor para retirar o Produto em questão ou para arcar com os custos de frete para nova entrega do Produto. <br />
6.5. Aceitação da troca ou devolução. Caso o Produto esteja em condições adequadas, a Shoebiz notificará o Cliente a aceitação e validação das condições do produto devolvido e permitirá que o Cliente opte pelo (i) envio de produto idêntico, de mesma marca, linha, modelo e versão, sem qualquer custo adicional ou (ii) emissão de um Vale Compras no valor total do pagamento feito pelo Cliente (incluindo preço do produto e frete) para utilização em compras futuras. Havendo indisponibilidade do Produto a ser trocado, o Cliente poderá optar: (i) pelo crédito no valor total do pagamento (incluindo preço do produto e frete) para utilização em compras futuras; (ii) pela troca imediata por qualquer Produto disponível na Shoebiz, com compensação em caso de diferença no preço; (iii) pela devolução do valor do produto, nos termos do item 4.5 acima.  </p>


<h3>5. Devolução ou Troca por defeito no produto </h3>

<p>O prazo para troca de produto com defeito é de 90 dias após a data da compra, conforme artigo 26 do CDC - Código de Defesa do Consumidor. O produto deve estar preferencialmente com a embalagem original ou comprovante de compra; <br />
Solicitações de troca de produto usado com defeito não aparente ou produto sem uso, mas, com defeito de fabricação serão devidamente analisados pelo Departamento responsável da Shoebiz, podendo ser submetido à análise do fabricante. O prazo máximo deste procedimento é de 30 dias. De qualquer forma, a central de relacionamento auxiliará o cliente.</p>
