<h1>Política de Privacidade e Segurança </h1>


<p>A Política de Privacidade e Segurança abaixo constitui parte integrante dos Termos e Condições de Uso.</p>


<h3>1. Identificação</h3>

<p>Este site é de propriedade, mantido, e operado por Shoebiz Comércio de Calçados Ltda, com endereço na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP, inscrita no CNPJ sob o nº 07.639.530/0021-77.<p>


<h3>2. Contato Central de Relacionamento Shoebiz</h3>

<p>Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Privacidade e Segurança, a Shoebiz disponibiliza a Central de Relacionamento para receber todas as comunicações que o Usuário desejar fazer. A Central de Relacionamento opera por meios dos canais de comunicação listados abaixo:  <br />
(a) Pelo telefone (11) 3033-9533, de segunda a sexta, das 09:00 às 17:00;<br />
(b) Através do e-mail relacionamento@shoebiz.com.br;<br />
(c) Por correspondência endereçada à Shoebiz, na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP, CEP 05421-050, sempre acompanhada das informações de contato do consumidor, para que possamos finalizar o atendimento. </p>
<p>Em todos os casos, o Usuário receberá um tratamento à sua demanda em um prazo máximo de 7 (sete) dias. Além disso, a Shoebiz disponibiliza neste site uma seção de FAQ (Perguntas mais frequentes), bem como suas demais políticas: Política de Trocas e Devoluções, Política de Pagamentos, Política de Entrega de Produtos, e, finalmente, os Termos e Condições de Uso deste Site. Todos estes documentos podem ser consultados online.   </p>


<h3>3. Informações gerais</h3>

<p>A Shoebiz toma todas as medidas necessárias para proteger a privacidade do Usuário, em atendimento à legislação em vigor. Este documento detalha as formas de coleta, guarda, utilização, compartilhamento e divulgação de seus dados pessoais, bem como aponta claramente as medidas tomadas para assegurar a proteção dos dados coletados. </p> 


  <h3>4. Coleta, utilização e guarda dos dados</h3>
  
<p>Coleta de dados: Conta de Acesso. Para a criação de uma Conta de Acesso no Site, o Usuário deve preencher um cadastro, que pode variar de complexidade de acordo com as operações que pretende fazer. Desta forma, um cadastro simples composto de endereço de e-mail e CEP será requerido para eventual envio de mensagens publicitárias e promocionais ao Usuário sobre produtos, serviços, promoções e/ou novidades da Shoebiz. Para a realização de Compras, o Usuário deverá criar uma Conta de Acesso, fornecendo nome completo, endereço de e-mail, número de telefone, CPF, endereço completo (estado, cidade, bairro, rua, número, complemento, informações extras). Os dados fornecidos pelos Usuários serão armazenados e utilizados pela Shoebiz, por si ou por terceiros por ela contratados, para fornecer os produtos do Site, realizar as transações comerciais, processar pagamentos a elas relacionados, compartilhar dados, enviar e-mails de ofertas, produtos, serviços e campanhas de marketing, armazenar o histórico de produtos visualizados, promover campanhas de retargeting, personalizar páginas do Site, verificar dados bancários para evitar fraudes (dados não serão armazenados) e realizar entregas e devolução. Os dados poderão ser compartilhados com terceiros contratados pela Shoebiz nos termos desta Política, ressaltando-se que a criação de cada Conta de Acesso ou qualquer cadastro no Site, para o qual seja necessário o envio de qualquer dado pessoal do Usuário, pressupõe o consentimento expresso quanto à coleta, uso, armazenamento e tratamento de dados pessoais. O Usuário é responsável, nas esferas civil e criminal, pela veracidade e atualização dos dados fornecidos (inclusive os dados pessoais) e a Shoebiz se exime de qualquer responsabilidade por danos decorrentes do reenchimento incompleto, impreciso ou inexato do cadastro pelo Usuário, sob qualquer meio ou forma, ou, ainda, pelo uso desse cadastro de forma indevida por qualquer terceiro não autorizado a usar tais dados ou, ainda, por terceiros que tenham, devida ou indevidamente, obtido os dados do Usuário para acesso no Site, agindo como se ele fosse. </p>
<p>Coleta de dados: Cookies. Visando oferecer a melhor experiência de navegação e Compras ao Usuário, a Shoebiz utiliza-se de tecnologias para coletar e armazenar informações relacionadas à visita do Usuário no Site e isso pode incluir o envio de um ou mais cookies ou identificadores anônimos que coletam dados relativos às preferências de navegação e às páginas visitadas pelo Usuário. Desta forma, a apresentação do Site fica personalizada e alinhada aos interesses pessoais do Usuário. A utilização destes dados fica restrita ao objetivo indicado e a Shoebiz se compromete a não utilizar ou permitir a utilização de tais dados com outra finalidade. Ademais, a coleta, guarda e tratamento destes dados é absolutamente automatizada, não havendo nenhuma possibilidade de contato humano com os dados em questão. O Usuário pode e poderá, a qualquer tempo, caso discorde da política de cookies acima, utilizar as ferramentas de seu navegador que impedem a instalação de cookies e ainda apagar quaisquer cookies existentes em seu dispositivo de conexão com a internet. Neste caso, algumas funcionalidades do Site poderão apresentar erros. A Shoebiz poderá ainda utilizar-se de outras tecnologias para a coleta de dados de navegação dos Usuários, comprometendo-se a guardá-los, tratá-los e utilizá-los em conformidade com este Política. </p>
<p>Coleta de dados: Registros de acesso. A Shoebiz manterá em sua base de dados todas as informações relativas aos acessos do Usuário ao Site, incluindo, mas não se limitando ao endereço IP, às páginas acessadas, aos horários e datas de acesso, e o dispositivo de acesso utilizado, nos termos da legislação vigente. Tais registros poderão ser utilizados em investigações internas ou públicas para averiguação de práticas que possam gerar quaisquer prejuízos à Shoebiz, inclusive a prática de crimes em ambientes virtuais. Coleta de dados: Outras formas. A Shoebiz poderá coletar dados pessoais do Usuário, que não os identificados aqui, que sejam inseridos pelo Usuário e sobre o Usuário voluntariamente no processo de navegação do Site ou quando entrar em contato com a Central de Relacionamento Shoebiz. Finalmente, a Shoebiz poderá acessar bases de dados públicas ou privadas para confirmar a veracidade dos dados pessoais informados pelo Usuário, inclusive dados relacionados ao pagamento da Compra. </p>
<p>Utilização de dados: E-mail. A Shoebiz utilizará o e-mail do Usuário prioritariamente para enviar informações sobre suas Compras (confirmação de Compra e atualizações da situação). O e-mail cadastrado também será utilizado para comunicação relacionada às comunicações da empresa e para recuperação da senha de acesso do Cliente, em caso de perda ou esquecimento da senha.</p> 
<p>Utilização de dados: Publicidade via mala direta, e-mail, MMS ou SMS. No momento do cadastro de seus dados de contato, o Usuário terá a opção de aceitar ou proibir o envio de mensagens publicitárias. Ademais, a qualquer momento, o Usuário poderá alterar sua decisão, por meio de contato com a Central de Relacionamento Shoebiz ou, ainda, no campo de descadastro existente nas newsletters enviadas, sendo que nesse caso o descadastramento da base de dados poderá demorar até 5 (cinco) dias para ser efetivada. </p>
<p>Utilização dos dados: Outras formas. Além das formas expostas acima, a Shoebiz poderá, a seu exclusivo critério, utilizar os dados pessoais do Usuário nas seguintes formas: (i) atualização de cadastro; (ii) garantia da segurança do Usuário; (iii) resposta a solicitações do próprio Usuário; (iv) informação acerca de alterações nos Termos e Condições de Uso ou das Políticas; (v) elaboração de estatísticas com relação ao uso do Site, garantido o anonimato do Usuário, inclusive para fins de aperfeiçoamento e entendimento do perfil dos Usuários para a melhoria do Site; (vi) aperfeiçoamento de ferramentas de interatividade entre o Site e o Usuário, garantido seu anonimato; (vii) cumprimento de ordens judiciais; e (viii) defesa dos direitos da Shoebiz contra o Usuário em procedimentos judiciais ou administrativos. </p>
<p>Guarda dos dados. A Shoebiz guardará todos os dados coletados em suas bases de dados protegidas e seguras. Tais dados serão acessados apenas por processos computadorizados automatizados, profissionais autorizados e nos casos listados nesta Política. Caso o Usuário requeira a exclusão de seus dados da base de dados, a Shoebiz se reserva o seu direito de manter os dados em questão em cópias de salvaguarda por até 6 (seis) meses, a fim de cumprir obrigações legais de guarda obrigatória.   </p>


<h3>5. Compartilhamento e divulgação dos dados </h3>

<p>A Shoebiz tem a confidencialidade dos dados pessoais do Usuário como prioridade em seus negócios. Assim, assume o compromisso de não divulgar, compartilhar, dar acesso a, facilitar acesso a, alugar, vender, trocar ou de qualquer outra forma disponibilizar tais informações a terceiros, sob nenhum pretexto, exceto nos casos autorizados expressamente pelo Usuário, inclusive nos casos indicados abaixo. Com o único intuito de permitir a concretização de Compras no Site, a Shoebiz poderá compartilhar dados pessoais dos Usuários com seus parceiros comerciais, como empresas processadoras de pagamentos, administradoras de cartão de crédito e transportadoras. Neste caso, serão compartilhados apenas os dados pessoais imprescindíveis para que o parceiro comercial da Shoebiz desempenhe sua atividade (cobrança, entrega, etc.). Ademais, tais parceiros comerciais serão obrigados, por meio de contratos de confidencialidade, a não arquivar, manter em arquivo, compilar, copiar, reproduzir ou compartilhar tais dados com quem quer que seja. A outra hipótese de divulgação de dados pessoais é por meio de uma determinação judicial. Também neste caso, a divulgação ocorrerá apenas na medida necessária para cumprir a determinação judicial, permanecendo sigilosos os dados não requeridos pela autoridade em questão.  </p>


<h3>6. Dados transmitidos sem solicitação da Shoebiz</h3>

<p>A Shoebiz solicita ao Usuário que não envie quaisquer informações comerciais, criações pessoais, ideias, fotografias, projetos, conceitos, etc (Conteúdos Não Solicitados). Tais Conteúdos Não Solicitados serão sumariamente descartados, sem qualquer leitura ou incorporação às bases de dados da Shoebiz. Nos termos da Lei de Direitos Autorais, não são suscetíveis de proteção no Brasil as ideias, concepções abstratas, projetos, planos e esquemas. Desta forma, o eventual uso pela Shoebiz de quaisquer Conteúdos Não Solicitados será decorrente de desenvolvimento interno e independente e poderá ocorrer livremente, não sendo devida ou exigida qualquer autorização ou compensação ao usuário ou consumidor. A Shoebiz desenvolve de forma independente todas as suas políticas e atividades, rechaçando desde já qualquer acusação ou alegação de aproveitamento de Conteúdos Não Solicitados. </p>


<h3>7. Medidas de segurança</h3>

<p>Recursos tecnológicos. A Shoebiz adota recursos tecnológicos avançados para garantir a segurança de todos os dados pessoais coletados e armazenados. Nem mesmo os funcionários da Shoebiz têm livre acesso à base de dados dos Usuários, sendo este limitado apenas àquelas pessoas cujas funções exigem o contato com dados pessoais. Entre as medidas de segurança implementadas, estão a utilização de modernas forma de criptografia e a instalação de barreiras contra o acesso indevido à base de dados (firewalls). Tais medidas podem ser verificadas pelo Usuário acessando o Site pela visualização do “cadeado de segurança” em seu navegador de internet.</p>

<p>Sigilo da senha. A Shoebiz recomenda que o Usuário mantenha sua senha sob total sigilo, evitando a sua divulgação a terceiros. A Shoebiz nunca solicitará ao Usuário que informe sua senha fora do Site, por telefone, e-mail ou por qualquer outro meio de comunicação. A senha do Usuário deverá ser usada exclusivamente no momento do acesso à Conta do Usuário no Site. Caso o Usuário suspeite que sua senha tenha sido exposta a terceiros, a Shoebiz recomenda a imediata substituição da senha. </p>
<p>E-mails suspeitos. A Shoebiz envia ao Usuário apenas e-mails com mensagens publicitárias, divulgando produtos e serviços ou atualizando informações. A Shoebiz não envia mensagens (i) solicitando dados pessoais do Usuário, a menos que estejam relacionados a compra realizada; (ii) solicitando a senha ou dados financeiros do Usuário; (iii) com arquivos anexos exceto documentos em PDF; ou (iv) com links para download de arquivos. Caso receba um e-mail com tais características, desconsidere-o e entre em contato com a Central de Relacionamento Shoebiz. </p>
<p>Cartões de crédito. A Shoebiz não armazena em sua base de dados informações financeiras do Usuário, como as informações referentes a cartões de crédito. O procedimento de aprovação do pagamento ocorre entre o Usuário, os bancos e as administradoras de cartões, sem intervenção da Shoebiz. </p>
<p>Impossibilidade de responsabilização. Em que pese os maiores esforços da Shoebiz, o atual estágio da tecnologia não permite que se crie uma base de dados absolutamente segura contra ataques. Desta forma, a Shoebiz exime-se de qualquer responsabilidade por danos eventualmente causados por terceiros, inclusive por invasões no Site ou na base de dados, por vírus ou por vazamento de informações, a menos que fique comprovada exclusiva culpa da Shoebiz.</p>


<h3>8. Direitos das pessoas sobre os dados coletados</h3>

<p>A Shoebiz permite que o Usuário faça diferentes tipos de cadastro, contendo mais ou menos informações de acordo com seu próprio objetivo no Site. Assim, o Usuário tem a possibilidade de escolher a forma de cadastro, devendo preenchê-lo com informações verídicas e atualizadas. O Usuário declara ser o legítimo titular de seus dados pessoais e poderá, a qualquer momento, utilizar as ferramentas do Site para editá-los, atualizá-los ou removê-los preventivamente de nossa base de dados. A Shoebiz manterá os dados preventivamente removidos em sigilo pelo prazo de seis meses, para atender obrigações legais de guarda obrigatória, descartando-os definitivamente após tal período. A Shoebiz disponibiliza ainda ferramentas para que o Usuário possa determinar alguns usos de seus dados pessoais, como a autorização para envio de peças de publicidade.</p>   



<h3>9. Uso de dados em caso de alteração de controle da Shoebiz</h3>

<p>Os dados coletados podem ser eventualmente transferidos a um terceiro em caso de alteração do controle, de uma aquisição, de uma incorporação, de uma fusão ou de uma venda de ativos da Shoebiz sob qualquer meio ou forma.</p>


<h3>10. Política de dados de menores</h3>

<p>O Site não é direcionado a menores de 18 (dezoito) anos. No entanto, o acesso ao Site não é proibido aos menores, uma vez que não há qualquer conteúdo restrito por questões etárias. Os formulários e questionários do site da Shoebiz não visam obter dados de menores.</p>