<h1>A Shoebiz</h1>

<p>A Shoebiz é uma loja especializada em calçados, especialmente para quem procura uma experiência de compra diferenciada.</p>
<p>Com mais de 30 anos de experiência, a Shoebiz é referencia no mercado de calçados no Estado de São Paulo, um Grupo de lojas sólido, com investimentos constantes no que há de mais moderno no varejo.</p>
<p>Uma sapataria tradicional, com ambientes modernos e tecnológicos.</p>
 
<h3>VISÃO</h3>
<p>Ser REFERÊNCIA DE CALÇADOS E MODA no Estado de São Paulo.</p>
<p>Quebrando a cultura do modelo tradicional de vendas de calçados.</p>
 
<h3>PROPÓSITO</h3>
<p>Busca a EFICIÊNCIA no modelo de autoatendimento, garantindo a satisfação do nosso cliente em uma EXPERIÊNCIA DE COMPRA COM AGILIDADE.</p>
<p>Valorizar a exposição dos produtos, sortimentos, preços competitivos e nosso diferencial de crédito.</p>

