<h1>Termos e Condições de Uso do Site</h1>


<h4>Sumário </h4>
<ul>
	<li><a href="#apresentacao">1. Apresentação e definições</a></li>
	<li><a href="#regras">2. Regras de utilização do site</a></li>
	<li><a href="#cadastro">3. Cadastro de Clientes</a></li>
	<li><a href="#dados">4. Dados pessoais, privacidade e segurança </a></li>
	<li><a href="#oferta">5. Oferta de produtos</a></li>
	<li><a href="#estoque">6. Estoque</a></li>
	<li><a href="#promocoes">7. Promoções</a></li>
	<li><a href="#pagamento">8. Pagamento</a></li>
	<li><a href="#preco">9. Preço</a></li>
	<li><a href="#acompanhamento">10. Acompanhamento da Compra</a></li>
	<li><a href="#entrega">11. Entrega</a></li>
	<li><a href="#arrependimento">12. Arrependimento, trocas e devoluções</a></li>
	<li><a href="#garantias">13. Garantias</a></li>
	<li><a href="#responsabilidades">14. Responsabilidades </a></li>
	<li><a href="#links">15. Links para outros websites</a></li>
	<li><a href="#aplicacoes">16. Aplicações de Internet ou vírus de computador </a></li>
	<li><a href="#dereitos">17. Direitos de Propriedade Intelectual</a></li>
	<li><a href="#comunicacoes">18. Comunicações e CALM </a></li>
	<li><a href="#duracao">19. Duração</a></li>
	<li><a href="#atualizacoes">20. Atualizações destes Termos e Condições</a></li>
	<li><a href="#registro">21. Registro Público</a></li>
	<li><a href="#idioma">22. Idioma</a></li>
	<li><a href="#diversos">23. Diversos</a></li>
	<li><a href="#lei">24. Lei aplicável e Foro de Eleição </a></li>
</ul>
 
<h3 id="apresentacao">1. Apresentação e definições </h3>

<p>Este site é de propriedade, mantido, e operado por Shoebiz Comércio de Calçados Ltda, com endereço na Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP inscrita no CNPJ/MF sob o n 07.639.530/0021-77, com Inscrição Estadual nº 128.711.630.111 e endereço de e-mail relacionamento@shoebiz.com.br. Este documento relaciona os termos e condições que devem ser observados pela Shoebiz e pelos Usuários (conforme definição abaixo) na utilização do Site, de suas ferramentas e de suas funcionalidades. Shoebiz faculta acesso e utilização do Site a quaisquer Usuários. O Usuário declara ter lido e aceito estes Termos e Condições de Uso e das Políticas antes de ter iniciado a utilização do Site. Caso o Usuário não aceite estes Termos e Condições de Uso, não lhe será permitido acesso a áreas restritas do Site. Para os fins destes Termos e Condições de Uso, bem como das Políticas, os termos abaixo terão os seguintes significados central de relacionamento Shoebiz é o serviço de atendimento ao consumidor disponibilizado Shoebiz Comércio de Calçados por meio de diversos canais de comunicação, indicados em cada uma das Políticas e no item 18 destes Termos e Condições de Uso;<br />
Clientes. Usuários que preencheram o cadastro e detêm uma Conta de Acesso; <br />
Compra. Transação por meio da qual um Cliente adquire um produto oferecido à venda no Site, mediante a realização de pagamento do valor do produto; <br />
Conta de Acesso. Credencial definida pelo nome de usuário (login) e senha de um visitante cadastrado (Cliente), pessoal e intransferível, que permite acesso à área restrita e às funcionalidades exclusivas no Site, tais como acesso e alteração de dados pessoais, inscrição e cancelamento de participação em cursos, criação, edição e remoção de listas de desejos, entre outras; <br />
Shoebiz Marca. Quaisquer sinais distintivos de titularidade da e/ou licenciados à Shoebiz, que sejam utilizados na identificação do Site, de seu conteúdo ou de serviço prestado pela Shoebiz Políticas. As políticas que complementam e integram estes Termos e Condições de Uso, nominalmente Política de Trocas e Devoluções, Política de Pagamentos, Política de Entrega de Produtos e a Política de Privacidade e Segurança, todas disponíveis no Site; <br />
Propriedade Intelectual da Shoebiz. Todos os bens de propriedade intelectual de titularidade da Shoebiz, de qualquer empresa pertencente a seu grupo econômico, ou, ainda, de terceiro, cujo uso seja licenciado e/ou autorizado à, incluindo mas não se limitando a Marcas, patentes, invenções ou modelos de utilidade, desenhos industriais, know-how, segredos de negócio, ilustrações, fotografias e/ou conteúdos de qualquer tela do Site ou quaisquer obras intelectuais ou outros conteúdos que estejam inseridos em qualquer obra intelectual ou qualquer bem protegido por direitos de propriedade intelectual. Site. O website de propriedade, mantido e operado por Shoebiz, hospedado no domínio [leroymerlin.com.br] e todas as páginas nele compreendidas; e <br />
Usuários. Quaisquer pessoas que acessem o Site, incluindo visitantes anônimos e Clientes.   </p>


<h3 id="regras">2. Regras de utilização do Site </h3>  

 <p>O Usuário obriga-se a utilizar o Site respeitando e observando estes Termos e Condições de Uso, bem como a legislação vigente, os costumes e a ordem pública. Desta forma, o Usuário concorda que não poderá: (i) lesar direitos de terceiros, independentemente de sua natureza, em qualquer momento, inclusive no decorrer do uso do Site; (ii) executar atos que limitem ou impeçam o acesso e a utilização do Site, em condições adequadas, aos demais Usuários; (iii) acessar ilicitamente o Site ou sistemas informáticos de terceiros relacionados ao Site ou à Shoebiz sob qualquer meio ou forma; (iv) difundir programas ou vírus informáticos suscetíveis de causar danos de qualquer natureza, inclusive em equipamentos e sistemas da Shoebiz ou de terceiros; (v) utilizar mecanismos que não os expressamente habilitados ou recomendados no Site para obtenção de informações, conteúdos e serviços; (vi) realizar quaisquer atos que de alguma forma possam implicar qualquer prejuízo ou dano à Shoebiz ou a outros Usuários; (vii) acessar áreas de programação do Site, bases de dados ou qualquer outro conjunto de informações que escape às áreas públicas ou restritas do Site; (viii) realizar ou permitir engenharia reversa, traduzir, modificar, alterar a linguagem, compilar, decompilar, modificar, reproduzir, alugar, sublocar, divulgar, transmitir, distribuir, usar ou, de outra maneira, dispor do Site ou das ferramentas e funcionalidades nele disponibilizadas sob qualquer meio ou forma, inclusive de modo a violar direitos da Shoebiz (inclusive de Propriedade Intelectual Shoebiz e/ou de terceiros; (ix) praticar ou participar de qualquer ato que constitua uma violação de qualquer direito da Shoebiz (inclusive de Propriedade Intelectual da Shoebiz Comércio de Calçados Ltda ou de terceiros ou ainda de qualquer lei aplicável, ou agir sob qualquer meio ou forma que possa contribuir com tal violação; (x) interferir na segurança ou cometer usos indevidos contra o Site ou qualquer recurso do sistema, rede ou serviço conectado ou que possa ser acessado por meio do Site, devendo acessar o Site apenas para fins lícitos e autorizados; (xi) utilizar o domínio da Shoebiz para criar links ou atalhos a serem disponibilizados em e-mails não solicitados (mensagens spam) ou em websites de terceiros ou do próprio Usuário ou, ainda, para realizar qualquer tipo de ação que possa vir a prejudicar a Shoebiz ou terceiros; (xii) utilizar aplicativos automatizados de coleta e seleção de dados para realizar operações massificadas ou para quaisquer finalidades ou, ainda, para coletar e transferir quaisquer dados que possam ser extraídos do Site para fins não permitidos ou ilícitos, (xiii) utilizar as ferramentas e funcionalidades do Site para difundir mensagens não relacionadas com o Site ou com as finalidades do Site, incluindo mensagens de cunho racista, étnico, político, religioso, cultural ou depreciativo, difamatório e/ou calunioso de qualquer pessoa ou grupo social. O Usuário concorda em indenizar, defender e isentar a Shoebiz de qualquer reclamação, notificação, intimação ou ação judicial ou extrajudicial, ou ainda de qualquer responsabilidade, dano, custo ou despesa decorrente de qualquer violação e/ou infração cometida pelo Usuário ou qualquer pessoa agindo em seu nome, com seu consentimento ou tolerância, em relação ao Site (inclusive com relação a qualquer disposição destes Termos e Condições de Uso), inclusive qualquer pessoa que tenha obtido os dados do Usuário relacionados a sua Conta de Acesso ou a sua navegação no Site. A Shoebiz poderá, a seu exclusivo critério, bloquear, restringir, desabilitar ou impedir o acesso de qualquer Usuário ao Site, total ou parcialmente, sem qualquer aviso prévio, sempre que for detectada uma conduta inadequada do Usuário, sem prejuízo das medidas administrativas, extrajudiciais e judiciais que julgar convenientes.   </p>


<h3 id="cadastro">3. Cadastro de Clientes   </h3>

<p>Para obter acesso ao conteúdo completo e a todas as ferramentas e funcionalidades do Site, incluindo a possibilidade de efetuar Compras, o Usuário deverá criar uma Conta com dados pessoais, os quais serão armazenados e utilizados para identificação das Compras, a serem usados nos termos da Política de Privacidade e Segurança, ressaltando-se que a criação de cada Conta pressupõe o consentimento expresso sobre coleta, uso, armazenamento e tratamento de dados pessoais Shoebiz e/ou por terceiros por ela contratados para realizar qualquer procedimento ou processo relacionado às Compras, inclusive processamento de pagamentos, entregas, devoluções etc.. A cada Cliente é permitida a criação de apenas uma Conta de Acesso e a Shoebiz se reserva o direito de suspender ou cancelar quaisquer Contas de Acesso em duplicidade. Ao completar a sua Conta de Acesso, o Cliente declara que as informações  fornecidas são completas, verdadeiras, atuais e precisas, sendo de total responsabilidade do Cliente a atualização dos dados de sua Conta de Acesso sempre que houver modificação de nome, endereço ou qualquer outra informação relevante. A Shoebiz poderá recusar, suspender ou cancelar a Conta de Acesso de um Cliente sempre que suspeitar que as informações fornecidas são falsas, incompletas, desatualizadas ou imprecisas ou ainda nos casos indicados nas leis e regulamentos aplicáveis, nestes Termos e Condições ou em qualquer Política do Site, mesmo que previamente aceito. O Cliente, no momento da criação de sua Conta de Acesso, determinará seu nome de usuário e sua senha de acesso. É de exclusiva responsabilidade do Cliente a manutenção do sigilo do nome de usuário e/ou da senha de acesso relativos à sua Conta de Acesso, devendo o Cliente comunicar imediatamente Shoebiz em caso de perda, divulgação ou roubo da senha ou ainda de uso não autorizado de sua Conta. Menores (idade inferior a 18 anos) não poderão utilizar o Site, a menos que sejam representados e/ou assistidos por seus pais ou responsáveis legais e por estes autorizados no momento da criação da Conta. A efetivação de uma Conta em nome de um menor pressupõe a representação deste menor por uma pessoa maior de 18 anos, que será reputada responsável civil e criminalmente por qualquer Compra realizada, violação cometida ou declaração falsa, incompleta, desatualizada ou imprecisa prestada pelo menor de 18 anos.   </p>


<h3 id="dados">4. Dados pessoais, privacidade e segurança  </h3> 

<p>A Shoebiz dispõe de uma política específica para regular a coleta, guarda e utilização de dados pessoais, bem como a sua segurança: Política de Privacidade e Segurança. Essa política específica integra inseparavelmente estes Termos e Condições de Uso, ressaltando-se que os dados de utilização do Site serão arquivados nos termos da legislação em vigor. </p>  


<h3 id="oferta">5. Oferta de produtos   </h3>

<p>Informações. A Shoebiz disponibilizará no Site, para cada produto, uma página descritiva, da qual constarão informações relativas às suas características, composição, eventuais riscos que possa oferecer à saúde e à segurança, prazo de validade, origem, disponibilidade em estoque, condições de pagamento e preço total à vista. <br />
Território. O Site tem ferramentas de geolocalização manuais (por meio de informação prestada pelo próprio Usuário) e automáticas (por meio de cookies) que determinam o conteúdo a ser apresentado para cada usuário. No entanto, em virtude de limitações de tais ferramentas, é possível que o Usuário acesse conteúdo (oferta de produtos, inclusive) direcionado a uma zona geográfica diferente daquela onde está localizado. Em qualquer caso, a oferta de produtos será sempre limitada ao território em que a Shoebiz disponibiliza entrega, nos termos do item 3 da Política de Entrega de Produtos, não sendo válida para as localidades não incluídas neste território. A Shoebiz poderá, a seu exclusivo critério, alterar este território, incluindo ou excluindo localidades. Em caso de dúvida, o usuário poderá consultar a Política de Entrega de Produtos ou entrar em contato com a central de relacionamento Shoebiz.</p>

<h3 id="estoque">6. Estoque </h3>  

A Shoebiz possui uma grande quantidade de itens cadastrados no Site. Por motivos alheios à vontade e ao controle da Shoebiz, é possível que alguns destes itens fiquem temporariamente indisponíveis, em virtude de peculiaridades, sazonalidades ou problemas na cadeia de fornecimento. Shoebiz compromete-se a engajar seus melhores esforços para manter a disponibilidade da maior quantidade possível de itens. Observamos ainda que o Site e as lojas físicas da Shoebiz possuem estoques separados, sendo possível que um item indisponível no site esteja disponível em uma loja física e vice-versa. Em caso de Compra de um produto indisponível em estoque por falha na atualização do Site, Shoebiz entrará em contato com o Cliente visando à imediata solução do problema, pelo reembolso do valor pago, pela escolha de produto equivalente ou pela determinação de aguardar a disponibilidade do produto.   


<h3 id="promocoes">7. Promoções  </h3> 

<p>Realização. A Shoebiz poderá, a qualquer momento, por motivos puramente comerciais e a seu exclusivo critério, criar e manter campanhas promocionais, oferecendo determinados produtos a preços inferiores aos usualmente praticados ou com a incidência de descontos. <br />
Condições. As promoções não serão cumulativas e poderão ser limitadas: (i) a uma determinada quantidade de produtos em promoção; (ii) a um determinado período de tempo; (iii) a aceitação de condições especiais, como a impossibilidade de troca do produto. As condições de validade das promoções serão claramente veiculadas por todos os meios de divulgação das promoções e a Shoebiz recomenda a sua atenta leitura pelo Usuário. Em caso de dúvidas, o Usuário pode entrar em contato com a central de relacionamento Shoebiz.<br />
Lojas físicas. As condições de promoções para produtos do Site podem não ser aplicáveis para produtos vendidos pela Shoebiz nas lojas físicas. Em caso de dúvidas, o Usuário pode entrar em contato com a central de relacionamento Shoebiz.<br />
Território. As promoções para Compras no Site serão restritas ao território em que a Shoebiz disponibiliza entrega, nos termos do item 3 da Política de Entrega de Produtos, não sendo válida para as localidades não incluídas neste território. <br />
Trocas. Nos casos de trocas (quando autorizadas pelas condições da promoção) ou devoluções de produtos adquiridos no Site por valores ou condições promocionais, será considerado como valor de compra aquele efetivamente pago pelo Cliente, ficando descartado para este fim o valor originalmente cobrado pelo produto em questão.   </p>






<h3 id="pagamentos">8. Pagamentos   </h3>

<p>A Shoebiz dispõe de uma política específica para regular os meios de pagamento de Compras: Política de Pagamentos. Essa política específica integra inseparavelmente estes Termos e Condições de Uso.   </p>


<h3 id="preco">9. Preço </h3>  

<p>O Site apresenta preços válidos apenas para compras finalizadas online, com entrega no território em que a Shoebiz disponibiliza entrega, nos termos do item 3 da Política de Entrega de Produtos, não sendo válida para as localidades não incluídas neste território. Em tais preços, já estão contabilizados todos os impostos incidentes, ficando excluídas apenas as despesas de frete, que serão incluídas no momento da finalização da Compra. A Shoebiz é uma empresa com atividades em diversos países e em múltiplas plataformas, físicas e virtuais. Assim, pode existir diferença de preços dos produtos entre diferentes lojas físicas, territórios e plataformas de atuação da Shoebiz, em vista de situações particulares da localidade, de tributação e de logística. Este diferença não poderá ser usada contra a Shoebiz para obrigar que uma plataforma reduza seu preço para equipará-lo ao de outra. A Shoebiz reserva-se o direito de revisar, aprimorar, modificar e/ou atualizar os preços praticados pelo Site, atendendo a critérios de necessidade, conveniência ou flutuações do mercado, sem necessidade de comunicação prévia. Todos os preços e condições veiculados no Site são válidos apenas para compras realizadas no próprio Site, não sendo aplicáveis a (i) quaisquer outros sites; (ii) lojas físicas da Shoebiz; (iii) lojas físicas de parceiros da Shoebiz. Da mesma forma, preços e condições relativos às lojas físicas não são válidos para o Site.   </p>


<h3 id="acompanhamento">10. Acompanhamento da Compra </h3>  

<p>Além de enviar e-mails informando as alterações mais importantes no tratamento e entrega de uma Compra, a Shoebiz disponibiliza no Site uma ferramenta que permite aos Clientes acompanhar passo a passo a situação de sua Compra (efetuada, em análise, em trânsito, cancelada, entregue, etc.). Havendo dúvida quanto à situação apresentada pela ferramenta, o Cliente poderá entrar em contato com a Central de Relacionamento Shoebiz.</p>

<h3 id="entrega">11. Entrega   </h3>

<p>A Shoebiz dispõe de uma Política específica para regular os procedimentos de entrega de produtos adquiridos pelos Clientes no Site: Política de Entrega de Produtos. Essa política específica integra inseparavelmente estes Termos e Condições de Uso.</p>   

<h3 id="arrependimento">12. Arrependimento, trocas e devoluções  </h3> 

<p>A Shoebiz dispõe de uma política específica para regular as trocas e devoluções de produtos adquiridos pelos Clientes no Site: Política de Trocas e Devoluções. Há, nesta política, igualmente disposições sobre o Direito de Arrependimento. Essa política específica integra inseparavelmente estes Termos e Condições de Uso.   </p>


<h3 id="garantias">13. Garantias   </h3>

<p>Apesar dos melhores esforços da Shoebiz no sentido de fornecer informações precisas, atualizadas, corretas e completas, o Site poderá conter erros técnicos, inconsistências ou erros tipográficos. O Site, seu conteúdo, suas funcionalidades e ferramentas são disponibilizados pela Shoebiz tal qual expostos e oferecidos na Internet, sem qualquer garantia, expressa ou implícita, quanto aos seguintes itens: (i) atendimento, pelo Site ou por seu conteúdo das expectativas dos Usuários; (ii) continuidade do acesso ao Site ou a seu conteúdo; (iii) adequação da qualidade do Site ou de seu conteúdo para um determinado fim; e (iv) a correção de defeitos, erros ou falhas no Site ou em seu conteúdo. A Shoebiz se reserva o direito de unilateralmente modificar, a qualquer momento e sem aviso prévio, o Site bem como a configuração, a apresentação, o desenho, o conteúdo, as funcionalidades, as ferramentas ou qualquer outro elemento do Site, inclusive o seu cancelamento.  </p>


<h3 id="responsabilidades">14. Responsabilidades </h3>  

<p>A Shoebiz engaja seus melhores esforços para informar, atender e proteger o Usuário. O Usuário é o único responsável pela utilização do Site, de suas ferramentas e funcionalidades. Em nenhuma hipótese, a Shoebiz ou seus diretores, representantes, agentes, empregados, sócios, parceiros ou prestadores de serviço serão responsabilizados por qualquer dano emergente, indireto, punitivo ou expiatório, lucros cessantes ou outros prejuízos monetários relacionados a qualquer reclamação, ação judicial ou outro procedimento tomado em relação à utilização do Site, seu conteúdo, funcionalidades e/ou ferramentas. Notadamente, fica excluída a responsabilidade da Shoebiz sobre as seguintes circunstâncias, entre outras: (i) danos e prejuízos que o Usuário possa experimentar pela indisponibilidade ou funcionamento parcial do Site e/ou de todos ou alguns de seus serviços, informações, conteúdos, funcionalidade e/ou ferramentas, bem como pela incorreção ou inexatidão de qualquer destes elementos; (ii) danos e prejuízos que o Usuário possa experimentar em sites de internet acessíveis por links incluídos no Site; (iii) diferenças de preços entre os artigos disponibilizados no Site e aqueles expostos à venda em outros sites da Shoebiz, de qualquer empresa do grupo econômico da Shoebiz ou em lojas físicas Shoebiz em todo o território nacional; (iv) danos e prejuízos que o Usuário possa experimentar em decorrência do uso do Site em desconformidade com estes Termos e Condições de Uso ou com as Políticas; (v) danos e prejuízos que o Usuário possa experimentar em decorrência do uso do Site em desconformidade com a lei, com os costumes ou com a ordem pública; (vi) danos e prejuízos que o Usuário possa experimentar em decorrência de falhas no Site, inclusive decorrentes de falhas no sistema, no servidor ou na conexão de rede, ou ainda de interações maliciosas como vírus, softwares que possam danificar o equipamento ou acessar informações do equipamento do Usuário; (vii) danos e prejuízos que o Usuário possa experimentar em decorrência de distorções que as imagens dos produtos possam apresentar, ressaltado o caráter meramente ilustrativo de tais imagens; entre outros. A responsabilidade da Shoebiz por vício dos produtos oferecidos à venda no Site está detalhada na Política de Trocas e Devoluções. </p>  


<h3 id="links">15. Links para outros websites   </h3>

<p>O Site pode conter links para sites de terceiros, os quais são inseridos apenas para conveniência do Usuário. A inclusão de tais links não implica qualquer vínculo, monitoramento ou responsabilidade da Shoebiz sobre os sites, respectivos conteúdos ou titulares. O acesso aos sites vinculados a tais links não é regido por esses Termos e Condições de Uso e não se encontra protegido pelas Políticas. A Shoebiz recomenda que o Usuário consulte os termos e condições de uso estabelecidos por cada site vinculado aos links inseridos no Site. A Shoebiz não será responsável, direta ou indiretamente, por quaisquer danos ou prejuízos causados ou relacionados à utilização de qualquer informação, conteúdo, bens ou serviços disponibilizados no Site ou em qualquer site de terceiros acessado por meio dos links disponibilizados no Site.  </p> 


<h3 id="aplicacoes">16. Aplicações de Internet ou vírus de computador  </h3> 

<p>Em virtude de dificuldades técnicas, aplicações de Internet ou problemas de transmissão, é possível ocorrer cópias inexatas ou incompletas das informações contidas no Site. Vírus de computador ou outros programas danosos também poderão ser baixados inadvertidamente do Site. A Shoebiz não será responsável por qualquer aplicação, vírus de computador ou outros arquivos danosos ou invasivos ou programas que possam prejudicar ou afetar a utilização do computador ou outro bem dos Usuários devido ao acesso, utilização ou navegação no Site, ou ainda pelo download de qualquer material nele contido, sendo recomendada a instalação de aplicativos antivírus ou protetores adequados.</p>   


<h3 id="direitos">17. Direitos de Propriedade Intelectual   </h3>

<p>Marcas. O Usuário não está autorizado a utilizar, sob qualquer forma ou pretexto, as Marcas, suas reproduções parciais ou integrais ou ainda suas imitações, independentemente da destinação de tal uso. O Usuário compromete-se a não contestar a validade de qualquer Marca ou de qualquer outro sinal distintivo depositado ou registrado pela Shoebiz a ou por quaisquer empresas a ela vinculadas, sob qualquer forma, no Brasil ou no exterior. O Usuário compromete-se a se abster de fazer qualquer uso das Marcas ou de suas variações (incluindo erros de ortografia ou variações fonéticas) como nome de domínio ou parte de nome de domínio ou em qualquer nome de empresa, de qualquer tipo ou natureza, sob qualquer meio ou forma, inclusive por meio da criação de nomes de domínio ou e-mails. Todas as outras marcas, nomes de produtos, ou nomes de companhias que aparecem no site são de propriedade exclusiva de seus respectivos titulares. </p>
<p>Propriedade do conteúdo. Todo o conteúdo do Site - incluindo o nome de domínio [leroymerlin.com.br], programas, bases de dados, arquivos, textos, fotos, layouts, cabeçalhos e demais elementos - foi criado, desenvolvido ou cedido à Shoebiz, é de propriedade da Shoebiz ou a ela licenciado e encontra-se protegido pelas leis brasileiras e tratados internacionais que versam sobre direitos de propriedade intelectual. </p>
<p>Proibição de utilização. O Usuário, ao acessar o Site, atesta que respeitará a existência e a extensão dos direitos de Propriedade Intelectual da Shoebiz, bem como de todos os direitos de terceiros que sejam usados, a qualquer título, no Site ou que venham a ser disponibilizados no Site. O acesso ao Site e a sua regular utilização pelo Usuário não lhe confere qualquer direito ou prerrogativa sobre o qualquer Propriedade Intelectual, Marca ou outro conteúdo nele inserido. É vedada a utilização, exploração, imitação, reprodução, integral ou parcial, de qualquer conteúdo sem a autorização prévia e por escrito da Shoebiz. É igualmente vedada a criação de quaisquer obras derivadas de qualquer Propriedade Intelectual da Shoebiz sem a autorização prévia e por escrito da Shoebiz. É expressamente proibido ao Usuário reproduzir, distribuir, modificar, exibir e criar trabalhos derivados ou qualquer outra forma de utilização de qualquer Propriedade Intelectual ou outro conteúdo deste Site e dos materiais veiculados no ou pelo Site. O Usuário que violar as proibições contidas na legislação sobre propriedade intelectual e nestes Termos e Condições de Uso serão responsabilizados, civil e criminalmente, pelas infrações cometidas. A Shoebiz não concede nenhuma autorização relacionada ao conteúdo do Site para qualquer fim. O Usuário assume toda e qualquer responsabilidade pela utilização indevida de qualquer Propriedade Intelectual ou Marcas da Shoebiz ou de terceiros, tanto de caráter civil quanto criminal. As fotos e imagens utilizadas no Site podem não refletir seu tamanho original ou situação atual do cenário reproduzido, sendo meramente ilustrativas. </p>
<p>Conteúdo enviado pelo Cliente. Ao enviar qualquer conteúdo ao Site, o Cliente retém a titularidade de seus direitos sobre dito conteúdo (textos, vídeos, imagens, áudio, entre outros), cedendo à Shoebiz uma licença de caráter gratuito, irrevogável, mundial e não exclusivo para a reprodução, modificação, tradução e exibição, sob qualquer meio ou forma, inclusive no Site, declarando, ainda, o Cliente ser titular de todos os direitos relacionados ao referido conteúdo.   </p>


<h3 id="comunicacoes">18. Comunicações e SAC</h3>

<p>A Shoebiz disponibiliza uma Central de Relacionamento Shoebiz para receber todas as comunicações que o Usuário desejar fazer. A central opera por meios dos canais de comunicação listados abaixo:  <br /> 
(a) Via e-mail relacionamento@shoebiz.com.br <br />
(b) Pelo (11) 3033-9533, de segunda a sexta, das 09:00 às 17:00 </p>


<h3 id="duracao">19. Duração   </h3>

<p>Estes Termos e Condições de Uso e as Políticas têm duração indefinida e permanecerão em vigor enquanto o Site estiver ativo. A redação aplicável é aquela da atualização imediatamente anterior ao acesso ou à Compra. Da mesma forma, o acesso e a utilização do Site e dos recursos por ele oferecidos têm, em princípio, duração indeterminada, a exclusivo critério da Shoebiz. A Shoebiz reserva-se, no entanto, o direito de suspender e/ou cancelar, de forma unilateral e a qualquer momento, o acesso ao Site ou a algumas de suas partes ou a alguns de seus recursos, sem necessidade de prévio aviso.  </p>


<h3 id="atualizacoes">20. Atualizações destes Termos e Condições </h3>

<p>A Shoebiz poderá unilateralmente revisar, aprimorar, modificar e/ou atualizar, a qualquer momento, qualquer cláusula ou disposição contidas nestes Termos e Condições de Uso ou nas Políticas. A versão atualizada valerá para o uso do Site e para as Compras realizadas a partir de sua divulgação pela Shoebiz. A continuidade de acesso ou utilização deste Site, depois da divulgação de quaisquer modificações, confirmará a aceitação dos novos Termos e Condições de Uso ou das novas Políticas pelos Usuários. Caso um Cliente não esteja de acordo com uma determinada alteração das Políticas ou dos Termos e Condições de Uso, poderá rescindir seu vínculo com a Shoebiz por meio de pedido de exclusão da Conta no Site ou de contato com nossa a Central de Relacionamento Shoebiz. Esta rescisão não eximirá, no entanto, o Cliente de cumprir com todas as obrigações assumidas sob as versões precedentes das Políticas e dos Termos e Condições de Uso. </p>  

<h3 id="registro">21. Registro Público </h3>

<p>Estes Termos e Condições de Uso, bem como todas as Políticas, encontram-se registrados em Cartório de Registro de Títulos e Documentos da Comarca da Capital do Estado de Shoebiz. Eventuais atualizações destes Termos e Condições de Uso, bem como de qualquer das Políticas, serão imediatamente registradas no mesmo cartório.</p>   


<h3 id="idioma">22. Idioma   </h3>

<p>Toda a documentação legal do Site, incluindo os presentes Termos e Condições de Uso, foi elaborada em língua portuguesa. A Shoebiz poderá, a seu exclusivo critério, disponibilizar traduções de tais documentos no Site apenas para conveniência do Usuário, a seu exclusivo critério. A versão portuguesa destes Termos e Condições de Uso e das Políticas é a única consentida pela Shoebiz. Em caso de contradição ou divergência entre a versão em português e eventual tradução para qualquer outro idioma, prevalecerá sempre a versão em língua portuguesa.   </p>


<h3 id="diversos">23. Diversos</h3>
   
<p>Horário oficial. Nas Compras realizadas pelo Site, deverá ser considerado oficial o horário de Brasília, inclusive nos períodos de horário de verão. 
Aplicabilidade parcial. Caso a Shoebiz não consiga fazer valer ou cumprir qualquer cláusula ou condição contida nestes Termos e Condições de Uso ou nas Políticas, tal fato não configurará desistência, tolerância ou novação dessa cláusula ou condição destes Termos ou de qualquer Política. Se alguma cláusula ou condição contida nestes Termos e Condições de Uso ou nas Políticas for declarada inexequível, no todo ou parcialmente, tal inexequibilidade não afetará as demais cláusulas dos Termos e Condições de Uso e das Políticas. Neste caso, a Shoebiz fará as adaptações necessárias para que reflitam, da forma mais próxima possível, os termos da provisão declarada inexequível. </p>
<p>Características dos produtos e riscos à saúde: A Shoebiz inclui na página de oferta de cada produto as informações relativas às suas características e aos riscos que podem representar à saúde e à segurança dos consumidores. Antes de comprar um produto, o Cliente deve ler atentamente em sua página a descrição do uso e manuseio, bem como a indicação de faixa etária. Em caso de dúvida, deverá contatar nossa Central de Relacionamento Shoebiz. </p>
<p>Caso fortuito e força maior. Nenhuma das Partes será responsabilizada perante a outra quando o descumprimento ou o cumprimento extemporâneo de uma obrigação prevista nas Políticas ou nestes Termos e Condições de Uso for causado por casos fortuitos ou eventos de força maior, enquanto perduraram as suas consequências. Princípio de respeito aos Clientes e Usuários. A Shoebiz tem como princípio de sua atuação nos ambientes físicos e virtuais o respeito ao Usuário, agindo sempre em conformidade com as disposições do Código de Proteção e Defesa do Consumidor (Lei Federal n. 8078/90), do Marco Civil da Internet (Lei Federal n. 12965/14) e das demais normas referentes ao comércio de produtos em ambiente eletrônico. </p>


<h3 id="lei">24. Lei aplicável e Foro de Eleição </h3>

<p>O Site é controlado, operado e administrado pela Shoebiz na cidade de São Paulo,Brasil, podendo ser acessado por qualquer dispositivo conectado à Internet, independentemente de sua localização geográfica. Em vista das diferenças que podem existir entre as legislações locais e nacionais, ao acessar o Site, o Usuário concorda que a legislação aplicável para fins destes Termos e Condições de Uso será aquela vigente na República Federativa do Brasil. A Shoebiz e o Usuário concordam que o Foro Central da Comarca de São Paulo, SP, Brasil, será o único competente para dirimir qualquer questão ou controvérsia oriunda ou resultante do uso do Site, renunciando expressamente a qualquer outro, por mais privilegiado que seja, ou venha a ser.</p>