<header class="header">
  <!-- START: Welcome -->
  <div class="header-welcome hidden">
    <vtex.cmc:welcomeMessage />
  </div>
  <!-- END: Welcome -->

  <!-- START: Header Content -->
  <div class="header__content">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24">
          
          <!-- START: Hamburger Menu -->
          <div class="menu-bar">
            <a href="#" class="menu-bar__link">
              <span class="menu-bar__span"></span>
            </a>
          </div>
          <!-- END: Hamburger Menu -->

          <!-- START: Logo -->
          <div class="header__logo">
            <a href="/" class="logo__link">
              <vtex.cmc:logotypeHeader />
            </a>
          </div>
          <!-- END: Logo -->

          <!-- START: Menu -->
          <nav class="header__menu">
            <div class="header__menu-container">
              <!-- START: Responsive -->
              <div class="header__responsive">
                <!-- START: Responsive - Menu header -->
                <span class="header__responsive-close"></span>
                <div class="menu__header">
                  <p class="menu__header-title">Menu</p>
                </div>
                <!-- END: Responsive - Menu header -->

                <!-- START: Responsive - Account -->
                <div class="menu__account">
                  <a href="/account" class="menu__account-link">Minha conta</a>
                  <a href="/account#/orders" class="menu__account-link">Meus pedidos</a>
                </div>
                <!-- END: Responsive - Account -->
              </div>
              <!-- END: Responsive -->

              <ul class="menu__list">
                <li class="menu__item">
                  <a href="/feminino" class="menu__link menu__link--submenu">Feminino</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="feminino" data-name="feminino"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item">
                  <a href="/masculino" class="menu__link menu__link--submenu">Masculino</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="masculino" data-name="masculino"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item">
                  <a href="/meninas" class="menu__link menu__link--submenu">Meninas</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="meninas" data-name="meninas"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item">
                  <a href="/meninos" class="menu__link menu__link--submenu">Meninos</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="meninos" data-name="meninos"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item">
                  <a href="/acessorios" class="menu__link menu__link--submenu">Acessórios</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="acessorios" data-name="acessorios"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item menu__item-marcas">
                  <a href="/busca" class="menu__link menu__link--submenu">Marcas</a>
                  <!-- START: Submenu -->
                  <div class="menu__submenu-container">
                    <div class="menu__submenu">
                      <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                        <div class="header-main-menu-drop-list" rel="marcas" data-name="marcas"><vtex.cmc:MenuMarcas /></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Submenu -->
                </li>

                <li class="menu__item">
                  <a href="/promocao" class="menu__link menu__link--promocao">Promoções</a>
                </li>

            
              </ul>
            </div>
              
          </nav>
          <!-- END: Menu -->



          <!-- START: Search -->
          <div class="header__search">
            <form action="#" method="post" class="search__form">
              <input type="search" class="search__input" placeholder="Digite sua busca" />

              <button type="submit" class="search__submit">Buscar</button>
            </form>

            <div class="search__target"></div>
          </div>
          <!-- END: Search -->

          <!-- START: Account -->
          <div class="header__account">
            <i class="header__account-icon"></i>
            <div class="header__account-list">
              <div class="header__account--account-links">
                <a href="/account" class="">Minha conta</a>
                <a href="/account#/orders" class="">Meus pedidos</a>  
              </div>
              <a href="/login" class="header-account-login">Entrar</a>
              <a href="/no-cache/user/logout" class="header-account-logout">Sair</a>
            </div>
          </div>
          <!-- END: Account -->

          <!-- START: Header Minicart -->
          <div class="header__minicart">
            <a href="#" class="header__minicart-icon">
              <span class="header__minicart-total">0</span>
            </a>

            <!-- START: Minicart -->
            <div class="minicart">
              <!-- START: Minicart Header -->
              <div class="minicart-header">
                <p class="minicart-header__title">Sacola</p>

                <div class="minicart-header__close">
                  <a href="#" class="minicart-header__close-link">
                    <span class="minicart-header__close-bar"></span>
                  </a>
                </div>
              </div>
              <!-- END: Minicart Header -->

              <!-- START: Minicart Products -->
              <ul class="minicart-products"></ul>
              <!-- END: Minicart Products -->

              <!-- START: Minicart Footer -->
              <div class="minicart-footer">
                <div class="minicart-resume">
                  <div class="minicart-resume__wrap">
                    <div class="minicart-resume__free-shipping">
                      <span class="free-shipping-bar"></span>
                      <p class="minicart-resume__free-shipping-text">
                        <i class="sprite icon-minicart-resume__free"></i><span>Faltam <strong>R$ 98,00</strong> para
                          frete grátis</span>
                      </p>
                    </div>
                    <div class="minicart-resume__total">
                      <div class="minicart-resume__total-items">
                        Itens: <span class="minicart-resume__total-counter">0</span>
                      </div>

                      <div class="minicart-resume__total-price">
                        Subtotal: <span class="minicart-resume__total-price-target">R$ 0,00</span>
                      </div>
                    </div>

                    <div class="minicart-resume__checkout">
                      <a href="/checkout" class="minicart-checkout">Finalizar
                        compra</a>
                    </div>
                  </div>
                </div>
                <div class="minicart-continuar-comprando">
                  <p>Escolher mais produtos</p>
                </div>
              </div>
              <!-- END: Minicart Footer -->
            </div>
            <!-- END: Minicart -->
          </div>
          <!-- END: Header Minicart -->
        </div>
      </div>
    </div>
  </div>
  <!-- END: Header Content -->
</header>