<script type="text/javascript" src="/arquivos/avanti-class.js"></script>
<script type="text/javascript" src="/arquivos/avanti-search.js"></script>
<script type="text/javascript" src="/arquivos/0-<%= storeAcronym %>-web-application.js"></script>