<!-- START: Footer -->
<footer class="footer">
  <!-- START: Newsletter -->
  <div class="footer-newsletter">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24 av-col-md-offset-2 av-col-md-20">
          <p class="newsletter__title">CADASTRE SEU E-MAIL E RECEBA NOVIDADES</p>

          <form action="/api/dataentities/NL/documents" method="post" novalidate="novalidate" class="newsletter__form">
            <div class="newsletter__field">
              <input type="nome" class="newsletter__input" name="nome" placeholder="Nome" required="true" />
            </div>
            <div class="newsletter__field">
              <input type="email" class="newsletter__input" name="email" placeholder="E-mail" required="true" />
            </div>
            <div class="newsletter__button">
              <button type="submit" class="newsletter__submit">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Newsletter -->

  <!-- START: Footer Content -->
  <div class="footer-content">
    <div class="av-container">
      <div class="av-row">
        
        <div class="footer-content-social-media">
          <ul>
            <li>
              <a href="https://www.facebook.com/ShoebizOficial/" target="_blank" class="footer__social--facebook"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/shoebiz_official/" target="_blank" class="footer__social--instagram"></a>
            </li>
          </ul>
        </div>

        <div class="footer-content-links">
          <ul>
              <li class="footer-content__item">
                <a href="/institucional/sobre-a-marca" class="footer-content__link">Sobre a marca</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/politica-de-seguranca" class="footer-content__link">Política de segurança</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/troca-e-devolucao" class="footer-content__link">Troca e Devolução</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/nossas-lojas" class="footer-content__link">Nossas lojas</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/politica-de-entrega" class="footer-content__link">Política de entrega</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/termos-e-condicoes" class="footer-content__link">Termos e condições</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/faq" class="footer-content__link">FAQ</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/politicas-de-pagamentos" class="footer-content__link">Políticas de pagamento</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/fale-conosco" class="footer-content__link">Fale Conosco</a>
              </li>
            </ul>
        </div>

        <div class="footer-content-atendimento">
          <ul>
            <li>
              <a href="tel:+551130339533" class="footer-content__link--phone">(11) 3033-9533</a>
            </li>
            <li>
              <a href="mailto:relacionamento@shoebiz.com.br" class="footer-content__link--mail">relacionamento@shoebiz.com.br</a>
            </li>
            <li>
              <span class="footer-content__link--atendimento">segunda à sexta das 09h às 17h</span>
            </li>
            
          </ul>
        </div>

        <div class="footer-content-flags">
          <p>Compra segura</p>
          <ul class="footer-content__list--gateways">
            <li>
              <span class="footer__gateways--amex"></span>
            </li>
            <li>
              <span class="footer__gateways--mastercard"></span>
            </li>
            <li>
              <span class="footer__gateways--visa"></span>
            </li>
            <!-- <li>
              <span class="footer__gateways--paypal"></span>
            </li> -->
            <li>
              <span class="footer__gateways--hypercard"></span>
            </li>
            <li>
              <span class="footer__gateways--elo"></span>
            </li>
            <li>
              <span class="footer__gateways--diners"></span>
            </li>
            <li>
              <span class="footer__gateways--shoebiz-card"></span>
            </li>
          </ul>
          <ul class="footer-content__list--secure">
            <li>
              <span class="footer__secure--lets-encrypt"></span>
            </li>
            <li>
              <a href="http://secure.vtex.com/?an=lojashoebiz" target="_blank" class="footer__secure--pci">PCI</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Footer Content -->

  <!-- START: Footer Bottom -->
  <div class="footer-bottom">
    <div class="av-container">
      <div class="av-row">
        <div class="footer-bottom__text">
          Shoebiz . Todos os direitos reservados. Conheça nossa Política de Privacidade SHOEBIZ COMÉRCIO DE CALÇADOS LTDA . - CNPJ: 07.639.530/0021-77 - Rua Sebastião Gil, 82, Pinheiros, São Paulo, SP
        </div>

        <ul class="footer-copy__list">
          <li>
            <a href="http://penseavanti.com.br/" target="_blank" class="footer__copy--avanti"></a>
          </li>
          <li class="separator"> | </li>
          <li>
            <a href="https://www.vtex.com/" target="_blank" class="footer__copy--vtex"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: Footer Bottom -->
</footer>
<!-- END: Footer -->