<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="Institucional" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END - Subtemplate Metatags -->
    <title></title>

    <!-- START - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- START - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- END - Subtemplate Header -->

    <!-- START - Miolo da página -->
    <main class="main" id="main">
      <!-- START: Top Banner Institucional -->
      <section class="top-banner__institucional">
        <vtex:contentPlaceHolder id="Banner Principal" />
      </section>
      <!-- END: Top Banner Institucional -->

      <!-- START: Container Institucional -->
      <section class="container-institucional">
        <div class="av-container">
          <div class="av-row">
            <!-- START: Sidebar Institucional -->
            <div class="institucional-sidebar">
              <div class="sidebar">
                <button class="sidebar-btn-action">Selecionar o menu</button>

                <div class="sidebar__content">
                  <!-- START: Sidebar - Institucional -->
                  <h3 class="sidebar__list--title">Institucional</h3>

                  <ul class="sidebar__list">
                    <li>
                      <a
                        href="/institucional/sobre-a-marca"
                        title="Sobre a marca"
                        >Sobre a marca</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/politica-de-seguranca"
                        title="Política de segurança"
                        >Política de segurança</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/troca-e-devolucao"
                        title="Troca e devolução"
                        >Troca e devolução</a
                      >
                    </li>
                    <li>
                      <a href="/institucional/nossas-lojas" title="Nossas lojas"
                        >Nossas lojas</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/politica-de-entrega"
                        title="Política de entrega"
                        >Política de entrega</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/termos-e-condicoes"
                        title="Termos e condições"
                        >Termos e condições</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/faq"
                        title="FAQ Perguntas frequentes"
                        >FAQ Perguntas frequentes</a
                      >
                    </li>
                    <li>
                      <a
                        href="/institucional/politicas-de-pagamentos"
                        title="Políticas de Pagamentos"
                        >Políticas de Pagamentos</a
                      >
                    </li>
                    <li>
                      <a href="/institucional/fale-conosco" title="Fale conosco"
                        >Fale conosco</a
                      >
                    </li>
                  </ul>
                  <!-- END: Sidebar - Institucional -->
                </div>
              </div>
            </div>

            <!-- START: Content Institucional -->
            <div class="institucional-main">
              <div class="institucional-page-info">
                <div class="breadcrumb"><vtex.cmc:breadCrumb /></div>
                <div class="institucional-title">Institucional</div>
              </div>

              <div class="content-institucional">
                <vtex:contentPlaceHolder id="Conteudo Pagina" />
              </div>

              <div class="form-institucional">
                <vtex:contentPlaceHolder id="Form Institucional" />
              </div>
            </div>
            <!-- START: Content Institucional -->
          </div>
        </div>
      </section>
      <!-- END: Container Institucional -->
    </main>
    <!-- END - Miolo da página -->

    <!-- START - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- END - Subtemplate Generico -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- END - Subtemplate Footer -->

    <!-- START - Suport content -->
    <div class="suport-content"></div>
    <!-- END - Suport content -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- END - Subtemplate Scripts -->
  </body>
</html>
