<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
  </head>

  <body>
    <vtex.cmc:userLogin />
  </body>
</html>
