<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="Product" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END - Subtemplate Metatags -->

    <!-- START - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- START - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- END - Subtemplate Header -->

    <!-- START - Miolo da página -->
    <main class="main" id="main">
      <!-- START: Breadcrumb -->
      <section class="breadcrumb">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex.cmc:breadCrumb />
            </div>
          </div>
        </div>
      </section>
      <!-- END: Breadcrumb -->

      <!-- START: Product Info -->
      <section class="product-info">
        <div class="av-container">
          <div class="av-row">
            <!-- START: Product Images -->
            <div class="product-images">
              <vtex.cmc:ProductImage zoom="off" />
            </div>
            <!-- END: Product Images -->

            <!-- START: Product Infos -->
            <div class="product-infos">
              <div class="product-brand">
                <vtex.cmc:brandName />
              </div>
              <div class="product-name">
                <h1>
                  <vtex.cmc:productName />
                </h1>
              </div>
              <div class="product-reference">
                Ref: <vtex.cmc:productReference />
              </div>

              <!-- START: Product Sku -->
              <div class="product-sku">
                <vtex.cmc:skuSelection />
              </div>
              <!-- END: Product Sku -->

              <!-- START: Product Buy info -->
              <div class="product-buy-info">
                <div class="product-price">
                  <vtex.cmc:skuPrice />
                </div>
                <div class="product-buy">
                  <vtex.cmc:BuyButton />
                </div>
              </div>
              <!-- END: Product Buy info -->

              <!-- START: Product Shipping -->
              <div class="product-shipping">
                <span class="product-shipping-text"
                  >Calcule aqui o frete e prazo:</span
                >
                <vtex.cmc:shippingValue />
              </div>
              <!-- END: Product Shipping -->
            </div>
            <!-- END: Product Infos -->
          </div>
        </div>
      </section>
      <!-- END: Product Info -->

      <!-- START: Product Description -->
      <section class="product-details">
        <div class="av-container">
          <div class="av-row">
            <div class="product-details--description">
              <div class="product-details--title">Descrição</div>
              <vtex.cmc:ProductDescription />
            </div>
            <div class="product-details--specification">
              <div class="product-details--title">Características</div>
              <vtex.cmc:productSpecification />
            </div>
          </div>
        </div>
      </section>
      <!-- END: Product Description -->

      <!-- START: Product Related -->
      <section class="product-related">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex:contentPlaceHolder id="ColecaoQVVT" />
            </div>
          </div>
        </div>
      </section>
      <!-- END: Product Related -->
    </main>
    <!-- END - Miolo da página -->

    <!-- START - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- END - Subtemplate Generico -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- END - Subtemplate Footer -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- END - Subtemplate Scripts -->
  </body>
</html>
