<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="List" />

    <!-- INICIO - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- FIM - Subtemplate Metatags -->

    <!-- INICIO - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- FIM - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- INICIO - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- FIM - Subtemplate Header -->

    <!-- INICIO - Miolo da página -->
    <main class="main" id="main">
      <div class="listagem-banner">
        <vtex:contentPlaceHolder id="Banner Top" />
      </div>
      <div class="search-result-header">
        <div>Encontramos <span></span> resultados para: <strong></strong></div>
      </div>

      <div class="av-container">
        <div class="av-row">
          <div class="search-sidebar">
            <!-- START: Filter -->
            <div class="search-filter">
              <vtex.cmc:searchNavigator />
            </div>
            <!-- START: End -->
          </div>

          <!-- START: Search result -->
          <div class="search__result">
            <div class="search__result-top">
              <!-- START: Breadcrumb -->
              <div class="breadcrumb">
                <vtex.cmc:breadCrumb />
              </div>
              <!-- END: Breadcrumb -->

              <h1><vtex:contentPlaceHolder id="Page Title h1" /></h1>

              <!-- START: Filter button -->
              <div class="search__result-filter">
                <button class="button__open-filter">Filtros</button>
              </div>
              <!-- END: Filter button -->

              <!-- START: Order -->
              <div class="search__result-order">
                <select class="search-order" id="search-order">
                  <option value="">Ordenação</option>
                  <option value="OrderByPriceASC">Menor Preço</option>
                  <option value="OrderByPriceDESC">Maior Preço</option>
                  <option value="OrderByTopSaleDESC">Mais vendidos</option>
                  <option value="OrderByReviewRateDESC">
                    Melhores avaliações
                  </option>
                  <option value="OrderByNameASC">A - Z</option>
                  <option value="OrderByNameDESC">Z - A</option>
                  <option value="OrderByReleaseDateDESC">
                    Data de lançamento
                  </option>
                  <option value="OrderByBestDiscountDESC">
                    Melhor Desconto
                  </option>
                </select>
              </div>
              <!-- END: Order -->
            </div>

            <!-- START: Result -->
            <div class="search-default">
              <div class="search-default__loading"></div>

              <div class="search-default__no-result" style="display: none">
                Nenhum produto encontrado
              </div>

              <vtex.cmc:searchResult
                layout="f4629002-8071-430e-9aba-137d6c2062cd"
                itemCount="20"
                columnCount="20"
              />
            </div>
            <!-- END: Result -->
          </div>
          <!-- END: Search result -->
        </div>
      </div>

      <div class="seo-contents">
        <div class="av-container">
          <div class="av-row">
            <div class="col-xs-24">
              <vtex:contentPlaceHolder id="Texto SEO" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- FIM - Miolo da página -->

    <!-- INICIO - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- FIM - Subtemplate Generico -->

    <!-- INICIO - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- FIM - Subtemplate Footer -->

    <script>
      /**
       * Avoid VTEX animation
       */
      window.goToTopPage = function () {};
      $(function () {
        window.goToTopPage = function () {};
      });

      var $childrenResult = $(".resultItemsWrapper").children("script");

      if ($childrenResult.length !== 0) {
        var scriptContent = $childrenResult.html();
        eval(
          "window." +
            /(PageClick_)([0-9]+)/g.exec(scriptContent)[0] +
            " = function () {}"
        );
      }
    </script>

    <!-- INICIO - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- FIM - Subtemplate Scripts -->
  </body>
</html>
