<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="ListEmpty" />

    <!-- INICIO - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- FIM - Subtemplate Metatags -->

    <!-- INICIO - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- FIM - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- INICIO - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- FIM - Subtemplate Header -->

    <!-- INICIO - Miolo da página -->
    <main class="main" id="main">
      <div class="empty-search__content">
        <span class="empty-search__error"
          ><strong class="empty-search-text"
            >Infelizmente não encontramos</strong
          >
          resultado para sua busca: <strong class="empty-search__terms"></strong
        ></span>
      </div>

      <div class="empty-search-products">
        <div class="av-container">
          <div class="av-row">
            <div class="slick-default slick-default--overflowY">
              <vtex:contentPlaceHolder id="Empty Search Vitrine 1" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- FIM - Miolo da página -->

    <!-- INICIO - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- FIM - Subtemplate Generico -->

    <!-- INICIO - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- FIM - Subtemplate Footer -->

    <!-- INICIO - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- FIM - Subtemplate Scripts -->
  </body>
</html>
