<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END - Subtemplate Metatags -->

    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
  </head>
  <body>
    <!-- INICIO - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- FIM - Subtemplate Footer -->

    <main class="main" id="main">
      <div class="av-container">
        <div class="av-row">
          <div class="av-col-xs-24 content-404">
            <strong>404</strong>
            <p>
              Desculpe, a página que você está procurando não foi encontrada
            </p>
            <a href="/">Voltar</a>
          </div>
        </div>
      </div>
    </main>

    <!-- INICIO - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- FIM - Subtemplate Footer -->

    <!-- INICIO - Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- FIM - Subtemplate Scripts -->
  </body>
</html>
