<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="Home" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END - Subtemplate Metatags -->

    <!-- START - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- START - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- END - Subtemplate Header -->

    <!-- START - Miolo da página -->
    <main class="main" id="main">
      <div class="home-banner-full__wrap pre-loading av-hidden-md av-hidden-lg">
        <div class="slick-default home-banner-full">
          <vtex:contentPlaceHolder id="Banner Principal Mobile" />
        </div>
      </div>

      <div
        class="home-banner-full-desktop__wrap pre-loading av-hidden-xs av-hidden-sm"
      >
        <div class="slick-default home-banner-full-desktop">
          <vtex:contentPlaceHolder id="Banner Principal Desktop" />
        </div>
      </div>

      <div class="home-benefits-bar">
        <vtex.cmc:BenefitsBar />
      </div>

      <div class="home-products-1">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex:contentPlaceHolder id="Produtos Vitrine 1" />
            </div>
          </div>
        </div>
      </div>

      <div class="home-big-banners">
        <div class="av-container">
          <div class="av-row">
            <vtex:contentPlaceHolder id="Big Banners" />
          </div>
        </div>
      </div>

      <div class="home-banners-categorias">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex:contentPlaceHolder id="Banners categorias" />
            </div>
          </div>
        </div>
      </div>

      <div class="home-small-banners">
        <div class="av-container">
          <div class="av-row">
            <vtex:contentPlaceHolder id="Small Banners" />
          </div>
        </div>
      </div>

      <div class="home-banners-marcas">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex:contentPlaceHolder id="Banners marcas" />
            </div>
          </div>
        </div>
      </div>

      <div class="seo-contents">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24">
              <vtex:contentPlaceHolder id="Texto SEO" />
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- END - Miolo da página -->

    <!-- START - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- END - Subtemplate Generico -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- END - Subtemplate Footer -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- END - Subtemplate Scripts -->
  </body>
</html>
