<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <meta name="controller" content="List" />

    <!-- START - Subtemplate Metatags -->
    <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
    <!-- END - Subtemplate Metatags -->

    <!-- START - Style e Subtemplate Styles -->
    <vtex:template id="0-<%= storeAcronym %>-web-styles" />
    <!-- END - Subtemplate Styles -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- START - Subtemplate Header -->
    <vtex:template id="0-<%= storeAcronym %>-web-header" />
    <!-- END - Subtemplate Header -->

    <!-- START - Main -->
    <main class="main" id="main">
      <div class="av-container-fluid">
        <div class="av-row">
          <div class="av-hidden-xs av-hidden-sm">
            <div class="brand-banner">
              <vtex:contentPlaceHolder id="Banner Produtor" />
            </div>
          </div>
          <div class="brand-banner-mobile">
            <vtex:contentPlaceHolder id="Banner Produtor Mobile" />
          </div>
        </div>
      </div>

      <div class="av-container">
        <div class="brand-about">
          <vtex:contentPlaceHolder id="Sobre o Produtor" />
        </div>
        <div class="av-row">
          <div class="av-col-24 av-col-md-6">
            <!-- START: Breadcrumb -->
            <div class="breadcrumb">
              <vtex.cmc:breadCrumb />
            </div>
            <!-- END: Breadcrumb -->
          </div>
          <div class="av-col-24 av-col-md-8 av-col-md-push-10">
            <!-- START: Filter button -->
            <div class="search__result-filter">
              <button class="button__open-filter">Filtrar</button>
            </div>
            <!-- END: Filter button -->

            <!-- START: Order -->
            <div class="search__result-order">
              <select class="search-order" id="search-order">
                <option value="">Escolha aqui</option>
                <option value="OrderByPriceASC">Menor Preço</option>
                <option value="OrderByPriceDESC">Maior Preço</option>
                <option value="OrderByTopSaleDESC">Mais vendidos</option>
                <option value="OrderByReviewRateDESC">
                  Melhores avaliações
                </option>
                <option value="OrderByNameASC">A - Z</option>
                <option value="OrderByNameDESC">Z - A</option>
                <option value="OrderByReleaseDateDESC">
                  Data de lançamento
                </option>
                <option value="OrderByBestDiscountDESC">Melhor Desconto</option>
              </select>
            </div>
            <!-- END: Order -->
          </div>
          <div class="av-col-24 av-col-md-10 av-col-md-pull-8">
            <h1 class="titulo-sessao">
              <vtex.cmc:searchTitle />
            </h1>
            <div class="search-result--wrapper">
              <div class="search-result">
                Seu<span></span> resultado para: <strong></strong>
              </div>
            </div>
          </div>
        </div>
        <div class="av-row">
          <div class="av-col-xs-24 av-col-md-6">
            <!-- START: Filter -->
            <div class="search-filter">
              <vtex.cmc:searchNavigator />
            </div>
            <!-- END: Filter -->
          </div>

          <div class="av-col-xs-24 av-col-md-18">
            <!-- START: Search result -->
            <div class="search__result">
              <!-- START: Result -->
              <div class="search-default">
                <div class="search-default__loading"></div>

                <div class="search-default__no-result" style="display: none">
                  Nenhum produto encontrado
                </div>

                <vtex.cmc:searchResult
                  layout="d0061c9f-5272-4238-abc0-167870c7cc6d"
                  itemCount="24"
                  columnCount="24"
                />
              </div>
              <!-- END: Result -->
            </div>
            <!-- END: Search result -->
          </div>
        </div>
      </div>

      <div class="seo-contents">
        <div class="av-container">
          <div class="av-row">
            <div class="av-col-xs-24 av-col-md-16 av-col-md-offset-4">
              <vtex:contentPlaceHolder id="Texto SEO" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END - Main -->

    <!-- START - Subtemplate Generico -->
    <vtex:template id="0-<%= storeAcronym %>-web-generico" />
    <!-- END - Subtemplate Generico -->

    <!-- START - Subtemplate Footer -->
    <vtex:template id="0-<%= storeAcronym %>-web-footer" />
    <!-- END - Subtemplate Footer -->

    <!-- START - Scripts e Subtemplate Scripts -->
    <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
    <!-- END - Subtemplate Scripts -->
  </body>
</html>
