<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no"> 
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      p {
          font-family: 'Nunito Sans', sans-serif;
      }
      @media screen and (max-width: 630px) {
        .footer-contacts span { display: block; }
        .footer-social-side { width: 34%; }
        .footer-social-middle { width: 28%;}
        .footer-trocas img { width: 21px; }
        .footer-trocas a { font-size: 10px !important;}
      }
    </style>
</head>
<body>
  <div style="width: 100%;">
  <table border="0" cellpadding="0" cellspacing="0" align="center" style='font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif; width: 100%; max-width: 640px;'>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="100%" align="center" style="padding: 22px 0; border-bottom: 1px solid #EEF3F6; text-align: center;">
              <a href="https://www.{{_accountInfo.HostName}}.com.br" style="text-decoration: none; border: 0;">
                <img src="https://lojashoebiz.vteximg.com.br/arquivos/email-shoebiz-logo.png" width="151" height="32" style="display:inline-block;outline:none;border:none;text-decoration:none" alt="{{_accountInfo.TradingName}}" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style='font-size:14px;'>
        <div style="margin-top:1rem;margin-bottom:1rem;padding-top:3rem;padding-bottom:3rem;">
            <p style="font-size:24px;color:#25354d;margin-bottom:0px">
                <strong>Seu código de acesso é:</strong></p>
            <p style="color:#5497B5;font-size:20px;margin-top:0px;margin-bottom:2rem">
                <strong>{{aditionalData.accessKey}}</strong></p>
            <p style="font-size:16px;color:#3f3f40">
                Olá, {{to.0.name}},</p>
            <p style="font-size:16px;color:#3f3f40">
                Por favor, retorne à página de login e insira o código acima para confirmar
                sua identidade.
            </p>
            <p style="margin-bottom:0px;font-size:16px;color:#3f3f40">
                Abraços,</p>
            <p style="margin-top:0px;font-size:16px;color:#3f3f40">
                Equipe VTEX</p><br>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="email-footer">
          <tr>
            <td style="background-color: #fff; padding:0px; text-align: center;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer-politicas" style="max-width: 100%; width: 100%">
                <tr height="40" style="height: 40px; overflow: hidden;">
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                  <td width="2%" height="40" valign="top" align="left" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-left.png" alt="background" /></td>
                  <td class="footer-social-middle" width="18%" align="center" height="40" bgcolor="#AB0779" valign="middle" style="background-color: #AB0779; width: 118px;">
                    <a href="https://www.facebook.com/ShoebizOficial/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-facebook-icon.png" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/shoebiz_official/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-instagram-icon.png" alt="Instagram" /></a>
                  </td>
                  <td width="2%" height="40" valign="top" align="right" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-right.png" alt="background" /></td>
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; padding:13px 0px 11px; text-align: center;" class="footer-trocas">
              <img style="display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 0;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-trocas-icon.png" alt="Trocas" />
              <a href="https://www.{{_accountInfo.HostName}}.com.br/institucional/troca-e-devolucao" style="font-size: 15px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; line-height: 14px;">trocas e devoluções</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; text-align: center; padding: 15px 20px 32px; border-top: 1px solid #000;" class="footer-contacts">
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; height: auto; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-email-icon.png" alt="email" />
                <span style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">relacionamento@shoebiz.com.br</span>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-telefone-icon.png" alt="Telefone" />
                <a href="tel:1130339533" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase;font-weight: 600;">(11) 3033-9533</a>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  </div>
</body>
</html>