<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{_accountInfo.TradingName}}</title>
<!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      p {
          font-family: 'Nunito Sans', sans-serif;
      }
      @media screen and (max-width: 630px) {
        .footer-contacts span { display: block; }
        .footer-social-side { width: 34%; }
        .footer-social-middle { width: 28%;}
        .footer-trocas img { width: 21px; }
        .footer-trocas a { font-size: 10px !important;}
      }
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
</style>
  <style>
@media (max-width: 600px) {

  img {
    max-width: 100% !important;
    height: auto !important;
  }
}
</style>
  <style>
@media screen and (min-width: 30em) {

  .ph4-ns {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .mv4-ns {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}
</style>
</head>
    <body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
      <tr style="box-sizing: border-box !important;">
        <td align="left" valign="top" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
          <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; max-width: 640px; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" bgcolor="#fff">
            <tr>
            <td width="100%" align="center" style="padding: 22px 0; border-bottom: 1px solid #EEF3F6; text-align: center;">
              <a href="https://www.{{_accountInfo.HostName}}.com.br" style="text-decoration: none; border: 0;">
                <img src="https://lojashoebiz.vteximg.com.br/arquivos/email-shoebiz-logo.png" width="151" height="32" style="display:inline-block;outline:none;border:none;text-decoration:none" alt="{{_accountInfo.TradingName}}" />
              </a>
            </td>
          </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; width: 100%; padding-bottom: 2rem; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="center">

                <h1 style="margin: 0; font-size: 50px; line-height: 58px; box-sizing: border-box !important;">Seu pagamento foi aprovado.</h1>
<div style="box-sizing: border-box; color: #777; margin-top: .5rem !important;">
  Referente ao Pedido <span style="font-weight: 700 !important;">#{{orderId}}</span>
</div>
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100% !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
                <div style="box-sizing: border-box; margin-top: 2rem !important;">
                  <p style="box-sizing: border-box !important;">
{{#if orders}}
  {{#if orders.0.clientProfileData.firstName}}
    {{#compare orders.0.clientProfileData.firstName '!=' 'isAnonymous'}}
      Olá, {{orders.0.clientProfileData.firstName}}.
    {{/compare}}
  {{/if}}
{{else}}
  {{#if clientProfileData.firstName}}
    {{#compare clientProfileData.firstName '!=' 'isAnonymous'}}
      Olá, {{clientProfileData.firstName}}.
    {{/compare}}
  {{/if}}
{{/if}}
                    {{#compare shippingData.logisticsInfo.length '>' 1}}
                      Estamos providenciando a emissão da Nota Fiscal do seu pedido e o envio dos seus produtos.
                    {{else}}
                      Estamos providenciando a emissão da Nota Fiscal do seu pedido e o envio do seu produto.
                    {{/compare}}
                  </p>
                </div>
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100%; padding-bottom: 2rem; padding-top: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
                <h3 style="font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; margin-top: 16px; box-sizing: border-box; margin: 0 !important;">Pagamento</h3>
                {{#each paymentData.transactions}}
{{#compare payments.length "==" 1}}
  {{#each payments}}
  <div style="box-sizing: border-box; line-height: 1.5; font-size: 1.25rem !important;">
    {{paymentSystemName}}
    {{#if lastDigits}} final {{lastDigits}} {{/if}}
    <br/>R$ {{formatCurrency value}}
    {{#eq installments 1}}
      à vista
    {{else}}
      em {{installments}}x
    {{/eq}}
  </div>
  {{/each}}
{{/compare}}

{{#compare payments.length "!=" 1}}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
  {{#each payments}}
  <tr style="box-sizing: border-box !important;">
    <td style="line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; padding-top: .25rem; padding-bottom: .25rem; font-size: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
      {{paymentSystemName}}
      {{#if lastDigits}} final {{lastDigits}} {{/if}}
      {{#eq installments 1}}
        à vista
      {{else}}
        em {{installments}}x
      {{/eq}}
    </td>
    <td style="line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; padding-top: .25rem; padding-bottom: .25rem; font-size: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">R$ {{formatCurrency value}}</td>
  </tr>
  {{/each}}
</table>
{{/compare}}
                {{/each}}
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; padding-top: 1rem; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
<p style="box-sizing: border-box !important;">
  Atenciosamente,<br/>Equipe {{_accountInfo.TradingName}}
</p>
              </td>
            </tr>
            <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="email-footer">
          <tr>
            <td style="background-color: #fff; padding:0px; text-align: center;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer-politicas" style="max-width: 100%; width: 100%">
                <tr height="40" style="height: 40px; overflow: hidden;">
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                  <td width="2%" height="40" valign="top" align="left" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-left.png" alt="background" /></td>
                  <td class="footer-social-middle" width="18%" align="center" height="40" bgcolor="#AB0779" valign="middle" style="background-color: #AB0779; width: 118px;">
                    <a href="https://www.facebook.com/ShoebizOficial/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-facebook-icon.png" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/shoebiz_official/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-instagram-icon.png" alt="Instagram" /></a>
                  </td>
                  <td width="2%" height="40" valign="top" align="right" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-right.png" alt="background" /></td>
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; padding:13px 0px 11px; text-align: center;" class="footer-trocas">
              <img style="display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 0;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-trocas-icon.png" alt="Trocas" />
              <a href="https://www.{{_accountInfo.HostName}}.com.br/institucional/troca-e-devolucao" style="font-size: 15px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; line-height: 14px;">trocas e devoluções</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; text-align: center; padding: 15px 20px 32px; border-top: 1px solid #000;" class="footer-contacts">
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; height: auto; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-email-icon.png" alt="email" />
                <span style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">relacionamento@shoebiz.com.br</span>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-telefone-icon.png" alt="Telefone" />
                <a href="tel:1130339533" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase;font-weight: 600;">(11) 3033-9533</a>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
    