<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<!-- So that mobile webkit will display zoomed in -->
<meta name="format-detection" content="telephone=no">
<!-- disable auto telephone linking in iOS -->
<title>{{orders.0.sellers.0.name}}</title>
<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      p {
          font-family: 'Nunito Sans', sans-serif;
      }
      @media screen and (max-width: 630px) {
        .footer-contacts span { display: block; }
        .footer-social-side { width: 34%; }
        .footer-social-middle { width: 28%;}
        .footer-trocas img { width: 21px; }
        .footer-trocas a { font-size: 10px !important;}
      }
        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {padding:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 100% !important;
            }
        }
        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            .status{padding-bottom:0px;}
        }
        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {
            /* force container columns to (horizontal) blocks */
            .container{border-radius:0 !important;}
            .no-padding-top-bottom-mobile{padding-top:0;padding-bottom:0;padding:0 !important;}
            .img-product{width:70px;}
            .side-border td{padding-left:0;}
            .button{padding:11px 0 !important;font-size:13px;width:100%;}
            .table-button{width:100% !important;}
            td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
                /* change left/right padding and margins to top/bottom ones */
                padding-bottom: 12px;
                border-bottom: 1px solid #eee;
            }
            /* remove bottom border for last column/row */
            table[id="last-col-3"] {
                border-bottom: none !important;
            }
            /* align images right and shrink them a bit */
            img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
        }
        @media only screen and (max-width : 800px) {
            .status{width:100% !important;}
            .status div{width:200px !important;}
        }
</style>
</head>
<body marginwidth="0" marginheight="0" bgcolor="#fff" style="padding:0px 0px;color:#333;" leftmargin="0" topmargin="0">
<!-- 100% wrapper (grey background) -->
    <table width="100%" cellspacing="0" border="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td valign="top" bgcolor="#fff" align="center" class="no-padding-top-bottom-mobile" style="background-color: #fff;color:#333;">
                    <!-- 600px container (white background) -->
                    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" class="container" style="max-width:640px;">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" align="left" class="container-padding" style="background-color: #ffffff; font-size: 13px; line-height: 19px; font-family: Helvetica, sans-serif; color: #333;">
                                    <br />
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="columns-container">
                                        <tbody>
                                            <tr>
            <td width="100%" align="center" style="padding: 22px 0; border-bottom: 1px solid #EEF3F6; text-align: center;">
              <a href="https://www.{{_accountInfo.HostName}}.com.br" style="text-decoration: none; border: 0;">
                <img src="https://lojashoebiz.vteximg.com.br/arquivos/email-shoebiz-logo.png" width="151" height="32" style="display:inline-block;outline:none;border:none;text-decoration:none" alt="{{_accountInfo.TradingName}}" />
              </a>
            </td>
          </tr>
                                            <tr>
                                                <td class="force-col">
                                                    <!-- ### BEGIN CONTENT ### -->
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="left" style="padding-bottom:0;margin-bottom:0;" class="col-3">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left">
                                                                    <div style="color: #7F7F7F; font-size: 23px; font-family: sans-serif;font-weight:bold;">Pagamento pendente</div>
                                                                    <span style="font-size:16px;color:#BBB;display:inline-block;">realizado em: {{formatDate orders.0.creationDate}}</span><br /><br />
                                                                    <span style="font-size:18px;">Olá, <strong>{{orders.0.clientProfileData.firstName}}</strong>.</span><br> <div style="padding-top:3px;padding-bottom:10px;">Verificamos que o pagamento referente ao(s) pedido(s) abaixo continua pendente. Por favor, realize este pagamento para continuar com sua compra.</div>
                                                                </td>
                                                            </tr>
                                                           

                                                            <!-- BOLETO e MERCHANT NULL -->
                                                            {{#eq split false}}
                                                            <tr>
                                                                <td style="padding-top:5px;padding-bottom:5px;">
                                                                    <table cellspacing="0" style="padding-top:5px;padding-bottom:5px;padding-right:25px;" border="0" align="left" class="side-border">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="color:#BBB;font-size:14px;font-weight:bold;text-transform:uppercase;" scope="col">Forma de pagamento</div>
                                                                                    {{#each orders.0.paymentData.transactions}}
                                                                                        {{#each payments}}
                                                                                            <div>
                                                                                                <strong>{{paymentSystemName}} </strong>
                                                                                                <span>R$ {{formatCurrency value}} à vista</span> 
                                                                                                {{#eq paymentSystemName 'Boleto Bancário'}}
                                                                                                    <span>
                                                                                                        <a style="background: #00BB00; color: #fff; display:inline-block; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);text-decoration: none;padding:4px 8px;border:1px solid #ccc;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: linear-gradient(rgb(0, 201, 0), rgb(0, 150, 0)); border-radius:4px;text-align:center;margin-top:5px;" href="{{replace url '{Installment}' installments}}" class="button"><span style="font-size:16px;"><span>Imprimir boleto</span></span></a>
                                                                                                    </span>
                                                                                                {{/eq}}
                                                                                            </div>
                                                                                        {{/each}}
                                                                                    {{/each}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            {{/eq}}  
                                                                {{#eq split undefined}}
                                                            <tr>
                                                                <td style="padding-top:5px;padding-bottom:5px;">
                                                                    <table cellspacing="0" style="padding-top:5px;padding-bottom:5px;padding-right:25px;" border="0" align="left" class="side-border">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="color:#BBB;font-size:14px;font-weight:bold;text-transform:uppercase;" scope="col">Forma de pagamento</div>
                                                                                    {{#each orders.0.paymentData.transactions}}
                                                                                        {{#each payments}}
                                                                                            <div>
                                                                                                <strong>{{paymentSystemName}} </strong>
                                                                                                <span>R$ {{formatCurrency value}} à vista</span> 
                                                                                                {{#eq paymentSystemName 'Boleto Bancário'}}
                                                                                                    <span>
                                                                                                        <a style="background: #00BB00; color: #fff; display:inline-block; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);text-decoration: none;padding:4px 8px;border:1px solid #ccc;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: linear-gradient(rgb(0, 201, 0), rgb(0, 150, 0)); border-radius:4px;text-align:center;margin-top:5px;" href="{{replace url '{Installment}' installments}}" class="button"><span style="font-size:16px;"><span>Imprimir boleto</span></span></a>
                                                                                                    </span>
                                                                                                {{/eq}}
                                                                                            </div>
                                                                                        {{/each}}
                                                                                    {{/each}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            {{/eq}}                                                          
                                                        </tbody>
                                                    </table>

                                                     {{#each orders}}

                                                    <!-- TABELA DE DETALHE DA ORDER -->
                                                    <table width="100%" cellspacing="0" border="0" style="border:1px solid #BBB;border-bottom:1px solid #333;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="background-color:#f9f9f9;padding-left:10px;">
                                                                    <table align="left" style="padding-bottom:0px;padding-top:10px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size:14px;">Pedido nº <span style="font-size:22px;display:inline-block;">{{orderId}}</span></strong>
                                                                                    </div>
                                                                                    <div style="color:#BBB;">Fornecido e entregue por <strong style="display:inline-block;"><span>{{sellers.0.name}}</span></strong></div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="background-color:#f9f9f9;padding-left:10px;">
                                                                    <table style="padding-bottom:0px;padding-top:5px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                                                                                        <strong style="vertical-align:top;font-size:16px;color:#51BC00;">&#10003;</strong>
                                                                                        <div style="display:inline-block;line-height:16px;font-size:10px;color:#51BC00;padding-left:3px;width:100px;">
                                                                                            <strong style="font-size:14px;">PEDIDO REALIZADO</strong>
                                                                                            <!--<br><span style="display:inline-block;line-height:16px;">{{formatDate orders.0.creationDate}} 10:30</span>-->
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                                                                                        <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
                                                                                        <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:120px;">
                                                                                            <strong style="font-size:14px;"> PAGAMENTO CONFIRMADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                                                                                        <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
                                                                                        <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:120px;">
                                                                                            <strong style="font-size:14px;"> PEDIDO FATURADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="status" style="vertical-align:top;vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                                                                                        <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
                                                                                        <div style="display:inline-block;line-height:16px;font-size:10px;padding-left:3px;color:#BBB;width:90px;">
                                                                                            <strong style="font-size:14px;"> PEDIDO ENVIADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-bottom:0;">
                                                                    {{#each items}}
                                                                    <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-left:10px;">
                                                                                    <span>{{name}}</span><br>
                                                                                    <table cellpadding="10" align="left" style="padding-top:5px;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                                                                                    Entrega                                                             {{#each ../shippingData.logisticsInfo}}
                                                                                                            {{#eq itemId ../id}}
                                                                                                                {{#each slas}}

                                                                                                                    {{#eq ../selectedSla id}}
                                                                                                                        {{#if deliveryWindow}}
                                                                                                                        agendada entre <strong> 
                                                                                                                           {{formatDateTime deliveryWindow.startDateUtc}} e
                                                                                                                            {{formatDateTime deliveryWindow.endDateUtc}}   </strong>
                                                                                                                        {{else}}
                                                                                                                            <strong>
                                                                                                                            <span style="display:inline-block;">
                                                                                                                            {{#unless shippingEstimateDate}}
                                                                                                                                </strong> em até <strong>
                                                                                                                                {{#hasSubStr shippingEstimate 'bd'}}
                                                                                                                                    {{replace shippingEstimate 'bd' ' dias úteis.'}}
                                                                                                                                {{else}}
                                                                                                                                    {{replace shippingEstimate 'd' ' dias.'}}
                                                                                                                                {{/hasSubStr}}
                                                                                                                            {{else}}
                                                                                                                                </strong> até <strong>
                                                                                                                                {{formatDate shippingEstimateDate}}
                                                                                                                            {{/unless}}
                                                                                                                            </strong>
                                                                                                                        {{/if}}
                                                                                                                    {{/eq}}
                                                                                                                {{/each}}
                                                                                                            {{/eq}}
                                                                                                        {{/each}}
                                                                                                    </span>
                                                                                                    </strong><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table cellpadding="5" align="right" style="padding-top:5px;">
                                                                                        <tbody><tr>
                                                                                            <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                                                                                <span>{{quantity}}x R$ {{formatCurrency sellingPrice}}</span><br>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    {{#each bundleItems}}
                                                                        {{#if name}}
                                                                            <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="padding-left:10px;">
                                                                                            <table cellpadding="10" align="left" style="padding-top:5px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                                                                                            <span>{{name}}</span><br>
                                                                                                            </strong><br>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <table cellpadding="5" align="right" style="padding-top:5px;">
                                                                                                <tbody><tr>
                                                                                                    <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                                                                                        <span>R$ {{formatCurrency price}}</span><br>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        {{/if}}
                                                                    {{/each}}
                                                                {{/each}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                       <!-- TABELA DE FORMA DE PAGAMENTO DA ORDER --> 

                                                    
                                                    {{#eq ../split true}}

                                                        <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:0px;border: 1px solid #BBB;border-top:0px;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px;" bgcolor="#f9f9f9" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td> 
                                                                        <div style="color:#BBB;font-size:14px;font-weight:bold;text-transform:uppercase;" scope="col">Forma de pagamento</div>   
                                                                        {{#each paymentData.transactions}}
                                                                            {{#each payments}}
                                                                                <div>
                                                                                    <strong>{{paymentSystemName}} </strong>
                                                                                    <span>R$ {{formatCurrency value}}</span>
                                                                                    </span>  &nbsp;
                                                                                </div>
                                                                            {{/each}}
                                                                        {{/each}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    {{/eq}}
                                                       
                                                    <!-- TABELA DE TOTALIZADORES DA ORDER --> 
                                                    <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;border-top:0px;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px;" bgcolor="#f9f9f9">
                                                        <tbody>
                                                            {{#each totals}}
                                                                    {{#if value}}
                                                            <tr>
                                                                <td valign="top" align="right" style="color:#7F7F7F;">
                                                                    {{#eq id "Items"}}Itens{{/eq}}
                                                                    {{#eq id "Shipping"}}Entrega{{/eq}}
                                                                    {{#eq id "Discounts"}}Descontos{{/eq}}
                                                                    {{#eq id "Tax"}}Taxas{{/eq}}
                                                                </td>
                                                                <td valign="top" align="right" style="text-align:left;">
                                                                    R$ {{formatCurrency value}}
                                                                </td>
                                                            </tr>
                                                            {{/if}}
                                                            {{/each}}
                                                        </tbody>
                                                    </table>

                                                   
                                        {{/each}}

                                            </tr>
                                                    <br />
                                                </td>

                                            <tr>
                                                <td >
                                                    <table align="left" class="table-button">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a style="line-height:19px;margin-bottom:15px;background: #006dcc; color: #fff; display:inline-block; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);text-decoration: none;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;border:1px solid #ccc;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204)); border-radius:4px;text-align:center;margin-top:10px" href="{{ordersUrl}}/" class="button">Acompanhe seus pedidos no site</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>ATENÇÃO: Desconsidere a mensagem caso já tenha efetuado o pagamento.</strong>  <br><br>
                                                    <strong>Atenciosamente,</strong><br>
                                                    <strong>Equipe {{_accountInfo.TradingName}}</strong>.<br><br>
                                                </td>
                                            </tr> 
                                            <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="email-footer">
          <tr>
            <td style="background-color: #fff; padding:0px; text-align: center;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer-politicas" style="max-width: 100%; width: 100%">
                <tr height="40" style="height: 40px; overflow: hidden;">
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                  <td width="2%" height="40" valign="top" align="left" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-left.png" alt="background" /></td>
                  <td class="footer-social-middle" width="18%" align="center" height="40" bgcolor="#AB0779" valign="middle" style="background-color: #AB0779; width: 118px;">
                    <a href="https://www.facebook.com/ShoebizOficial/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-facebook-icon.png" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/shoebiz_official/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-instagram-icon.png" alt="Instagram" /></a>
                  </td>
                  <td width="2%" height="40" valign="top" align="right" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-right.png" alt="background" /></td>
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; padding:13px 0px 11px; text-align: center;" class="footer-trocas">
              <img style="display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 0;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-trocas-icon.png" alt="Trocas" />
              <a href="https://www.{{_accountInfo.HostName}}.com.br/institucional/troca-e-devolucao" style="font-size: 15px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; line-height: 14px;">trocas e devoluções</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; text-align: center; padding: 15px 20px 32px; border-top: 1px solid #000;" class="footer-contacts">
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; height: auto; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-email-icon.png" alt="email" />
                <span style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">relacionamento@shoebiz.com.br</span>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-telefone-icon.png" alt="Telefone" />
                <a href="tel:1130339533" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase;font-weight: 600;">(11) 3033-9533</a>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>  
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>
