<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{_accountInfo.TradingName}}</title>
<!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      p {
          font-family: 'Nunito Sans', sans-serif;
      }
      @media screen and (max-width: 630px) {
        .footer-contacts span { display: block; }
        .footer-social-side { width: 34%; }
        .footer-social-middle { width: 28%;}
        .footer-trocas img { width: 21px; }
        .footer-trocas a { font-size: 10px !important;}
      }
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
</style>
  <style>
@media (max-width: 600px) {

  img {
    max-width: 100% !important;
    height: auto !important;
  }
}
</style>
  <style>
@media screen and (min-width: 30em) {

  .w-70-ns {
    width: 70% !important;
  }

  .ph4-ns {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .mv1-ns {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
  }

  .mv4-ns {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}
</style>
</head>
    <body style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; width: 100%; height: 100%; margin: 0; padding: 0; background: #f1f1f1 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; margin: 0; padding: 0; background: #f1f1f1; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; width: 100%; height: 100%; line-height: 100% !important;">
      <tr style="box-sizing: border-box !important;">
        <td align="left" valign="top" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
          <table class="mv4-ns" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; max-width: 640px; width: 100%; background-color: #fff; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" bgcolor="#fff">
            <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="100%" align="center" style="padding: 22px 0; border-bottom: 1px solid #EEF3F6; text-align: center;">
              <a href="https://www.{{_accountInfo.HostName}}.com.br" style="text-decoration: none; border: 0;">
                <img src="https://lojashoebiz.vteximg.com.br/arquivos/email-shoebiz-logo.png" width="151" height="32" style="display:inline-block;outline:none;border:none;text-decoration:none" alt="{{_accountInfo.TradingName}}" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; border-bottom-style: solid; border-bottom-width: 1px; border-color: #eee; width: 100%; padding-bottom: 2rem; text-align: center !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="center"><br/>
                <h1 style="margin: 0; font-size: 50px; line-height: 58px; box-sizing: border-box !important;">Sua Nota Fiscal foi emitida.</h1>
<div style="box-sizing: border-box; color: #777; margin-top: .5rem !important;">
  Referente ao Pedido <span style="font-weight: 700 !important;">#{{orderId}}</span>
</div>
                {{#compare items.length '!=' shippingData.logisticsInfo.length}}
                  <div class="w-70-ns" style="box-sizing: border-box; display: inline-block; font-weight: 700; line-height: 1.5; background-color: #eee; padding-top: 1rem; padding-bottom: 1rem; padding-left: 1rem; padding-right: 1rem; margin-top: 2rem; margin-right: auto; margin-left: auto !important;">
                    <div style="box-sizing: border-box !important;">Seu pedido possui mais de uma Nota Fiscal.</div>
                    <div style="box-sizing: border-box !important;">Avisaremos sobre a emissão de cada uma delas.</div>
                  </div>
                {{/compare}}
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100% !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
                <div style="box-sizing: border-box; margin-top: 2rem !important;">
                  {{#if clientProfileData.firstName}}
                    {{#compare clientProfileData.firstName '!=' 'isAnonymous'}}
                      <p style="box-sizing: border-box !important;">
{{#if orders}}
  {{#if orders.0.clientProfileData.firstName}}
    {{#compare orders.0.clientProfileData.firstName '!=' 'isAnonymous'}}
      Olá, {{orders.0.clientProfileData.firstName}}.
    {{/compare}}
  {{/if}}
{{else}}
  {{#if clientProfileData.firstName}}
    {{#compare clientProfileData.firstName '!=' 'isAnonymous'}}
      Olá, {{clientProfileData.firstName}}.
    {{/compare}}
  {{/if}}
{{/if}}
{{#compare shippingData.logisticsInfo.0.selectedDeliveryChannel '==' 'pickup-in-point'}}
  {{#compare items.length '>' 1}}
    Estamos empacotando seus produtos para que você possa retirá-los.
  {{else}}
    Estamos empacotando seu produto para que você possa retirá-lo.
  {{/compare}}
{{else}}
  {{#compare items.length '>' 1}}
    Estamos empacotando seus produtos para providenciar o envio.
  {{else}}
    Estamos empacotando seu produto para providenciar o envio.
  {{/compare}}
{{/compare}}
                      </p>
                    {{/compare}}
                  {{/if}}
                </div>
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 100%; padding-bottom: 2rem; padding-top: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
                {{#richShippingData shippingData}}
                  {{#group logisticsInfo by="addessId"}}
                    <div style="box-sizing: border-box; clear: both; float: none !important;">
                      {{#compare items.length '>' 1}}
                        <h3 style="font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; margin-top: 16px; box-sizing: border-box; margin: 0 !important;">Produtos na Nota Fiscal</h3>
                      {{else}}
                        <h3 style="font-size: 20px; line-height: 36px; text-transform: uppercase; letter-spacing: 1.2pt; font-weight: 300; margin-top: 16px; box-sizing: border-box; margin: 0 !important;">Produto na Nota Fiscal</h3>
                      {{/compare}}

                      {{#group items by="packageId"}}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
  <thead>
  </thead>
  <tbody>
  {{#each items}}
    {{#each ../../../../items}}
      {{#eq @index ../itemIndex}}
        <tr style="box-sizing: border-box !important;">
          <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 4rem; padding-right: .5rem; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left" valign="top"><img alt="" src="{{imageUrl}}" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100% !important;"/></td>
          <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left" valign="top">
            <div class="mv1-ns" style="box-sizing: border-box; line-height: 1.25; font-size: 1rem !important;">{{name}}</div>
            <div style="box-sizing: border-box; color: #777 !important;">
              {{quantity}} un.
              {{#if sellingPrice}}
                R$ {{formatCurrency sellingPrice}}
              {{else}}
                Grátis
              {{/if}}
            </div>
          </td>
        </tr>
        {{#each bundleItems}}
          {{#if name}}
            <tr style="box-sizing: border-box !important;">
              <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; width: 4rem; padding-right: .5rem; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left" valign="top"><img alt="" src="{{imageUrl}}" style="vertical-align: top; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100% !important;"/></td>
              <td style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; padding-top: .5rem; padding-bottom: .5rem; vertical-align: top !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left" valign="top">
                <div class="mv1-ns" style="box-sizing: border-box; line-height: 1.25; font-size: 1rem !important;">{{name}}</div>
                <div style="box-sizing: border-box; color: #777 !important;">
                  {{quantity}} un.
                  {{#if price}}
                    R$ {{formatCurrency price}}
                  {{else}}
                    Grátis
                  {{/if}}
                </div>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{/eq}}
    {{/each}}
    </tbody>
  {{/each}}
</table>
                      {{/group}}
                    </div>
                  {{/group}}
                {{/richShippingData}}
              </td>
            </tr>

            <tr style="box-sizing: border-box !important;">
              <td class="ph4-ns" style="font-size: 14px; line-height: 20px; box-sizing: border-box; border-collapse: collapse; text-align: left; border-top-style: solid; border-top-width: 1px; border-color: #eee; padding-top: 1rem; padding-bottom: 1rem !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;" align="left">
<p style="box-sizing: border-box !important;">
  Atenciosamente,<br/>Equipe {{_accountInfo.TradingName}}
</p>
              </td>
            </tr>
            <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="email-footer">
          <tr>
            <td style="background-color: #fff; padding:0px; text-align: center;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer-politicas" style="max-width: 100%; width: 100%">
                <tr height="40" style="height: 40px; overflow: hidden;">
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                  <td width="2%" height="40" valign="top" align="left" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-left.png" alt="background" /></td>
                  <td class="footer-social-middle" width="18%" align="center" height="40" bgcolor="#AB0779" valign="middle" style="background-color: #AB0779; width: 118px;">
                    <a href="https://www.facebook.com/ShoebizOficial/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-facebook-icon.png" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/shoebiz_official/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-instagram-icon.png" alt="Instagram" /></a>
                  </td>
                  <td width="2%" height="40" valign="top" align="right" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-right.png" alt="background" /></td>
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; padding:13px 0px 11px; text-align: center;" class="footer-trocas">
              <img style="display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 0;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-trocas-icon.png" alt="Trocas" />
              <a href="https://www.{{_accountInfo.HostName}}.com.br/institucional/troca-e-devolucao" style="font-size: 15px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; line-height: 14px;">trocas e devoluções</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; text-align: center; padding: 15px 20px 32px; border-top: 1px solid #000;" class="footer-contacts">
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; height: auto; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-email-icon.png" alt="email" />
                <span style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">relacionamento@shoebiz.com.br</span>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-telefone-icon.png" alt="Telefone" />
                <a href="tel:1130339533" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase;font-weight: 600;">(11) 3033-9533</a>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
