<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      p {
          font-family: 'Nunito Sans', sans-serif;
      }
      @media screen and (max-width: 630px) {
        .footer-contacts span { display: block; }
        .footer-social-side { width: 34%; }
        .footer-social-middle { width: 28%;}
        .footer-trocas img { width: 21px; }
        .footer-trocas a { font-size: 10px !important;}
      }
    </style>

    <title>{{_accountInfo.TradingName}}</title>
</head>
<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
    <center>
        <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style=''>
            <tr>
                <td align='center' valign='top'>
                    <table border='0' cellpadding='0' cellspacing='0' width='100%' style="max-width: 640px">
                        <tr>
                            <td align='center' valign='top'>
                                <!-- // Begin Template Body \\ -->
                                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="100%" align="center" style="padding: 22px 0; border-bottom: 1px solid #EEF3F6; text-align: center;">
              <a href="https://www.{{_accountInfo.HostName}}.com.br" style="text-decoration: none; border: 0;">
                <img src="https://lojashoebiz.vteximg.com.br/arquivos/email-shoebiz-logo.png" width="151" height="32" style="display:inline-block;outline:none;border:none;text-decoration:none" alt="{{_accountInfo.TradingName}}" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
                                    <tr>
                                        <td valign='top'>
                                            <br />
                                            <table border='0' cellspacing='0' width='100%' style=''>
                                                <!-- // Header content \\ -->
                                                <tr>
                                                    <td valign='top' style='font-size: 13px;'>
                                                        <br />
                                                        <p>Olá, <strong>{{to.0.name}}</strong>.</p>
                                                        <p>
Seus dados foram cadastrados com sucesso em nossa base dados. <br />
</p>

<p>
A partir de agora você está apto a realizar a autenticação para acesso as áreas restritas.
</p>

<p>
<a href='https://vtexid.vtexcommerce.com.br/io/vtexid/vtex-id-client/index.html?externalApplicationAuth=true&statusCode=401&returnUrl='>Clique aqui</a> para acessar a tela de autenticação para definir a sua senha. Selecione as opções 'Entrar com email e senha', 'Cadastre uma nova senha' e siga o passo a passo para definir a sua senha.'
</p>
                                                        <br />
                                                    </td>
                                                </tr>

                                            </table>
                                            <!-- // End Module: Standard Content \\ -->

                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Body \\ -->
                            </td>
                        </tr>
                        <tr>
                            <td align='center' valign='top'>
                                <!-- // Begin Template Footer \\ -->
                                <table border='0' cellspacing='0' width='700' style='border-top: 3px solid #F2F2F2'>
                                    <tr>
                                        <td valign='top' style='font-size: 13px;'>
                                            <br />
                                            <p>Atenciosamente,<br />
                                            Equipe {{_accountInfo.TradingName}}</p>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Footer \\ -->
                            </td>
                        </tr>
                        <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="email-footer">
          <tr>
            <td style="background-color: #fff; padding:0px; text-align: center;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer-politicas" style="max-width: 100%; width: 100%">
                <tr height="40" style="height: 40px; overflow: hidden;">
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                  <td width="2%" height="40" valign="top" align="left" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-left.png" alt="background" /></td>
                  <td class="footer-social-middle" width="18%" align="center" height="40" bgcolor="#AB0779" valign="middle" style="background-color: #AB0779; width: 118px;">
                    <a href="https://www.facebook.com/ShoebizOficial/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-facebook-icon.png" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/shoebiz_official/" style="display: inline-block;"><img style="display: block; margin: 0 6px; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-instagram-icon.png" alt="Instagram" /></a>
                  </td>
                  <td width="2%" height="40" valign="top" align="right" bgcolor="#AB0779"><img style="display: block; border: 0; height: 40px; width: 11px;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-social-bg-right.png" alt="background" /></td>
                  <td class="footer-social-side" width="39%" height="40" bgcolor="#EEF3F6" valign="top"><div style="width: 100%; height: 20px; background-color: #fff"></div></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; padding:13px 0px 11px; text-align: center;" class="footer-trocas">
              <img style="display: inline-block; vertical-align: middle; margin: 0 10px 0 0; border: 0;" src="https://lojashoebiz.vteximg.com.br/arquivos/email-trocas-icon.png" alt="Trocas" />
              <a href="https://www.{{_accountInfo.HostName}}.com.br/institucional/troca-e-devolucao" style="font-size: 15px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; line-height: 14px;">trocas e devoluções</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #EEF3F6; text-align: center; padding: 15px 20px 32px; border-top: 1px solid #000;" class="footer-contacts">
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-whatsapp-icon.png" alt="whatsapp" />
                <a href="https://api.whatsapp.com/send?phone=551130339533&text=Olá, preciso de ajuda!" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">(11) 3033-9533</a>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; height: auto; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-email-icon.png" alt="email" />
                <a href="mailto:relacionamento@shoebiz.com.br" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; font-weight: 600;">relacionamento@shoebiz.com.br</a>
              </span>
              <span style="padding: 6px 20px; ">
                <img style="display: inline-block; vertical-align: middle; margin: 0 4px 0 0; border: 0; " src="https://lojashoebiz.vteximg.com.br/arquivos/email-telefone-icon.png" alt="Telefone" />
                <a href="tel:1130339533" style="font-size: 12px; font-family: 'Nunito Sans', sans-serif; color: #000; text-decoration: none; text-transform: uppercase;font-weight: 600;">(11) 3033-9533</a>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>
</html>